[2021-05-02 22:34] TheObliterator commented on #133
I've added a PR (#268) to provide a workaround for this issue, hopefully it will be of help to anyone encountering the same problem. The PR allows you to set the rollout value to -1 which then flags the release as a draft release (ideal for internal releases which haven't yet been reviewed/approved).

[2021-05-06 11:20] DaniilShmelev commented on #220
Thanks @SebastienForay for your contribution! These changes will be rolled out in the nearest future

[2021-05-06 17:09] DaniilShmelev commented on #220
The changes have been deployed

[2021-05-06 17:09] #220 closed

[2021-05-06 21:22] Vaahik opened #270 "##[error]Error: Changes cannot be sent for review automatically. Please set the query parameter changesNotSentForReview to true."
Error in upload to google play internal track.
##[error]Error: Changes cannot be sent for review automatically. Please set the query parameter changesNotSentForReview to true., Once committed, the changes in this edit can be sent for review from the Google Play Console UI.
Last success upload May 06 2021.

- task: GooglePlayReleaseBundle@3
  displayName: Upload release to Google Play
  inputs:

[2021-05-07 12:14] alexander-smolyakov commented on #270
Hey @Vaahik, Could you please re-run the pipeline with the “[Enable system diagnostics](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops#configure-verbose-logs)” option enabled and share the pipeline logs with system diagnostics information?

[2021-05-11 12:38] Vaahik commented on #270
[googlesuccess.txt](https://github.com/microsoft/google-play-vsts-extension/files/6459116/googlesuccess.txt)

[2021-05-11 20:53] Vaahik commented on #270
Error in last operation. edits.commit
https://developers.google.com/android-publisher/api-ref/rest/v3/edits/commit

[2021-05-12 09:36] Vaahik commented on #270
I found a solution.
the error disappears if the In review status is set in the Google Play Console.
I think that the error is in Method: edits.commit.
In the parameter changesNotSentForReview.

[2021-05-13 15:09] vladislav-ryzhov commented on #270
Hi @Vaahik
Do you mean you changed some option in your Google Play Console and it started working?
Before this task started to fail, were there any rejections for your updates in the Google Play Console?

[2021-05-13 16:33] Vaahik commented on #270
I change status to In review. And pipeline stage upload is done. But new packages also is status In review.
Before, i upload package (Playstore Console interface) in Alpha - Closed testing, and change status in review.

[2021-05-13 16:42] Vaahik commented on #270
Yes. review reject.

[2021-05-19 14:15] max-zaytsev commented on #249
Hi @BiliBoomBo,

We investigated the possibility of downloading native debug symbols, but faced the issue of downloading mapping.txt and native-debug-symbols.zip simultaneously.

Could you please tell us if you only want to upload native debug symbols in your case, or you need mapping.txt as well?

[2021-05-19 17:07] anatolybolshakov commented on #93
Hi everyone, we rolled out fix for this issue - I'm closing this at the moment, please let us know if you have any other questions.

[2021-05-19 17:08] #93 closed

[2021-05-21 10:40] Deeeeeeeeeevon commented on #152
Hi @anatolybolshakov, I am also experiencing this issue with V3 when trying to release a bundle to the Play Store's beta track (note: uploading the artefact to the store that was created from the pipeline works). We are using a Microsoft-hosted agent

[2021-05-28 08:52] max-zaytsev commented on #249
Hi @BiliBoomBo, is this issue still actual for you?

[2021-05-29 01:51] BiliBoomBo commented on #249
Sorry for late response. In my case, I need to upload both mapping.txt and symbols.zip.

[2021-05-29 01:52] BiliBoomBo commented on #249
What's more, I need to upload

[2021-06-01 14:39] vladislav-ryzhov commented on #270
Hey @Vaahik we have rolled out related changes.
You can find the required option in the advanced group.

[2021-06-01 14:40] vladislav-ryzhov commented on #270
For now, I am closing the issue. Feel free to reopen it if you still have trouble with this task.

[2021-06-01 14:40] #270 closed

[2021-06-17 07:27] kaidoIsWeak opened #278 "Google Play deployment fails with Invalid JWT Signature error"
### Expected Behavior
Build should be published on google play without an issue.

### Current Behavior
Deployment on google play console failing with error "Invalid JWT Signature". Below is a part of log where this is happening.

[code]

### Context

Started seeing this issue on pipeline today when I was trying to deploy a build to GP. Ideally it should pass without an issue, but it started failin

[2021-06-24 08:13] DevEddy commented on #188
+1

[2021-07-01 05:17] raghuraamms opened #279 "Feature: A new task to release apks and bundles (multiple) as part of a same release"
Google has introduced a new feature wrt bundles: Add code transparency. More details can be found here: https://developer.android.com/guide/app-bundle/code-transparency

As part of this Google recommends apps making use of this feature release apks and bundles as part of the same release. I was able to confirm with Google contacts that the REST APIs of Google support the same. So the ask is for th

[2021-07-13 15:08] max-zaytsev commented on #278
@kaidoIsWeak is the issue still exist?

[2021-07-19 06:19] ishita-pandey opened #281 "Request for publishing approved apps [controlled by managed publishing] via VSTS extension"
Google play console allows managed publishing to be turned on giving controls to developers on when to publish the approved APKs [https://support.google.com/googleplay/android-developer/answer/9859654].
This activity of publishing approved apk requires us to login to play console and manually publish it

![image](https://user-images.githubusercontent.com/49427683/126111863-313a05e0-e670-4d6d-874a-

[2021-07-20 09:08] max-zaytsev commented on #278
@kaidoIsWeak is this issue still actual for you?

[2021-07-26 10:42] max-zaytsev commented on #278
Closing due to inactivity

[2021-07-26 10:42] #278 closed

[2021-07-31 14:21] rtsketo opened #283 "Agents won't accept a job that uses this plugin."
After many hours of trial and error, I managed to narrow down what was causing our agents not to run a job. When commenting out the below task in the pipeline, the job is accepted and build starts.

[code]

I've also made sure that the secure file is downloaded, there isn't any problem there.
The plugin version used is 3.189.0. Our Azure DevOps version is 2020 (not 2020.1), Dev18.M170.6.
Below I'm

[2021-08-02 07:19] DaniilShmelev commented on #283
Hi @rtsketo! There is an `npm` demand present on all google play tasks currently, so to resolve this issue you need to install npm on your machine and restart the pipeline agent to rescan agent's capabilities.
Closing the ticket for now, feel free to ping me if you have any issues.

[2021-08-02 07:19] #283 closed

[2021-08-02 15:38] rtsketo commented on #283
Thank you. I spent so many hours on this. Is there any place where I could have found the answer by myself?

[2021-08-04 05:30] DaniilShmelev commented on #283
@rtsketo unfortunately, this is an undocumented behavior currently. We'll see what we can do about it. For now the only way to check this is through [the task code](https://github.com/microsoft/google-play-vsts-extension/blob/master/Tasks/GooglePlayReleaseBundle/task.json#L13).

[2021-08-10 13:07] tatyana-kostromskaya commented on #257
Hello @Bonnyfication, I have made necessary changes for this feature and they will be available next release.

[2021-08-14 07:41] kuleshovilya commented on #252
Hello @blundell . We've looked into the issue, and it seems that to enable better messaging for that task would require a serious overhaul of error handling, so for now, we would just recommend running debug mode in case of errors.

[2021-08-14 07:41] #252 closed

[2021-08-19 10:56] SergiyDivnych opened #286 "Changes cannot be sent for review automatically. Please set the query parameter changesNotSentForReview to true. Once committed, the changes in this edit can be sent for review from the Google Play Console UI."
Hi,

I'm receiving such error starting from 8/17/2021 when trying to publish Android application. One day before, everything worked fine, and I didn't change anything in CI.

`2021-08-17T18:29:25.9639580Z ##[section]Starting: Release Droid to Internal Test
2021-08-17T18:29:25.9648320Z ==============================================================================
2021-08-17T18:29:25.9648580Z Task

[2021-08-20 05:23] SergiyDivnych commented on #286
Yesterday, I was publishing Android app and everything worked fine as it was before.

[2021-08-20 05:23] #286 closed

[2021-09-07 14:59] alexanderpreston commented on #232
We have this issue in our Azure Pipeline. I've attached the full build log in case anyone can point me in the right direction for a fix.

[deploy error.txt](https://github.com/microsoft/google-play-vsts-extension/files/7122458/deploy.error.txt)

[2021-09-08 10:05] nishi1612 opened #291 "Uploading APK to Google Play Console which asks for sensitive/high risk permission"
We are currently using Google Play VSTS extension to upload our APK to Google Play Store. In our next release, we need to publish an APK to Google Play Console that requests high risk / sensitive permissions from users.
As per the guidelines present on Play Console Official Document : href=https://support.google.com/googleplay/android-developer/answer/9214102?hl=en-GB#api, we need to fill in a for

[2021-09-08 11:26] anatolybolshakov commented on #291
Hi @nishi1612 the task simply makes an app release via google api, although if there is no limitations on google api side regarding this - it shoulid work.

[2021-09-08 11:34] nishi1612 commented on #291
Hi @anatolybolshakov ,

Thanks for quick response.
Does this mean that even though APK is asking for high risk / sensitive permissions, I can still upload APK to google play console via google play VSTS extension?

[2021-09-09 09:35] anatolybolshakov commented on #291
@nishi1612 if it is allowed from google api side to fill in high risk / sensitive permissions after apk upload via UI console - yes, it should be possible.

[2021-09-13 10:39] DaniilShmelev commented on #240
Hi @BryanSharp! We've added a GooglePlayStatusUpdate task in https://github.com/microsoft/google-play-vsts-extension/pull/282 that covers this use-case. Closing.

[2021-09-13 10:39] #240 closed

[2021-09-14 08:24] tatyana-kostromskaya commented on #257
New version of the extension was released

[2021-09-14 08:24] #257 closed

[2021-09-16 10:08] anatolybolshakov commented on #291
Hi @nishi1612 let me close this ticket here - since at the moment this is not related to the pipeline task itself.
For google api related questions - I would suggest to reach out to google support for further help.
Please feel free to ask any further questions.

[2021-09-16 10:08] #291 closed

[2021-09-19 08:42] nishi1612 commented on #291
Hi @anatolybolshakov ,

Thanks for the help. I had doubt about uploading apk via pipeline task and since we can do that, we are good to close the ticket.

Thanks,
Nishi

[2021-09-30 08:23] keivanh commented on #152
Same error here:

[code]

Build pipeline is on self-hosted agent, publishing to Beta track

Other pipeline, microsoft-hosted publishing to alpha track works

[2021-09-30 09:39] anatolybolshakov commented on #152
Hi @Deeeeeeeeeevon @keivanh this seems to be some connectivity issues between agent and google endpoint - if you are sure that there is some issue on DevOps side - please feel free to open a new issue with more details for your case.

[2021-09-30 17:14] keivanh commented on #152
Error was persistent with both self-hosted and Microsoft-hosted agents.
At the end I found the problem, in the release task "Bundle path", I missed the file name, it should be either exact file path or wildcard to select all files. Adding the file name to the Bundle path fixed the issue.

Still that error message "failed, reason: socket hang up." is completely misleading here. It should simply sho

[2021-10-01 07:56] anatolybolshakov commented on #152
@keivanh got it, thanks - I created https://github.com/microsoft/google-play-vsts-extension/issues/new to check why it does not validate empty value for this input.

[2021-10-01 07:56] anatolybolshakov opened #294 "Google play bundle release task does not validate bundle path input"
Looks like Google play bundle release task does not validate empty bundle path input - we need to check it.

[2021-10-01 08:12] DaniilShmelev commented on #294
AZDO automatically fills empty inputs of type `filePath` with `$(Build.SourcesDir)`. Furthermore, the file existence check is done via `tl.checkPath`. This method does not throw if a given path is a folder.
So, if we provide an empty input in the pipeline YAML, it will be filled with `/home/vsts/work/1/s` in the task code. Then this path is checked through `tl.checkPath`, and since this folder exi

[2021-10-01 09:37] DaniilShmelev commented on #294
Not going to fix since the issue is not critical. The error will still appear when we try to upload the folder via googlapis

[2021-10-01 09:37] #294 closed

[2021-10-11 15:04] pulimento opened #298 "[Bug] VersionCode not showing properly on task while uploading"
![image](https://user-images.githubusercontent.com/503313/136812654-f7b3dfba-882f-440f-bfff-73839c8dc82d.png)

What happens:
It shows (version code %s) instead of the actual version code.

What should be happening instedad:
It must show the appropiate version code on task log.

Thanks

@juanlao

[2021-10-16 00:20] EmilAlipiev opened #300 "Classic Release Task is Deprecated?"
Why Release and Release Bundle Tasks are shown as deprecated Tasks for the Classic Pipelines? Is there any alternative? I am not able to find any information about it.

![image](https://user-images.githubusercontent.com/10422347/137566326-a1155188-18ef-46cd-9baf-a16cc8eb9e61.png)

[2021-10-16 03:28] EmilAlipiev opened #301 "Google Play - Release task add option changesNotSentForReview"
It looks like only Bundle Task has this option. It will be nice to have for Google release Task as well. Some projects we have still using apk unfortunately.

https://github.com/microsoft/google-play-vsts-extension/pull/272

[2021-10-17 10:06] DenisRumyantsev commented on #300
@EmilAlipiev We have released Google Play extension 3.194.0 with the addition of deprecation warnings.
After a while, we will release Google Play extension 4.195.0 with the addition of GooglePlayReleaseV4.
We will provide documentation with a Yaml example.

[2021-10-18 06:31] #298 closed

[2021-10-19 09:08] Kumar1Rajan opened #303 "Error: Failed to upload the APK D:/a/r1/a/_DocMitr_App-Android-CI/drop/app/build/outputs/apk/release/app-release-unsigned.apk. Failed with message: Error: Cannot update a published APK.."
Not able to upload apk using Visual Studio Team Services Extension for Google Play.

Error: Failed to upload the APK D:/a/r1/a/_DocMitr_App-Android-CI/drop/app/build/outputs/apk/release/app-release-unsigned.apk. Failed with message: Error: Cannot update a published APK..

Also getting warning  :

##[warning]This task is deprecated. Please switch to GooglePlayRelease@4 that will be released in exte

[2021-10-19 17:28] max-zaytsev commented on #303
Hi @Kumar1Rajan, this warning isn't related to the failure

Could you please re-run the pipeline with the “[Enable system diagnostics](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops#configure-verbose-logs)” option enabled and share the following information:
- YAML file of your pipeline
- Full pipeline logs with system diagnostics information

[2021-10-20 11:25] DaniilShmelev opened #304 "GooglePlayRelease@4 replaces GooglePlayRelease@3 and GooglePlayReleaseBundle@3"
## General Information

**Question, Bug, or Feature**: Feature

**Enter Task Name**: GooglePlayRelease@3, GooglePlayReleaseBundle@3, GooglePlayRelease@4

## Issue Description

In extension release 4.195.0, GooglePlayRelease@3 and GooglePlayReleaseBundle@3 have been deprecated and removed. GooglePlayRelease@4 task has been added instead.

You will retain access to GooglePlayRelease@3 and GooglePlay

[2021-10-20 15:08] tyagirajnish commented on #304
I am using GooglePlayRelease@3 for my app release, I saw the warning I tried to use GooglePlayRelease@4 but got this error `
A task is missing. The pipeline references a task called 'GooglePlayRelease' with version '4'. This indicates that the specific task version can not be found. (job 'Job1', step ''.)`

my current version is 3.194.0 but i don't how to upgrade for 4.x.x and one more thing if i

[2021-10-22 09:50] CalabroBax opened #307 "GooglePlayReleaseBundle@3 - Error after update task to version 3.194.0"
Task : Google Play - Release Bundle
Version : 3.194.0

Hi,
After the update the task doesn't work anymore.  The error is :

Running the pipeline with debug logs  :
![image](https://user-images.githubusercontent.com/92939802/138433563-ab4e1c56-02e4-49bd-acc9-897e9f43aeaa.png)

[2021-10-25 15:57] benventive opened #308 "Documentation: wrong parameter for bundle upload"
Hi there,

I used the [migration documentation](https://github.com/microsoft/google-play-vsts-extension/blob/master/docs/google-play-release-migration.md#releasing-a-single-bundle-file) to update our pipelines and I noticed a tiny mistake in the bundle release sample: the documentation indicates to use the 'apkFile' parameter when the proper one would be 'bundleFile'.

This is just a minor change

[2021-10-27 14:31] AGhosh123 opened #310 "Error: CannotUploadAPK /home/vsts/work/r1/a/_fsEliteConnect-Mobile/fsElite Connect/app-release-signed.apk { Error: Cannot update a published APK."
HI Team,

Not able to upload apk to internal testing using Visual Studio Team Services Extension for Google Play.

![image](https://user-images.githubusercontent.com/59682376/139086506-d21544dd-7f95-4c23-b471-343a8d8703e7.png)

Please suggest.

[2021-10-29 11:13] yashpalraj opened #311 "Getting Error While Updating from Version 3.194.0 to 4.195.1"
![image](https://user-images.githubusercontent.com/17542387/139424539-e5ad7640-7da3-4069-99e6-0f490cda9f00.png)

[2021-11-01 11:12] anatolybolshakov commented on #310
@AGhosh123 thanks! As I see error comes from google api side - this error usually means that the versionCode specified in the app manifest is the same as version code of the already published apk - please make sure that there is no collisions.

[2021-11-02 07:54] max-zaytsev commented on #303
Closing this one at the moment due to inactivity - please let us know if you have any further questions.

[2021-11-02 07:54] #303 closed

[2021-11-02 10:56] alexander-smolyakov commented on #308
A related PR (#309) was merged. So let me close the issue as well.

[2021-11-02 10:56] #308 closed

[2021-11-03 07:24] AGhosh123 commented on #310
@anatolybolshakov  I am doing versioning using below task.

- task: android-manifest-version@1
    displayName: 'versioning'
    inputs:
      sourcePath: '$(Build.SourcesDirectory)/platforms/android/app/src/main/AndroidManifest.xml'
      versionCodeOption: 'buildid'
      versionCode: '$(Build.BuildNumber)'
      versionCodeOffset: '0'
      versionName:
      printFile: true

Still getting erro

[2021-11-03 11:25] djonik1562 commented on #311
When expect a new version?

[2021-11-03 11:50] anatolybolshakov commented on #311
Hey @djonik1562 we are planning to release new version today - will let you know once it's released.

[2021-11-03 14:09] tatyana-kostromskaya commented on #311
Hi @djonik1562 , @yashpalraj we have just released new version of the extension.

[2021-11-03 17:50] djonik1562 commented on #311
All ok. Thank you!

[2021-11-04 05:33] yashpalraj commented on #311
@tatyana-kostromskaya Sure. I will check and update you on the same.
Thank You.

[2021-11-05 12:32] jensheidrich-acn commented on #301
Just used "4.196.0" at Azure DevOps Server 2019

- changesNotSentForReview=false
  - [error]Error: Changes cannot be sent for review automatically. Please set the query parameter changesNotSentForReview to true. Once committed, the changes in this edit can be sent for review from the Google Play Console UI.

- changesNotSentForReview=true
  - ##[error]Error: Changes are sent for review automatical

[2021-11-08 08:34] #311 closed

[2021-11-08 10:37] CalabroBax commented on #307
@max-zaytsev
 Current agent version: '2.182.1' (same for the successful and failed runs)
 and it's not a YAML pipeline, is a classic pipeline in on prem AzureDevOps installation

[2021-11-08 12:29] max-zaytsev commented on #307
@CalabroBax could you create a test YAML pipeline (based on your classic) using this [guide ](https://docs.microsoft.com/en-us/azure/devops/pipelines/migrate/from-classic-pipelines?view=azure-devops)-  and try this:

[2021-11-08 15:41] anatolybolshakov commented on #310
@AGhosh123 android-manifest-version is external task for DevOps - please make sure that it updates version code properly, and there is no collision between specified version code, and version codes of already uploaded apk files.

[2021-11-16 14:37] VaniaOPereira opened #315 "Issue: Error: We have failed to run 'bundletool build-apks' on this Android App Bundle. Please ensure your bundle is valid by running 'bundletool build-apks' locally and try again. Error message output: File 'BundleConfig.pb' was not found.."
I have this issue:
##[error]Error: Failed to upload the bundle /Users/runner/work/r1/a/XPTO.aab. Failed with message: Error: We have failed to run 'bundletool build-apks' on this Android App Bundle. Please ensure your bundle is valid by running 'bundletool build-apks' locally and try again. Error message output: File 'BundleConfig.pb' was not found..

[2021-11-16 15:03] tatyana-kostromskaya commented on #315
Hi @VaniaOPereira which task version do you use? Did it work before?

[2021-11-16 15:20] max-zaytsev commented on #307
@CalabroBax do you have any updates?

[2021-11-16 15:29] VaniaOPereira commented on #315
hi tatyana,
With version 3, to submit APK, it always worked well.
With version 4, to submit AAB, it doesn't work.
(I've already tested the AAB submission manually, and it works)

[2021-11-16 17:46] VaniaOPereira commented on #315
More information; Version : 4.196.0

[2021-11-17 12:06] yashpalraj commented on #311
@tatyana-kostromskaya  Hi, the issue has been resolved. Thanks for your prompt update.

[2021-11-19 14:30] max-zaytsev commented on #307
Closing for now. Please reopen if you still have any questions

[2021-11-19 14:30] #307 closed

[2021-11-29 08:12] DaniilShmelev commented on #298
@pulimento GooglePlayReleaseV4 has been released; feel free to create a new ticket if you encounter any other issues

[2021-11-29 08:15] DaniilShmelev commented on #301
@EmilAlipiev regarding your original request - GooglePlayReleaseV4 has been released, so you may use this option both when uploading APKs and AABs.
@jensheidrich-acn is the issue still present for you? Could you please open a separate ticket if it is?
The task is just passing `changesNotSentForReview` as a parameter when calling googleapis. So this looks like an issue on the side of googleapis atm

[2021-11-30 18:12] anatolybolshakov commented on #310
@AGhosh123 could you please provide some minimal steps to reproduce the issue? I can't reproduce the issue at the moment.

[2021-12-03 11:59] AGhosh123 commented on #310
@anatolybolshakov Below are the steps.
1. Versioning
- task: android-manifest-version@1
    displayName: 'versioning'
    inputs:
      sourcePath: '$(Build.SourcesDirectory)/platforms/android/app/src/main/AndroidManifest.xml'
      versionCodeOption: 'buildid'
      versionCode: '$(Build.BuildNumber)'
      versionCodeOffset: '0'
      versionName:
      printFile: true
2. Build
3. Deploy to inte

[2021-12-03 13:52] DaniilShmelev commented on #243
Hey @bluekyu! Thanks for submitting this feature request.
Multiple apk/aab support has been added to the GooglePlayReleaseV4 task recently.
If you face any issues with the new task, feel free to open a new ticket.

[2021-12-03 13:52] #243 closed

[2021-12-08 16:02] jensheidrich-acn commented on #301
The issue was solved by switching forth and back. Maybe some caching issue in the agent.

[2021-12-12 06:01] ankurverma85 commented on #249
I need this too

[2021-12-16 06:50] AGhosh123 commented on #310
@anatolybolshakov Did you get a chance to look into this?

[2021-12-16 14:40] anatolybolshakov commented on #310
Hi @AGhosh123 sorry for the delay - I still can not reproduce issue with these steps. In my pipeline android-manifest-version@1 task from [extension](https://marketplace.visualstudio.com/items?itemName=vs-publisher-473885.motz-mobile-buildtasks) updates app manifest properly, and app is being published to google play without errors - if there is no apk files already published to google play and th

[2021-12-22 13:13] Mazgis47 opened #316 "[Feature Request] http proxy support for www.googleapis.com access"
Currently, the extension is trying to access https://www.googleapis.com directly and it ignores any environment variables like https_proxy=myproxy:8080 nor does it accept any input to specify a proxy.
Would be good to have this functionality for Azure DevOps agent servers behind the corporate proxy

Thank you.

[2021-12-23 10:59] Mazgis47 commented on #316
Ok, I found that while specifying the below variable it must be prepended with the HTTP:// like:

variables:
        https_proxy: '**http://**myproxy:8080

[2021-12-23 10:59] #316 closed

[2021-12-27 18:19] anatolybolshakov commented on #310
@AGhosh123 closing this as not reproducible at the moment. Please make sure that there is no collision between version code specified in manifest by android-manifest-version task and already uploaded applications.
Feel free to ask any other questions or share the steps which we could use to reproduce the issue on our side.

[2021-12-27 18:19] #310 closed

[2021-12-29 15:03] AndreyIvanov42 commented on #315
@VaniaOPereira
Could you provide more detailed logs? What command did you use to build your app using bundletool?
I see here many [flags](https://developer.android.com/studio/command-line/bundletool)

[2022-01-12 12:52] VaniaOPereira commented on #315
I only have this log:
2021-11-16T12:50:55.8547630Z ##[warning]Input apkFile was set, but it will not be used in this action
2021-11-16T12:50:55.9515390Z Authenticated with Google Play and getting new edit
2021-11-16T12:50:57.7063690Z ##[error]Error: Failed to upload the bundle /Users/runner/work/r1/a/TestApp.aab. Failed with message: Error: We have failed to run 'bundletool build-apks' on this And

[2022-01-13 04:35] EmilAlipiev commented on #301
GooglePlayReleaseV4 works fine for me now. But i dont understand something. Although I dont select the option

![image](https://user-images.githubusercontent.com/10422347/149266492-abc9b1cc-938b-4e7a-b878-05e29cc7b008.png)

my Apks are sent directly for review. is there a way to prevent this? I wish also there was option to select multiple release note files for different languages

[2022-01-13 06:34] DaniilShmelev commented on #301
@EmilAlipiev could you please create a separate ticket for a problem with "Send changes to review" option?
You can specify multiple release notes files with the "Update metadata" option. Then you'll have to use a specific file structure described in this doc under "Metadata Root Directory": https://github.com/microsoft/google-play-vsts-extension/#google-play-release.

[2022-01-21 05:35] DaniilShmelev commented on #133
We now have a task that allows to set the release status: [Google Play Status Update](https://github.com/microsoft/google-play-vsts-extension/pull/282).
Feel free to take a look at the [task docs](https://github.com/microsoft/google-play-vsts-extension#google-play---status-update).

[2022-01-21 05:35] #133 closed

[2022-01-21 05:38] DaniilShmelev commented on #155
Google Play Release task is now able to upload both APKs and AABs. Please refer to the [task docs](https://github.com/microsoft/google-play-vsts-extension#google-play-release).

[2022-01-21 05:38] #155 closed

[2022-01-21 05:42] DaniilShmelev commented on #156
Google Play Release task supports updating only the store listing. Please refer to the docs if you want more info about this feature: https://github.com/microsoft/google-play-vsts-extension#google-play-release

[2022-01-21 05:42] #156 closed

[2022-01-21 05:46] DaniilShmelev commented on #279
Google Play Release now supports this functionality. Please refer to the [docs](https://github.com/microsoft/google-play-vsts-extension#google-play-release).

[2022-01-21 05:46] #279 closed

[2022-01-21 07:59] DaniilShmelev commented on #188
We support this functionality via the "Metadata Root Directory" input. You'll need to specify your release notes in a format similar to the Fastlane format. Please refer to the ["Google Play Release" task docs for this input](https://github.com/microsoft/google-play-vsts-extension#google-play-release).

[2022-01-21 07:59] #188 closed

[2022-01-21 08:01] DaniilShmelev commented on #233
This issue is now supported in the Google Play Release task. Please refer to the [docs](https://github.com/microsoft/google-play-vsts-extension#google-play-release) and look for the "Set in-app update priority" input.

[2022-01-21 08:01] #233 closed

[2022-02-22 19:09] scottbabcock commented on #315
I am running into this issue as well.

These are the only logs I have:

2022-02-22T18:44:16.4071630Z ==============================================================================
2022-02-22T18:44:16.4071900Z Task         : Google Play - Release
2022-02-22T18:44:16.4072120Z Description  : Release an app to the Google Play Store
2022-02-22T18:44:16.4072330Z Version      : 4.201.0
2022-02-22T18:44:1

[2022-02-24 14:29] AndreyIvanov42 commented on #315
Hi @VaniaOPereira
Sorry, I missed your message.
Based on your logs, it is hard to determine the cause of the error. Remember that this extension is essentially a [Node.js script](https://github.com/microsoft/google-play-vsts-extension/tree/master/Tasks/GooglePlayReleaseV4).
You can read more about internals [here](https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-build-task?view=azu

[2022-02-25 10:08] m-gug opened #322 "Allow to set release status to "Draft" in Release Task"
If you have an app that is still in "Draft" status in the Play Store then you can not release a new build using the Release Task because the store respondes with the error _"Only releases with status draft may be created on draft app"_.

As far as i can tell from looking at the source code, this is because the Release Task by default sets the status to "inProgress" which is not allowed if your app

[2022-02-25 10:12] DaniilShmelev commented on #322
Thanks! We'll take a look at this once we have enough capacity

[2022-03-02 15:40] devops-ninja2021 opened #324 "GooglePlayReleaseV4 sends changes to review even if option changesNotSentForReview is set to false"
GooglePlayReleaseV4 works fine for me now. But i dont understand something. Although I dont select the option

![image](https://user-images.githubusercontent.com/10422347/149266492-abc9b1cc-938b-4e7a-b878-05e29cc7b008.png)

my Apks are sent directly for review. is there a way to prevent this? I wish also there was option to select multiple release note files for different languages

_Originally po

[2022-03-02 16:35] EmilAlipiev commented on #324
yes this option seems to be still not working. and actuall release notes as well although I followed the correct structure I believe. I will create a separate issue for this. thanks for creating this issue

[2022-03-02 16:39] EmilAlipiev opened #325 "Multiple release notes not working"
As advised I have followed the fastlane documentation but seems to be not working for me. here is how it looks like
my folders and file structure

<img width="272" alt="image" src="https://user-images.githubusercontent.com/10422347/156406140-81c7f75f-6223-4762-985c-f61060aab327.png">

Pipeline

![image](https://user-images.githubusercontent.com/10422347/156406554-4e609102-79db-4949-9ca1-3729e329d1

[2022-03-05 07:51] alexander-smolyakov commented on #325
Hi @EmilAlipiev, according our [docs](https://github.com/microsoft/google-play-vsts-extension/blob/master/README.md) the metadata folder structure should be the following:
[code]

Which means that the name of changelog file should align with app version.

For example:
If the `versionCode` of application is set to `4919`, then the name of changelog file should be `4919.txt` and the path to this fil

[2022-03-05 12:18] EmilAlipiev commented on #325
I see but according to do fast lane default is used if there is no file with version number which makes good sense if you just wanna make a quick update with default text like "bug fixing" etc. So it reduces the work. I would even rather always update default.txt and track with source control instead of creating a new file everytime

[2022-03-11 08:57] AndreyIvanov42 commented on #315
Try to find the cause of the error. I can't help you using just the information provided. While I close this ticket

[2022-03-11 08:57] #315 closed

[2022-03-11 14:53] alexander-smolyakov opened #326 "[GooglePlayReleaseV4] Add support of the `default.txt` for changelog files"
**Task**:
- GooglePlayReleaseV4

**Description**:
In current implementaion the name of change log file must alig with version code of application.

[code]

Since the format of `metadata` folder is quite similar to fastlane’s [supply tool](https://github.com/fastlane/fastlane/tree/master/supply#readme) we can add support of the `default.txt` to simplify the work with changelog files.

For example:

[2022-03-11 14:56] alexander-smolyakov commented on #325
@EmilAlipiev I have opened a feature request to implement a support for `default.txt` files
- #326

Let me close this ticket, since currently the `GooglePlayReleaseV4` pipeline task works as expected.

[2022-03-11 14:56] #325 closed

[2022-03-15 09:27] KBEMobisys commented on #324
Fastlane had the same issue and they solved it this way:
https://github.com/fastlane/fastlane/pull/19248/files

Maybe this helps to solve it in a same or similar way here.

[2022-03-21 14:59] Buzzker opened #328 "Feature Request: Don't fail the pipeline if changelog too long"
I love the Task for the Pipelines.
Though, I have a problem with a changelog. Pipeline fails if the number of symbols in the file exceeds 500.
I have a changelog.md file with all Versions, how do I cut it?
Like:
[code]

I would be fine if the pipeline just gets first 500 symbols from the file.

[2022-03-22 19:13] arefinsami opened #329 "Misleading warning "Input apkFile was set, but it will not be used in this action""
Hi,

After switching to Google Play - Release v4 we are seeing warning messages like this `Input apkFile was set, but it will not be used in this action` (details below). We are publishing multiple apk files (arm and arm64) along with the metadata. I do see that the version is available to download in google play store. It was uploaded successfully. But why this task is showing this erroneous warn

[2022-03-23 09:51] max-zaytsev commented on #329
Hi @arefinsami Thanks for reporting this! Let us take a look at the issue.

[2022-03-23 09:56] DaniilShmelev commented on #251
Yes, it's possible to upload apks for several architectures and their debug symbols as a part of the same release.

[2022-03-23 09:57] #251 closed

[2022-03-23 18:56] golubev-ivan commented on #329
Hello @arefinsami, I haven't managed to reproduce this issue.
Could you please share more info about used GooglePlayRelease task configuration (yaml)? Also would be great if you can provide logs started with marked "Enable system diagnostics" checkbox.

[2022-03-24 14:15] denis-tikhomirov commented on #326
PR - https://github.com/microsoft/google-play-vsts-extension/pull/331

[2022-03-27 21:29] max-zaytsev commented on #328
Hi @Buzzker,
This extension uses _fastlane_ tool to upload changelogs. So you need to organize your files in the following format:
https://docs.fastlane.tools/actions/supply/#changelogs-whats-new

You can check this comment for more details: https://github.com/microsoft/google-play-vsts-extension/issues/109#issuecomment-437639412

Please try this and let us know if you still have any issues.

[2022-04-06 11:27] max-zaytsev commented on #329
@arefinsami is this issue still actual for you?

[2022-04-11 05:44] max-zaytsev commented on #328
@Buzzker, do you have any updates?

[2022-04-11 16:22] #329 closed

[2022-04-17 11:35] max-zaytsev commented on #328
@Buzzker, closing this. Please reopen if you still have any questions.

[2022-04-26 06:50] #328 closed

[2022-04-27 11:17] KBEMobisys commented on #324
Could the owner have a look into the pull request? It solves the problem for us.

[2022-04-29 05:57] yzhang108 opened #340 ""set in-app update priority" is invisible"
When I using the "Google Play Release", I choosed the action as "Upload single bundle",
![image](https://user-images.githubusercontent.com/11496559/165891407-32b88d14-c55a-4d62-8d6a-7a913244b19f.png)
but "set in-app update priority"  is invisible under "Advanced Option"
![image](https://user-images.githubusercontent.com/11496559/165891518-5dfcd8e1-7f2e-4f1b-8133-08628c6a0695.png)
How to make it vi

[2022-05-04 15:24] mauro3005 opened #342 "Patch vulnerable dependencies rated high serverity"
Components:
minimatch:3.0.4 -> 3.0.5+
node-forge:1.2.1 -> 1.3.0+

[2022-05-06 14:07] #326 closed

[2022-05-06 14:07] #249 closed

[2022-05-11 10:04] anatolybolshakov commented on #326
Rolled out these changes with new extension release.

[2022-05-18 20:43] lillypaul commented on #322
I am running into this issue too - where I have a "Draft" app on the google play console with an internal track testing setup. I would like to be able to release to the internal track to update the app for internal testing purposes. However, when I try release to the internal track I get the following error: ""Error: Only releases with status draft may be created on draft app." I can manually go i

[2022-06-01 21:28] microsoft-github-policy-service[bot] opened #347 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-06-02 21:19] vmapetr commented on #342
Hi @mauro3005! Fixes are merged and will be available in the upcoming release.

[2022-06-07 05:01] #347 closed

[2022-06-07 22:26] max-zaytsev commented on #340
Hi @yzhang108, did you manage to solve your problem?
As I can see "set in-app update priority" was moved from "Advanced Options". This input is now a little higher.

[2022-06-14 09:00] max-zaytsev commented on #340
@yzhang108 I'm closing this. Please reopen the issue if you still have any questions.

[2022-06-14 09:00] #340 closed

[2022-08-05 10:52] max-zaytsev commented on #322
Thanks @LucaBlackDragon!
PR with a fix was merged. We'll update this thread when a new version of the task is deployed.

[2022-08-09 22:07] bartsipes opened #353 "Possible fraudulent clones of extension"
Just based on the name, logo, and description these two extensions in the marketplace seem like clones of this extension. Even the report an issue links at the bottom on both lead here.

https://marketplace.visualstudio.com/items?itemName=YingjieLi-Demo.google-play-with-halt
https://marketplace.visualstudio.com/items?itemName=dshmelev.ds2-google-play

[2022-08-10 13:39] LiliaSabitova commented on #353
Hi @bartsipes thanks for reporting! We will figure it out.

[2022-08-17 13:56] LiliaSabitova commented on #353
Hi @bartsipes mentioned extensions have been deleted.

[2022-08-17 13:56] #353 closed

[2022-08-25 16:53] davidmalis commented on #322
Any ETA on the new version?

[2022-08-29 00:03] michaelsoliman1 commented on #322
It would be great if this feature is deployed soon!

[2022-08-31 13:22] AaliAlikoski commented on #322
Adding the pressure for this to be released as well :)

[2022-09-05 12:51] max-zaytsev commented on #322
@michaelsoliman1 , @AaliAlikoski, @davidmalis, @lillypaul

google-play-vsts-extension v4.209.1 has been published

[2022-09-05 12:51] #322 closed

[2022-09-06 07:55] MartijnvAdrichem opened #356 "the 'c' in the variable 'сleanTheSourceTrack' is the wrong utf-8 character (GooglePlayPromoteV3)"
The "cleanTheSourceTrack" variable in the GooglePlayRemoteV3 is not a real 'c' but a weird utf8 variant of it. You can check it by doing a ctrl-f on 'clean' and you will see that only one of these 2 match:
cleanTheSourceTrack (with a correct c)
сleanTheSourceTrack (in the source code)

When creating this step manually this creates really confusing behaviour, because the variable isn't picked up by

[2022-09-07 06:25] KonstantinTyukalov commented on #356
Hi @MartijnvAdrichem thank you for reporting! Let us take a look once we've dealt with the higher priority tickets

[2022-09-07 08:08] neilzzy opened #358 "Supportability for Google Instant App"
Hi team, one of our premier customers would like to know if this task can be used to deploy instant app. It seems our task is only allowed to select internal testing and deploy a standard app. Do we have any roadmap for this feature? If there is any blocker due to third party provider or other workarounds, please also let us know.
![image](https://user-images.githubusercontent.com/32922864/1888253

[2022-09-09 04:55] neilzzy commented on #358
@KonstantinTyukalov Is there any comment you can share with our customer? Thanks in advance.

[2022-09-09 10:45] KonstantinTyukalov commented on #358
Hi @neilzzy, thanks for the question.
We will explore the possibility of implementing this feature, and will report back soon.

[2022-09-19 08:45] anastariqkhan opened #360 "Add releases with status draft to upload on draft app"
I'm having trouble uploading the app to internal testers on Google Play, my app is in draft form as it's only meant for the internal QA audience.

[code]

REF: https://stackoverflow.com/a/66867469

[2022-09-19 18:45] michaelsoliman1 commented on #360
this issue is already solved [here](https://github.com/microsoft/google-play-vsts-extension/issues/322#issue-1150266888)

you can solve it by adding this line to the release task
[code]

[2022-09-20 03:16] neilzzy commented on #358
@KonstantinTyukalov May I know if there is any plan/ETA for this feature?

[2022-09-20 07:08] anastariqkhan commented on #360
Thanks :)

[2022-09-20 07:08] #360 closed

[2022-09-21 16:48] kjpluck commented on #315
Check that you weren't uploading an .apk with action: 'SingleBundle' set.

Make sure it's set to action: 'SingleApk'.

Wasted half a day there.

[2022-09-27 04:06] neilzzy commented on #358
@KonstantinTyukalov Is there any update?

[2022-09-30 09:24] KonstantinTyukalov commented on #358
We have prioritized this item, we will look into it and provide an ETA soon

[2022-10-14 21:39] anilakuzum opened #361 "azure devops with play store upload apk instantly error"
Hello , azuredevops with release step using play store when I want to upload I get the error in the picture. All my information is absolutely correct.

![image](https://user-images.githubusercontent.com/3521437/195947859-dcfe2c26-4549-4202-b5a8-e58046da7435.png)

![image](https://user-images.githubusercontent.com/3521437/195948044-c9cfa9d6-2f01-4e8d-a804-fff1930ace2c.png)

[2022-10-17 15:51] LiliaSabitova commented on #361
Hi @anilakuzum thanks for reporting! We are working on more prioritized issues at the moment but will get back to this one soon.

[2022-11-01 21:59] vmapetr commented on #358
Hi @neilzzy!
According to the [Google Play Developer documentation](https://developers.google.com/android-publisher/api-ref/rest/v3/edits) - the API methods required for the Instant App deployment do not exist yet.
Unfortunately, there is nothing we can do from our side until the required API will be implemented on Google Play.

[2022-11-07 14:53] josephchrisman opened #362 "Unable to Install Plugin"
`Task definition input 'rolloutToUserFraction' and Task definition input 'isDraftRelease' must belong to same group as they are dependent inputs for Task with ID '8cf7cac0-620b-11e5-b4cf-8565e60f4d27'.`

![Screen Shot 2022-11-07 at 6 50 37 AM](https://user-images.githubusercontent.com/321362/200339927-f3082fcf-17f4-4361-a38f-8fbebc4e8951.png)

Steps:
1. From the corporate Azure Instance, searched

[2022-11-08 08:25] DmitriiBobreshev commented on #362
Hi @josephchrisman, thanks for reporting, it seems like we already have a similar issue in [AppStore extension](https://github.com/microsoft/app-store-vsts-extension/issues/195) and a problem in a [commit though](https://github.com/microsoft/google-play-vsts-extension/commit/18936df8d9dd60c6d6e4e6faf027f2d6278cc85c#diff-07d01b0f000ffe7b9c1aad8aa457509c30a3bd8cfde6589580e0383b87f5f4fc). Anyway, tha

[2022-11-10 17:46] vmapetr commented on #358
@neilzzy I'm going to close this issue for now, since we cannot implement a solution from our side. Please feel free to reopen it if the required API will be added from the Google Play side, or if you have additional questions.

[2022-11-21 07:28] ismayilov-ismayil commented on #362
Hi @josephchrisman, thank you for bug reporting.
I was not able to reproduce issue on my side. Please, help me to do this by answering questions:

1. Are you using on-prem Azure devops/TFS or cloud?
2. What is the version of Azure devops/TFS? You can check by this link [https://dev.azure.com/YOUR-organization/_home/About](https://dev.azure.com/your-organization/_home/About)
3. Did you try to manua

[2022-11-23 15:14] #342 closed, assigned to vmapetr

[2022-11-24 16:48] w1ggor commented on #362
Same thing happened with me

![image](https://user-images.githubusercontent.com/69217585/203834297-e8a5e90b-9745-443b-b23c-36125a7883a9.png)

I am using TFS 2018 Update 3 on-premise

[2022-11-25 12:55] w1ggor commented on #362
![image](https://user-images.githubusercontent.com/69217585/203990176-ee3bf365-49d2-4444-9bba-657bfc775a86.png)
While trying to manual installing I got the same error while uploading the Release Task

[2022-11-25 17:49] ishita-pandey commented on #281
@anatolybolshakov, is there an update on the above feature ask?

[2022-11-27 19:55] ismayilov-ismayil commented on #362
Hi @w1ggor, thanks for your feedback.
I will check and revert back soon

[2022-11-28 06:03] anilakuzum commented on #361
Hi @LiliaSabitova , I solved the problem.

[2022-11-28 06:03] #361 closed