[2016-04-25 05:11] zurdev opened #5 "Add support for secondary APK in Release task"
Allow uploading multiple APKs in a single edit. This is useful for apps that span multiple architectures.

[2016-04-27 21:47] lostintangent opened #8 "APK parsing doesn't allow spaces in path on Windows"

[2016-05-02 12:53] aldodfm opened #9 "APKFile path doesn't accept minimatch patterns"
Hello,

Publish task doesn't work with minimatch patterns like HockeyApp task or similar.

Google Play Task:
`2016-05-02T12:25:26.7287130Z Set workingFolder to default: C:\LR\MMS\Services\Mms\TaskAgentProvisioner\Tools\agents\1.98.1\tasks\google-play-release\1.0.0
 2016-05-02T12:25:28.4089451Z ##[debug]authType=ServiceEndpoint
++++++++
 2016-05-02T12:25:28.4349451Z ##[debug]apkFile="C:\a\299bac696

[2016-05-02 16:50] lostintangent commented on #9
@aldodfm Ah good catch! We can address this today and get an update out to fix it. Stay tuned, and apologies for the inconvenience.

[2016-05-06 14:28] azchohfi commented on #8
This is really annoying since it does not allow Build definitions to have spaces...

[2016-05-09 22:29] lostintangent commented on #9
This has been fixed and will be released this afternoon. Thanks again for the feedback!

[2016-05-09 22:29] #9 closed

[2016-05-09 23:14] lostintangent commented on #8
This has been resolved and released to the VSTS marketplace. Apologies again for the inconvenience!

[2016-05-09 23:14] #8 closed

[2016-05-10 07:32] JesperSjoquist opened #13 "Add support for wildcards in apk file path"
Allow wildcards in the apk file path. This is critical for when you have generated version numbers in the file name.
Example: "app/build/outputs/apk/app*-release-v*.apk"

[2016-05-10 07:36] JesperSjoquist opened #14 "Add support for uploading ProGuard map files"
Add ability to upload ProGuard obfuscation map files, what google in the developer console calls "deobfuscation files".

[2016-05-10 07:39] #13 closed

[2016-05-10 07:39] JesperSjoquist commented on #13
Already fixed in #9

[2016-05-10 07:54] JesperSjoquist commented on #14
Currently not supported by the API, but an issue has been created here: https://code.google.com/p/android/issues/detail?id=203432

[2016-05-11 01:06] lostintangent commented on #14
@JesperSjoquist Totally agreed that this would be useful! It would be a trivial enhancement on our end, but as you mentioned, I'm not sure when we could expect to be able to do this, since we'd rely on Google Play changes.

I noticed that you left a comment on the VSTS marketplace about needing this feature in order to adopt this extension. Is that still the case? I'd love to unblock you to use it

[2016-05-11 06:46] JesperSjoquist commented on #14
@lostintangent Thanks for the quick response and a great extension!

As an interim solution I have modified our build process to upload a production version to both Google Play alpha and HockeyApp, where HockeyApp will save the mapping files for us.

[2016-05-21 01:11] lostintangent commented on #5
This feature has been released to the VSTS marketplace. Let us know if you run into any other issues, or have additional feedback. Thanks!

[2016-05-21 01:11] #5 closed

[2016-05-26 21:31] rub8n opened #18 "Should "User fraction" be available in the extension?"
The field "User Fraction" is called multiple times in the readme but seems to be missing in the actual extension. Should it be available on the extension or is the doc outdated?

[2016-05-27 02:03] ryuyu commented on #18
User fraction should be available in the UI in VSTS, but it should only be visible when the Rollout track is selected. Is this not the case anymore?

[2016-05-27 16:48] rub8n commented on #18
My mistake. I was interacting with the Destination track and not Rollout track on the rollout task. :(

Closing...

[2016-05-27 16:48] #18 closed

[2016-06-28 11:25] baumerik opened #21 "This app does not have any APKs in any tracks."
Hi, since the update of the Task from Version 1.1.0 to 1.2.0 i became the following error:

2016-06-28T08:24:59.3676476Z ##[debug]Updating track
2016-06-28T08:24:59.3830071Z ##[debug]Additional Parameters: {"packageName":"com.????.????","track":"beta","resource":{"track":"beta"}}
2016-06-28T08:25:00.1955861Z ##[debug]task result: Failed
2016-06-28T08:25:00.1955861Z { [Error: This app does not have

[2016-06-28 17:35] ryuyu commented on #21
Interesting. The error coming back looks like it's coming from the google end.

The new log also doesn't seem to have attached a version code resource the to request. Can you attach the whole log from the task? I'm curious why it appears to not be picking up your APK.

[2016-06-29 11:22] baumerik commented on #21
2016-06-28T15:44:15.1950699Z ##[debug]authType=ServiceEndpoint
2016-06-28T15:44:15.1950699Z ##[debug]serviceEndpoint=b119d08f-c94b-410d-9c3c-6b798c255f39
2016-06-28T15:44:15.2107009Z ##[debug]b119d08f-c94b-410d-9c3c-6b798c255f39={"parameters":{"username":********,"password":********},"scheme":"UsernamePassword"}
2016-06-28T15:44:15.2107009Z ##[debug]apkFile=D:\A1\3\s\drop\apps\Runtime_Test_v*.sign

[2016-06-29 18:16] ryuyu commented on #21
Thanks for reporting this! I have identified the issue and released 1.2.1. Please go ahead and try again when you get a chance and reopen if the issue is not fixed!

[2016-06-29 18:16] #21 closed

[2016-06-30 13:45] baumerik commented on #21
Thanks all works as expected

[2016-07-20 17:35] zurdev opened #22 "Release task doesn't upload additional APK"
When specifying additionalApks input variable, the task uploads a single APK.
There's a bug in the code that iterates through the array of APK:
for (var apk in apkFileList) {
    currentEdit = currentEdit.then(function (res) {
        console.log(`Uploading APK file ${apkFileList[apk]}...`);
        return addApk(packageName, apkFileList[apk]);
    });
}
The variable apk in the anonymous function

[2016-08-10 15:42] madhurig commented on #22
Issue has been resolved correctly in latest version (1.2.3) of the extension : https://marketplace.visualstudio.com/items?itemName=ms-vsclient.google-play

[2016-08-10 15:42] #22 closed

[2016-08-18 20:24] zurdev opened #26 "Allow release task to update metadata without uploading the APK(s)"
Currently, you can upload APK(s) without the metadata. It would help if you could update the metadata without uploading the APK(s).
The suggestion is to add a checkbox to allow skipping APK upload. When selected, it will hide the APK and additional APK(s) inputs, and upload of APK(s) will be skipped.

[2016-08-26 08:49] simon-biber opened #27 "Change log is hard coded to US English language"
We get an error from Google Play saying "Tried to set recent changes text for APK version 3 for language en-US. Language is not associated with the app."

I suggest making this language configurable instead of hard coding it to "en-US" in Tasks/google-play-release/GooglePlay.js line 248.

`return addChangelog("en-US", changelogFile, apkVersionCode);
`

[2016-08-29 14:30] madhurig commented on #27
@simon-biber: Thanks for reporting the issue, we will add it in the next update.

-Madhuri

[2016-08-31 05:33] jamesmontemagno opened #28 "error:0906D06C:PEM - Release to Alpha"
I am on the hosted agent queue attempting to upload to Google play.

I am getting the following when attempting to release to alpha channel:

[code]

[2016-08-31 05:48] jamesmontemagno commented on #28
Figured it out...

I have to include all this stuff rom the json file:

 "private_key": "-----BEGIN PRIVATE KEY-----\n..... etc

[2016-08-31 05:48] #28 closed

[2016-09-15 07:54] joosthaneveer opened #29 "Error when trying to upload screenshot images"
When trying to update the metadata in the store with screenshot images it fails to upload the screenshots because the path used in the task is incorrect.

I included some debug information from my build process to clarify the bug.
For screenshot files only the filename is included in the path variable of the upload request. All other images files have the complete path to the file specified.

[cod

[2016-09-19 13:46] madhurig commented on #29
@joosthaneveer: Thanks for reporting the issue. We will track this for the next update.

[2016-09-21 07:38] Performensch opened #31 "Wildcards don't work for "Additional APK Path(s)""
After we split our APK into two to target specific CPU architectures and reduce the package size I ran into following problem:

When using the additional APK path(s) option it seems that wildcards and/or relative paths don't seem to work. Instead the VSTS extension tries to load the APK in relation to it's own location on the build agent.

The config for the "main" APK: _**/app-android-armv7-relea

[2016-09-21 10:37] Performensch commented on #31
Since I got access to our build agent I took a look at the extension (and added some extra log calls) and noticed the following:

`var apkFile = resolveGlobPath(tl.getPathInput("apkFile", true));`

results in _resolveGlobPath_ receiving _D:\TfsBuildAgent\work\13\s\**\app-android-armv7-release.apk_ which can be resolved/found but the call

`apkFileList.push(resolveGlobPath(additionalApks[i]));`

se

[2016-09-26 05:55] epopov opened #32 "Getting [Error: error:0906D06C:PEM routines:PEM_read_bio:no start line] during publishing to Beta slot."
2016-09-26T05:37:48.1828460Z ##[section]Starting: Release Andoid Panel App to Beta
2016-09-26T05:37:49.6109030Z { [Error: error:0906D06C:PEM routines:PEM_read_bio:no start line]
2016-09-26T05:37:49.6116570Z   cause: [Error: error:0906D06C:PEM routines:PEM_read_bio:no start line],
2016-09-26T05:37:49.6123720Z   isOperational: true }
2016-09-26T05:37:49.6944220Z ##[section]Finishing: Release Andoid

[2016-09-26 06:52] epopov commented on #32
That was my fault. I didn't include ---------BEGIN PRIVATE KEY-----\n that part into my google endpoint.

[2016-09-26 06:52] #32 closed

[2016-10-17 18:53] madhurig commented on #29
Fix is included in 1.3.0 release: https://marketplace.visualstudio.com/items?itemName=ms-vsclient.google-play

[2016-10-17 18:53] #29 closed

[2016-11-10 06:33] epopov opened #34 "Screenshot images are getting duplicated"
Hi. Images in the store are getting duplicated after two metadata updates. According to the documentation, the process should remove all existing screenshot and replace them with new images from the metadata folder.

[2016-11-25 13:23] JesperSjoquist commented on #14
Support for uploading mapping files has now been added the the Google API:
https://code.google.com/p/android/issues/detail?id=203432

[2016-11-27 19:19] lafritay commented on #28
To clarify, in order to get this to work, I had to include just this portion:

-----BEGIN PRIVATE KEY-----\n<snip/>=\n-----END PRIVATE KEY-----\n

[2016-12-07 00:14] ryuyu commented on #34
Do you have metadata in multiple languages?

Can you attach a log of a build that generate multiple metadata entries?
If you run your VSTS build with the variable system.debug set to true, the task should output a lot of debugging information for us to take a look at what's going on.

[2016-12-07 00:22] ryuyu commented on #31
You are correct, there appears to be a bug here around globs that aren't rooted.
If you are still having this issue, could you try specifying $(Agent.BuildDirectory)/**/app-android-x86-release.apk in the multiple apk box and see if that resolves it?

The correct thing would be for us to assume that unrooted glob are relative to the working directory of the project.

[2016-12-07 00:26] ryuyu commented on #27
It looks like we only hit this path if a specific changelog file is indicated from the UI.

There are two possible corrections here for us.
1. We can add another UI element to specify the language of the indicated changelog
2. We remove the ability to specify changelog and require that the any changelogs fit the new metadata format to be picked up and remove that code path entirely.

@madhurig I l

[2017-01-11 09:02] kmiterror opened #35 "Unexpted token when running task"
We have a on premise TFS 2015 Update 2. When running Google Play Release task, I always get illegal charcater error. I have found that replacing all ` (backstick character) to " resolved the problem. I belive that it crashes on our machine because our node is 0.12.2. I can (and probably should) update node to newer version, but on the other hand using backstick only to make it possible to use appo

[2017-01-11 16:05] jeffyoung commented on #35
Hi kmiterror.  As you mentioned, you can update your version of node and that's really what I would recommend.

The back-tick character is a part of a [template literal](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals) which does make it easier to construct a string.  It doesn't _just_ allow you to use an apostrophe (using a string within double-quotes would all

[2017-01-13 11:00] bdn-mca opened #36 "'Google Play - Release' does not work in Release definition"
"Google Play - Release" task fails with "Error: No key or keyFile set." while trying to authenticate with Google when it is added as a step in a **Release definition**.
If I add it as a step in the **Build definition**, the same one that creates the artifacts for the failing Release, it uploads the .apk to the play store successfully.

I can confirm that the generated .apk by the build agent is va

[2017-01-17 16:02] xzhe commented on #36
Hi, the log shows the .json authentication file has some problems. There are several things you can do:

1. Check if there are 'client_email' and 'private_key' fields in your .json authentication file.
2. Under the Build Definitions=>Variables, set system.debug to true. It will print out more logs. We need more logs to look into your problem.
3. Try the Service Endpoint authentication method.

Tha

[2017-01-18 16:14] xzhe commented on #36
Hi, in your .json authentication file, did you use key or key file?
If you use key file, do you use the full path or relative path?
Under Release Definition=>Variable, set system.debug to true. It will print out more logs. We need more logs to look into your problem.
Thanks!

[2017-01-24 22:58] noahwebster opened #39 "No application was found for the given package name"
When I try and deploy my project, I get this error from the Release step:

Authenticated with Google Play and getting new edit
{ [Error: No application was found for the given package name.]
cause: { [Error: No application was found for the given package name.] code: 404, errors: [ [Object] ] },
isOperational: true,
code: 404,
errors:
[ { domain: 'global',
reason: 'applicationNotFound',
message: '

[2017-01-25 14:43] xzhe commented on #39
Hi, can you send me the log file for further investigation? It is better to set the variable "system.debug" to true so we can see the debug messages. You can either paste the log here or send me an email. My email address is xzhe@microsoft.com. Thanks!

[2017-01-25 15:25] noahwebster commented on #39
Thanks. E-Mail sent.

[2017-01-27 23:58] webster354 opened #40 "Error: No key or keyFile set"
I'm getting the following error message. Any suggestions on how I can resolve this?

2017-01-27T23:12:40.2174208Z ==============================================================================
2017-01-27T23:12:40.2174208Z Task         : Google Play - Release
2017-01-27T23:12:40.2174208Z Description  : Release an app to the Google Play Store
2017-01-27T23:12:40.2174208Z Version      : 1.112.0
2017-

[2017-01-28 00:00] #40 closed

[2017-01-28 00:01] webster354 commented on #40
Looks like it's related to issue #36. I'll close this one.

[2017-01-28 00:56] webster354 commented on #36
I'm having the same problem. My json authentication file **does not** contain 'client_email' and 'private_key' fields. I tried using the Service Endpoint authentication method and I get the following error now:

`2017-01-28T00:52:20.4312507Z { [Error: error:0906D06C:PEM routines:PEM_read_bio:no start line]`
`2017-01-28T00:52:20.4312507Z   cause: [Error: error:0906D06C:PEM routines:PEM_read_bio:no

[2017-01-30 15:12] xzhe commented on #36
Hi, there are several steps we can go through:

1. How do you generate your json authentication file?

2. When using Service Endpoint authentication method, the credential should come from "SERVICE ACCOUNTS" instead of the "OAUTH CLIENTS" in the Google Play developer console.

3. Can you send me the log file for further investigation? It is better to set the variable "system.debug" to true so we c

[2017-01-30 22:40] webster354 commented on #36
Thanks! The issue was due to not using a service account. My json authentication file contains the correct fields now, but I've decided to use the service endpoint in VSTS instead as I think it'll be easier to manage in the future.

I found this article helpful. [https://developers.google.com/identity/protocols/OAuth2ServiceAccount](https://developers.google.com/identity/protocols/OAuth2ServiceAcc

[2017-01-31 16:12] zurdev opened #41 "Feature request - Multiple APK Support"
Apps that take advantage of [Multiple APK Support](https://developer.android.com/google/play/publishing/multiple-apks.html) need a way to release a new version to one APK while keeping other APKs active.
For example, if an app has 2 active APKs in Production track, one for API level 4-7, and the other for API level 8+, the extension should allow to release an updated APK to the API level 8+, while

[2017-02-13 17:27] #36 closed

[2017-02-16 11:29] kmiterror commented on #35
Hi again

After further investigation. Updating node on a build agent server won't do. Build agent has it's own node version in it. I can manually swap node files in build agents folder but this is probably not good practice (it can lead to undefined errors).

It looks like a lot of tfs extensions are suffering because of old node used in build agent shipped with TFS 2015 Update 2.  And only "real

[2017-02-21 15:38] JaPawel commented on #34
I think current screenshots are not removed before new ones are added. In my case I have 5 files in phoneScreenshots directory. When doing next release I get this error: "This app has more than 8 screenshots".

Here is log from my agent (if you need I may try to generate one with system.debug set to true):

Task         : Google Play - Release
Description  : Release an app to the Google Play Store

[2017-02-27 17:37] mgj opened #42 "Cannot install extension"
I click the "install" button on the marketplace and get the following error:

Extension operation denied by event callback. The task.json file was not found for contribution _build/Tasks/GooglePlayRelease

[2017-02-28 12:53] ygeelen-tb commented on #42
We are experiencing the same issue

[2017-02-28 13:53] DavidStaheli commented on #42
Thanks for reporting this.  I've verified the problem too.  I contacted our Marketplace team to help resolve it.

[2017-03-01 16:48] jeffyoung commented on #42
There is a fix being deployed at this time but I do not have an ETA on when it will reach all customers.  This issue appears to be affecting other extensions as well (including the Apple App Store extension).

[2017-03-02 14:29] jeffyoung commented on #42
Hi @mgj and @ygeelen-tb.  It's my understand that this issue is fixed.  Please re-open if you're still seeing issues.

[2017-03-02 14:29] #42 closed

[2017-03-02 14:31] ygeelen-tb commented on #42
Yes it's fixed for me.

[2017-03-03 11:35] OUeland opened #44 "Beta release fails when Alpha is present"
Hi,
We have an on-premise TFS 2015 running version 1.112.0 of the Google Play extension.

When running the "Google Play Release" task to the Beta channel the deployment fails when there is an Alpha release. This seems to happen even if the Alpha release already has been overridden/deactivated by a manual Beta deployment.

We run our build successfully, and the APK is created successfully. We have

[2017-03-13 15:05] madhurig commented on #39
@noahwebster : Was the issue resolved with Zhen. Zhen is no longer on the team, so if you continue to have issues, please respond and I will help.

[2017-03-13 15:10] noahwebster commented on #39
Yes, we solved the issue, thanks!

________________________________
From: Madhuri Gummalla <notifications@github.com>
Sent: Monday, March 13, 2017 10:05 AM
To: Microsoft/google-play-vsts-extension
Cc: noahwebster; Mention
Subject: Re: [Microsoft/google-play-vsts-extension] No application was found for the given package name (#39)

@noahwebster<https://github.com/noahwebster> : Was the issue resolv

[2017-03-13 15:15] madhurig commented on #39
@noahwebster : Thanks!

[2017-03-13 15:15] #39 closed

[2017-03-15 20:23] madhurig commented on #44
@OUeland:  It is not clear from your description if you are able to upload version 5923 manually to Beta track from the Google Developer console. Uploading an APK with higher version code to Beta than Alpha should show you an error manually as well.

In the extension we have a "Promote" task that allows you to control this behavior. You can try using the "Promote" task to promote your Alpha to Bet

[2017-03-16 08:48] OUeland commented on #44
@madhurig: Thanks for answering!

I'm sorry if my description was a little vague. The manual Beta deployment of version 5923 gives no errors, and automatically deactivates the previous Alpha.

I have tested the Promote, but since I had manually deployed to Beta the Alpha is no longer available for Promoting and that gives an error as well, stopping the deployment of the Beta.

In any case the depl

[2017-03-16 18:06] madhurig commented on #44
@OUeland: What you are trying to do, i.e. publish a new version to Beta when Alpha has been deactivated should work.

I was able to repro the error you see by doing the following:
1. Upload version 5 to Beta - succeeds
2. Upload version 6 to Alpha - succeeds
3. Upload version 7 to Beta - fails with multiApkShadowedActiveApk. This error is expected behavior.
I then deactivated version 6 in Alpha an

[2017-03-17 09:16] OUeland commented on #44
@madhurig: Perhaps I am expecting too much from the API. I was expecting to have both a Beta and Alpha running simultaneously with different testers on each. The Beta would be close to production ready (or even a bugfix version of the PROD), while the Alpha may contain new features not ready for "large scale" testing.
This is not possible if the Alpha must be deactivated before a new Beta is deplo

[2017-03-20 13:53] madhurig commented on #44
@OUeland: Yes, we only support promote and upload currently. Your workflow to delete/deactivate another version is not available. We will add it to the backlog. Thanks for all the details.

[2017-03-22 10:51] bdn-mca commented on #36
Hi, sorry for late notice :)

To answer your questions:
- Yes, there are 'client_email' and 'private_key' fields in the .json authentication file
- I'm using relative path to the key file, but I can confirm from the logs that the correct file and path are being used

I tried the release step with **system.debug=true**, and I can see that it actually authenticates well with Google, but then fails w

[2017-03-22 11:01] bdn-mca commented on #36
OK, I've **cloned** both the build definition and the release definition, started the cloned definitions, and it worked, the .apk was successfully published to the Google Play Alpha track by the release definition.

[2017-04-03 15:55] CaLxCyMru commented on #39
Hi @noahwebster - What was the solution that was provided to you by @xzhe?

[2017-04-03 16:06] noahwebster commented on #39
You have to manually upload a project to Google first, either through their site, or through Visual Studio. Once that is done, the extension will work.

[2017-04-05 09:21] CaLxCyMru commented on #27
Hey @madhurig - Is there any update on the progress/work around for this?

[2017-04-05 10:33] DavidStaheli commented on #27
Hi @CaLxCyMru, we haven't decided on the approach yet, but we expect to have it implemented this month (April 2017).

Thank you for the 2 possible ways to address this.  Personally, I'm in favor of adding the "Changelog Language" field because removing the ability to specify a changelog could break existing use of the extension.  But then the next _major_ version of this extension could remove the

[2017-04-12 15:18] #41 closed

[2017-04-12 15:31] #34 closed

[2017-04-12 15:31] AlexRukhlin commented on #34
Implemented with the commit [aac3b95](https://github.com/Microsoft/google-play-vsts-extension/commit/aac3b95fc7975af926b3263664b7db4588aae59f)

[2017-04-12 15:31] #31 closed

[2017-04-12 15:31] AlexRukhlin commented on #31
Implemented with the commit [aac3b95](https://github.com/Microsoft/google-play-vsts-extension/commit/aac3b95fc7975af926b3263664b7db4588aae59f)

[2017-04-12 15:35] #26 closed

[2017-04-12 15:35] AlexRukhlin commented on #26
Implemented

[2017-04-13 12:47] #27 closed

[2017-04-13 12:48] AlexRukhlin commented on #27
Implemented with the commit [cc19a46d9](https://github.com/Microsoft/google-play-vsts-extension/commit/cc19a46d90bc17b632674d7484522d4a65d80585)

[2017-04-20 17:56] AdamEssenmacher opened #51 "Only one screenshot is uploaded per type when updating metadata"
When set to update metadata, only one screenshot is getting uploaded per type, so one each of phone, 7-inch, and 10-inch. There are no errors or warning in the step log.

[2017-04-24 19:37] #51 closed

[2017-04-24 19:37] AlexRukhlin commented on #51
Fixed in https://github.com/Microsoft/google-play-vsts-extension/commit/1ba5eaebd102005caeea47ebc6b80e9c7f3042dd

[2017-04-27 00:13] tanwwg opened #56 "Upload obb files"
Is it possible to upload OBB files via this plugin? I placed the obb file in the same folder as the APK in the right format, but it did not seem to upload.

[2017-05-01 14:34] madhurig commented on #56
The extension does not support .obb files. We will consider this enhancement for a future update.

Thanks,
Madhuri

[2017-05-19 22:14] nschonni opened #58 "Rename repo to "vsts-google-play-extension""
That would seem to fit the naming convention of he rest of the extensions in the GitHub org.

Alternately "vsts-google-play-tasks"

[2017-05-23 16:21] jeffyoung commented on #58
Hi @nschonni.  Can you explain what you mean by the "GitHub org"?  This repo is our Team Services extension (and is in the Microsoft org).  We've got a similarly named Apple Store extension at https://github.com/Microsoft/app-store-vsts-extension that is also for Team Services.  I don't think we have plans to rename them.

[2017-05-23 18:26] nschonni commented on #58
It was just something I noticed when I was poking around the Microsoft organization on Github for extensions. The majority follow a `vsts-*` naming https://github.com/Microsoft?utf8=%E2%9C%93&q=vsts&type=&language=, but you're right that it isn't :100:

[2017-06-02 15:53] #58 closed

[2017-06-07 10:31] JKennedy24 opened #59 "Google Play release doesnt work with no error details"
Trying to release my application to the Alpha track returns the following log:

[2017-06-07 11:05] JKennedy24 commented on #59
seemed to be a problem with my json file:

I was using **/AuthFile.json

But as soon as a I changed it to a Service endpoint it started working

[2017-06-07 11:05] #59 closed

[2017-06-07 11:51] JKennedy24 opened #60 "Extension does not work with wildcards"
on the Visual Studio Extension page it shows the apk file being defined as:

If you try this in your upload it will show this in the logs:

and fail the upload.

This error is also not passed back to the task in VSO, you need to check the physical log file to find this error:

reported back to the VSO task is:

Which is not helpful

[2017-06-07 11:52] JKennedy24 opened #61 "Changing Authentication from JSON to Service Endpoint doesnt remove JSON path"
Set authentication type to JSON.
Type an invalid path **/*.json
Now change to service endpoint and enter a endpoint email and key

Now run the task, you will find the task fails because the invalid json path is still being used

[2017-06-07 11:56] JKennedy24 opened #62 "No logging information displayed in VSO on error"
If an error occurs all that is shown in VSO is

You need to look at agent log files to find out whats gone wrong. Not possible if youre using a virtual machine in VS cloud

[2017-06-07 11:56] JKennedy24 commented on #60
submitted logging issue as seperate issue:
https://github.com/Microsoft/google-play-vsts-extension/issues/62

[2017-06-07 11:58] JKennedy24 commented on #60
Image showing wildcards used in instructions: [https://marketplace.visualstudio.com/items?itemName=ms-vsclient.google-play](https://marketplace.visualstudio.com/items?itemName=ms-vsclient.google-play)

![image](https://user-images.githubusercontent.com/9284438/26877175-f53bffc4-4b80-11e7-993f-e6daef96580f.png)

[2017-06-07 13:03] JKennedy24 opened #63 "Agent Fails with no specific reason"
I have run the agent and it is failing but I cant tell why. The log states:

[2017-06-07 13:26] JKennedy24 commented on #63
Looks like this could have been an authentication issue. Changing it from "Service endpoint" to "JSON" file path, with no wildcards. fixed this issue

(the problem here is poor error information, its trial and error to get this extension working)

[2017-06-07 13:26] #63 closed

[2017-06-07 13:28] JKennedy24 opened #64 "Supplying Path to text file containing release notes breaks release"
If you supply a Path to a text file which contains release notes it breaks the task when releasing to Alpha

[2017-06-07 13:52] JKennedy24 opened #65 "Cannot supply "Team" of testers to send alpha application to"
after uploading to the Alpha channel. I need to log into Google play and assign my testers

[2017-06-14 17:37] madhurig commented on #62
@JKennedy24 : Thank you for reporting the issue, this was a regression introduced in [a recent commit](https://github.com/Microsoft/google-play-vsts-extension/commit/471b2c718034b3bccf367747076d08e2ba9b8220). I am working on an update with the fix.

Regards,
Madhuri

[2017-06-14 17:39] madhurig commented on #60
@JKennedy24: What version of the vsts-agent are you using? I am able to use wildcards just the way you have it, and I am working on a fix for the logging issue.

[2017-06-14 17:51] madhurig commented on #61
@JKennedy24: Thank you for reporting this issue but we are unable to repro it. If you are using "Release", please verify if you modified the current release and ran a new "deploy" or updated the release definition and created a new "release". More information on creating releases and deploying: https://www.visualstudio.com/en-us/docs/build/actions/create-deploy-releases

Regards,
Madhuri

[2017-06-14 19:34] madhurig commented on #64
@JKennedy24 : Can you provide more details on how "it breaks the task"? Please share debug logs here or email me at madhurig at microsoft.com.

Thanks,
Madhuri

[2017-06-15 07:34] JKennedy24 commented on #60
Thanks for looking at this. I am using 2.116.1. I notice there is a new version 2.117.1 out. I will update the agent and try wildcards again and update you after our next release cycle

[2017-06-15 07:38] JKennedy24 commented on #61
Hi mardhurig, I did create a new release. What I found is if you follow the following steps:
1. set authentication to JSON
2. type path "IAMINVALID"
3. change path to endpoinge and enter endpoint
4. now run new release
5. check logs on the build agent, you will find the JSON path "IAMINVALID" in the logs

Can you replicate this?

[2017-06-15 07:39] JKennedy24 commented on #64
Hi madhurig, thanks for getting back to me. I will try this again next release and grab the logs and update you

[2017-06-15 15:06] madhurig commented on #61
@JKennedy24 : There are 2 places you can edit which might be causing the confusion.

1. Edit the "Release definition". If you click on the "Edit" button at this level, it will change the "Release Definition" and will apply to all new "Releases"
<img width="375" alt="releasedefinition" src="https://user-images.githubusercontent.com/3269636/27187874-5b7c7f72-51ba-11e7-927b-01ac5aa7eabf.png">

2. Edi

[2017-06-15 15:08] madhurig commented on #60
@JKennedy24 : Wildcards should work on the 2.116.1 as well. There might be another error happening that is getting masked by the logging issue.

[2017-06-15 15:15] madhurig commented on #62
@JKennedy24 : Fix has been released to the [marketplace](https://marketplace.visualstudio.com/items?itemName=ms-vsclient.google-play)

[2017-06-15 15:17] JKennedy24 commented on #62
thanks @madhurig. Do these extensions update automatically or do I need to do something to update my extension?

[2017-06-15 15:19] madhurig commented on #62
The extension update is triggered when a build using it is run or if the tasks editor is opened up in the UI. Please not the update happens asynchronously, so you might have to queue a 2nd build after a couple of minutes to get the new version.

Thanks,
Madhuri

[2017-06-15 15:20] JKennedy24 commented on #62
Ok thanks for you help. I will test this out and get back to you. Hopefully this may clear up a few of the other issues I was seeing

[2017-06-21 01:05] justinmwarner opened #68 "Unhelpful error message during Deploy to Alpha"
Hello,

I've been trying to get this extension to work and am having some issues.  I've resolved about five issues thanks to the helpful error messages.

Now however, I've come across a seemingly random error message:

I was wondering if this is a known issue and what the solution is or if it's possible to put more verbose logging in to track down the issue.

Here's the full output:

[2017-06-21 06:33] wimhaesen opened #69 "Error multiAPKshadowedActiveAPK"
Hi,

I got this error:

Authenticated with Google Play and getting new edit
Updating track information...
 ##[error]Error: Error in edits.commitAsync(): {"cause":{"code":403,"errors":[{"domain":"androidpublisher","reason":"multiApkShadowedActiveApk","message":"Version 10001 of this app can not be downloaded by any devices as they will all receive APKs with higher version codes."}]},"isOperational"

[2017-06-29 15:48] JKennedy24 commented on #62
This issue is now fixed. Thanks!

[2017-06-29 15:48] #62 closed

[2017-06-29 15:49] JKennedy24 commented on #60
The error is in supplying wildcards for the JSON file by the looks. my release returns the error:

[2017-06-29 15:53] JKennedy24 commented on #60
also got:

Changing them to hard coded paths worked

[2017-06-29 15:54] madhurig commented on #60
@JKennedy24: Wild cards are not supported in the path to the JSON file. Please browse and pick the json file from the UI to set the full path. Most tasks in general provide wild card support for binaries since builds generally put them in different paths and it is cumbersome to enter the path.

Thanks,
Madhuri

[2017-06-29 15:55] JKennedy24 commented on #60
@madhurig thanks for the confirmation. I will close this bug off as "not supported" its no trouble for me to just pick the path.

[2017-06-29 15:55] #60 closed

[2017-06-29 15:59] JKennedy24 commented on #64
this is the error I am getting when supplying a `Release Notes` file

[2017-06-29 16:02] madhurig commented on #64
@JKennedy24 : "Release notes" is a convenience field provided to update change log for en-US. If your app's main language is different or if you have multiple languages associated with your app, please provide the change logs in the metadata format provided in the readme.

Metadata Root Directory (String, Required if visible) - Root directory for metadata related files. Becomes available after ena

[2017-06-29 16:09] JKennedy24 commented on #61
This issue seems to work now. Thanks for your help on this one. Was probably a red herring

[2017-06-29 16:09] #61 closed

[2017-06-29 16:38] madhurig commented on #68
@justinmwarner : That is the error the task gets back from Google Play. As the error indicates you will need to check if the APK is signed correctly. Have you tried uploading the APK via the Google Developer Console?

We have a VSTS task to help sign and zip align your APKs during the build process: https://www.visualstudio.com/en-us/docs/build/steps/build/android-signing

Thanks,
Madhuri

[2017-06-29 18:19] madhurig commented on #69
The error is valid i.e. if a higher versionCode is uploaded to Beta, it supersedes the Alpha, so the lower versionCode Alpha APK will not be downloadable. Did you upload 10003 to Beta manually via the Google Developer Console? In that case, you should see something like this in the Google Developer console in App Releases:
<img width="742" alt="gp" src="https://user-images.githubusercontent.com/32

[2017-06-29 18:27] madhurig commented on #35
@kmiterror : Are you still on TFS 2015 Update 2 and having this issue?

[2017-06-30 08:27] JKennedy24 commented on #64
Thanks for the confirmation Madhuri. I will now close this off

[2017-06-30 08:27] #64 closed

[2017-07-05 14:43] AdamEssenmacher opened #70 ""TypeError: the target of promisifyAll must be an object or a function" using Increase Rollout step"
I encounter an error when using the Increase Rollout task.

Step configuration:
![step configuration](https://user-images.githubusercontent.com/8496021/27869560-4c247cc8-616e-11e7-98f9-93dc878bc1fb.PNG)

Error log:

`2017-06-30T21:31:53.7339450Z ##[section]Starting: Increase com.roofsnap.schemingorca rollout fraction to .25
2017-06-30T21:31:53.7469450Z =============================================

[2017-07-07 11:49] JKennedy24 opened #71 "[Feature Request] Automate Release date / Do not release yet"
I was wondering if it was possible to set the release date on promoting an app from Alpha to Release?
or Set it to be manually released so that it passes tests but is hold it for manual release

[2017-07-07 13:11] yacaovsnc commented on #70
Thanks @AdamEssenmacher for reporting this issue.  Can you please go the **Variables** tab of your build definition and set a variable named **System.Debug** to true?  Then after reproducing the failed build, can you please attach the log here?

Thanks!

[2017-07-10 16:32] AdamEssenmacher commented on #70
I'll do this when we roll out our next version.

[2017-07-17 09:06] kmiterror commented on #35
@madhurig
I have edited source code of this extension and replaced all backstick characters, so it worked on TFS 2015.
But since other extensions (eg. extension for HockeyApp) had simmilar problems I have installed TFS 2017 on my local machine and all extesnions are working there without problems.
I don't have time to recheck tfs 2015 and we are planning an upgrade to tfs 2017 anyway.
Probably, if

[2017-07-17 14:43] AdamEssenmacher commented on #70
Here it is:

`2017-07-17T14:37:26.3849471Z ##[section]Starting: Increase com.roofsnap.schemingorca rollout fraction to .25
2017-07-17T14:37:26.3989478Z ==============================================================================
2017-07-17T14:37:26.3989478Z Task         : Google Play - Increase Rollout
2017-07-17T14:37:26.3989478Z Description  : Increase the rollout fraction of an app previously

[2017-07-19 14:20] yacaovsnc commented on #70
Thanks!  Will take a look very soon.

[2017-07-25 20:16] yacaovsnc commented on #70
Looking at the log and code, it appears we weren't able to create a JWT client based on the credential provided.  Could you please double check the credentials supplied from the service endpoint?

[2017-07-26 10:35] Woboz opened #72 "Error on VSTS task install"
Hi

I'm getting "An undefined error occurred while attempting to connect to the server. Status code 0: error." when I try and add to my VSTS.

Any ideas?

Regards

Dave

[2017-07-26 20:46] AdamEssenmacher commented on #70
The task before this one is a Release to Alpha. It uses the same Authentication Method and Service Endpoint and seems to work fine:
![image](https://user-images.githubusercontent.com/8496021/28642902-f3dd3cde-7221-11e7-88fa-c42e4d71c6d7.png)

[2017-07-27 14:09] JKennedy24 opened #73 "Promoting from Alpha fails"
Error is:

I would like Rollout fraction to be 100% so I have tried the following values:

1.0 - failed
blank - failed

I'm guessing 0.99 would work, but obviously this would mean it would only go to 99% of my users

[2017-07-27 16:09] AdamEssenmacher commented on #73
Instead of using the "Increase Rollout" task, use the "Promote" task using "Rollout" as your Source Track and "Production" as your Destination Track.

[2017-07-27 16:11] JKennedy24 commented on #73
@AdamEssenmacher  I've just noticed that it has `production` as a destination track.

Does this sound correct:
Source Track: `Alpha`
Destination Track: `Production`

Or does the Source Track need to be `Rollout`?

[2017-07-27 16:13] AdamEssenmacher commented on #71
These features are built into VSTS. Environments can be set to require pre-deployment approvals. During the approval process, approvers can choose to delay their approval until a future date/time.

[2017-07-27 16:14] AdamEssenmacher commented on #73
I'm not sure. I'm having trouble with the 'Increase Rollout' task myself. I'd try "Rollout" as the source track first and see what happens. I'd be interested to know what ends up working for you!

[2017-07-27 16:16] JKennedy24 commented on #71
@AdamEssenmacher I was talking more about delaying release after being Approved by Apple / Google / Microsoft.

For example on their dev pages they have an option called:
When to release:

- Immediately

- When I say

- On a specific date time

We need to coordinate all 3 of our platforms to go out at the same time, but at the moment the only release option through VSTS extensions is `immediate` t

[2017-07-27 16:18] JKennedy24 commented on #73
@AdamEssenmacher  Thanks for the info. I'll try it as `Alpha` to `Production` at the moment.

I'm guessing `Rollout` to `Production` is to be used when you have already set `50% Rollout` and now want to go complete `Rollout`.

I'll close this issue and re-open a seperate one if this doesnt work after our next release cycle

[2017-07-27 16:18] #73 closed

[2017-07-28 13:50] Woboz commented on #72
New more helpful message today:

A task definition with id '8CF7CAC0-620B-11E5-B4CF-8565E60F4D27', name '' has already been uploaded. To replace the existing definition, provide a task version which is greater than '1.119.0'.
--

[2017-07-31 15:02] yacaovsnc commented on #70
Hmmm that's interesting.  Could you please attach debug logs from both tasks (in the same run) so we can compare the difference?  This looks like the offending code:  `[[edits, edits.tracks, jwtClient].forEach(Promise.promisifyAll)` , and it is virtually the same in both tasks.  Needs to see why it works in one task but fails in another.  Thanks for your help!

[2017-07-31 22:36] AdamEssenmacher commented on #70
So, my immediately previous step isn't actually Release to Alpha--that's two steps back. The actual order of my tasks is:

Release to Alpha -> Promote from Alpha to Rollout (10%) ->Increase rollout fraction to 25%

The first two steps work just fine. It's the third step, increasing my rollout fraction to 25%, that errors out.

Each of these steps is in its own VSTS "Environment".

It'll be another

[2017-08-03 07:53] JKennedy24 opened #74 "[Question] How do you use Additional APK's?"
I've been looking at the documentation and screenshots shown [here](https://marketplace.visualstudio.com/items?itemName=ms-vsclient.google-play)

how do I specify an apk for each target architecture?

The screenshot just shows a wilcard to `.apk` - which architecture is that targeting?

[2017-08-08 14:45] belzuk opened #75 "Logs say publish is successful, but APK does not arrive in Developer Console"
Hi,

I've been trying to implement a deployment pipeline with this extension but I can't seem to get the deployment to the Play Developer console to work.  The log below says that everything should be OK but the APK doesn't appear in the developer console either in Manage Releases or the Artifact Library.

I am using the Service Endpoint authentication method and I'm trying to push to the Producti

[2017-08-09 08:15] rafalmalek commented on #72
I've got same problem
![image](https://user-images.githubusercontent.com/16857116/29111706-99ca67ce-7ceb-11e7-908b-c6d20571a529.png)

[2017-08-09 11:25] JKennedy24 commented on #74
Ok I found out. As long as you provide a valid .apk for the proper upload. then provide the others as the additional ones. Works well

[2017-08-09 11:25] #74 closed

[2017-08-09 18:59] yacaovsnc commented on #72
If you go to manage extensions:
https://<youraccount>.visualstudio.com/_admin/_extensions?tab=manage&status=active

Do you see the extension installed?

[2017-08-10 11:51] rafalmalek commented on #72
No. I only have this:

- Colin's ALM Corner Build & Release Tools by Colin's ALM Corner
- HockeyApp by Microsoft
- Timetracker by 7pace
- XDT Transform by Guillaume Rouchon

[2017-08-10 13:27] yacaovsnc commented on #72
This error is quite odd, looks like this guid has already been installed on the account.  Is this the first time you tried to install this extension?

There is a cli tool that can list out all the tasks, would you please try list out the tasks in your account and see if some other tasks share the same guid?

https://github.com/Microsoft/tfs-cli/blob/master/docs/buildtasks.md#list

[2017-08-23 16:52] AdamEssenmacher commented on #70
Please see the attached logs. Steps 1 and 2 work as expected. Step 3 fails.

[2 - Google Play - Promote.txt](https://github.com/Microsoft/google-play-vsts-extension/files/1246254/2.-.Google.Play.-.Promote.txt)
[3 - Google Play - Increase Rollout.txt](https://github.com/Microsoft/google-play-vsts-extension/files/1246255/3.-.Google.Play.-.Increase.Rollout.txt)
[1 - Google Play - Release.txt](https:/

[2017-08-23 17:34] yacaovsnc commented on #70
Are those three steps from the same build?  It seems there is a 20 hours gap in between step 2 and 3.

I am asking because the oauth token generated for each build is time sensitive - if they are from the same build, one possibility is this token has expired and the 3rd step weren't able to resolve the credentials from server anymore.  I need to consult with other teams to be sure.

[2017-08-23 19:52] yacaovsnc commented on #70
aaarrr!  I can't believe I missed such an obvious issue!  Sorry for sending you down the wrong rabbit hole.  It was a problem with jwtClient, but not with the credentials.

`let jwtClient: any = google.auth.JWT(key.client_email, null, key.private_key, GOOGLE_PLAY_SCOPES, null);`

This is missing a "new" keyword, it appears the last refactoring introduced this error.

[2017-08-24 15:53] AdamEssenmacher commented on #70
No problem, I'm just happy the problem has been solved. Thanks for your attention to this!

[2017-09-12 10:34] egunawan58 opened #78 "Failed to create a new edit transaction for the package."
Hi,

I have been trying to upload my apk to google play store and end up with this error:
 ##[error]Error: Failed to create a new edit transaction for the package [package name]. See log for details.

I'm guessing it could be some issue with the service account.  as I quoted in the prerequisite section:

 8. Click the Grant access button in the row associated with the service account you just crea

[2017-09-13 16:13] #69 closed

[2017-09-13 16:14] madhurig commented on #68
@justinmwarner : Are you still encountering this issue? Did signing the APK help?

[2017-09-13 16:15] madhurig commented on #35
@kmiterror : Have you upgraded to TFS 2017? Did that help?

[2017-09-13 16:35] madhurig commented on #70
Hi,

The fix has been released in version 1.123.0 of the extension. Please let us know if you still see an issue.

Thanks,
Madhuri

[2017-09-13 16:35] #70 closed

[2017-09-17 02:20] egunawan58 commented on #78
Hi,

I'm just putting my solution for those who are confused with the prerequisite guide.
1. You need to link you project to your account if you haven't done so
![image](https://user-images.githubusercontent.com/31886226/30517424-f1bdb60a-9b88-11e7-9c7d-441d68bafa94.png)

2. Then you can Grant Access to your service account.
![image](https://user-images.githubusercontent.com/31886226/30517434-403a

[2017-09-18 09:15] kmiterror commented on #35
As i mentioned before, I installed fresh TFS 2017 instance on my dev machine, this plugin and every other works ok on TFS 2017. The problem is with TFS 2015, I think it would be fair to mention this in the readme/documentation/anywhere.

[2017-09-18 14:51] AlexRukhlin commented on #75
Hi,

Could you please provide us with debug log? Tip: Set the variable ```system.debug``` to ```true``` in your definition when you queue a build.

Thanks,
Alex

[2017-09-20 20:33] AlexRukhlin commented on #35
@kmiterror : It looks like you need upgrade your server to TFS 2015 Update 4 (it includes build agent v.1.90.3) and [update](https://www.benday.com/2017/03/01/how-do-i-update-my-tfs2017-build-agents/) your build agents

[2017-09-28 12:13] rubeonline opened #79 "Getting 403 error when publish app to production"
Hi,

im getting this error when im publishing to production:

`Error: Error in edits.commitAsync(): {"cause":{"code":403,"errors":[{"domain":"androidpublisher","reason":"multiApkShadowedActiveApk","message":"Version 2017451900 of this app can not be downloaded by any devices as they will all receive APKs with higher version codes."}]},"isOperational":true,"code":403,"errors":[{"domain":"androidpub

[2017-09-28 12:17] rubeonline commented on #79
Version number in beta:
2017441800

Version number in production:
2017432390

Version number to upload to production:
2017451900

[2017-09-28 12:31] rubeonline commented on #75
Hi,

I have the same issue.

`******************************************************************************
Starting task: Release **\*.apk to production
******************************************************************************
Set workingFolder to default: C:\..\..\tasks\GooglePlayRelease\1.119.0
Found main APK to upload: E:/../_work/38/s/bin/android/release/android-release.apk (version cod

[2017-09-28 13:44] madhurig commented on #79
@rubeonline: GooglePlay requires the version number in beta to be higher than production, which is what this error indicates. From the developer console, you can deactivate the Beta and then upload to production but we don't allow that via the VSTS task today automatically. When you upload this version from the google developer console to production manually, don't you see this message?

The way t

[2017-10-02 07:21] rubeonline commented on #79
@madhurig: Thanks a lot. Now i understand the process at google. The message in the build output was not so helpfull.

[2017-10-02 07:21] #79 closed

[2017-10-03 11:10] madhurig commented on #79
@rubeonline : I agree on the error message. In the VSTS task we are just showing the error we get back from GooglePlay. We can definitely improve that. Thanks for the feedback!

[2017-10-07 15:13] christophedemey opened #80 "Google Play release task apk upload fail"
Hi

I am trying to use the google play release task, i followed the instructions but am getting the following output from the task :
[code]

I can see it found my apk at path d:/a/1/b/Release/privatemessaging.cdmapplications.com.apk which is correct because i also upload it as an artifact of the build.
`d:/a/1/b/Release/privatemessaging.cdmapplications.com.apk (version code 1)`

Then authenticatio

[2017-10-07 16:12] christophedemey commented on #80
Hi

Found the issue, the android:versionCode="2" line in androidmanifest.xml is required to increment on each push to the store.
Would be nice to get more feedback from the task.

Thanks!

[2017-10-10 15:13] yacaovsnc commented on #80
Thanks for your feedback!  We will circle back when we make those enhancements.

[2017-10-16 21:21] snap608 opened #81 "Bug in node-apk-parser module (Index out of range) (Android Studio 3.0 - Latest Gradle)"
I have a ZipAligned and signed APK. When I execute the task `Google Play - Release` I get the following error:

[code]

The error occures at line 45 in `GooglePlay.js`:
[code]
So it seems like it orginate from the `node-apk-parser` module.

I have also verified the `AndroidManifest.xml`-file to be correct and contain all information needed (manual upload to Google Play of the same APK works).

The

[2017-10-19 20:51] lkillgore commented on #81
Hi @snap608, I *may* have seen a similar error before (not in this task) that was fixed by updating the version of NPM and Node.  It seems like you have you are hosting your own build agent.  Which version of the build agent are you running?

Also, is there any way for you to find out if this is project or file specific?  Or, is this error happening on any APK on your build agent?

[2017-10-20 08:58] snap608 commented on #81
Hi @lkillgore. I have updated node to `6.11.4` and npm to `5.5.1` now and restarted the agent but the same issue is present.

You are right that we're running our own build agent (Windows). It's version is `2.123.0`.

I have also tried to run this on a different build agent (Mac) with the same result.

I have created a build script from scratch for this for testing including one super-simple app (

[2017-10-20 20:30] lkillgore commented on #81
Hi @snap608, I spent a while today trying to figure out how we can get on the same page.  I tried putting together a simple project we could both try to release, but I don't think that strategy will work after all.

One thing that would be helpful is if you could run your build on the VS2017 Hosted pool.  That would rule out (or limit to) 'my machine' / 'your machine' issues.

Do you have any idea

[2017-10-21 00:27] snap608 commented on #81
Hi @lkillgore. :)

I'm putting together a tiny node project first to run the `node-apk-parser` alone to check if it has a bug when parsing the APK. It looks like the `node-apk-parser` used is from Dec 2016. At least to rule that out.

I have tested running the whole build script on a hosted agent but the project need gradle 4.1. Another blocker there... hehe. I'll try to make a shorter build scrip

[2017-10-23 11:55] lkillgore commented on #81
Hi @snap608, FWIW, that bug should be fixed in the agent this week.  (In case you decide to try it out on the hosted machine again and it magically gets by that issue.)

[2017-10-24 17:01] SteveKennedy opened #82 "noPrimarilyChildDirectedStatus error, although status is set!"
I have triple checked my Google developer console, to ensure that my app is set to set to NO - that my app is not primarily directed toward children (under age 13). It has been set that way for a long time (weeks/months). But when I run the VSTS release with this extension, I still get the following error.

![image](https://user-images.githubusercontent.com/12101125/31956871-70768d14-b8b2-11e7-800

[2017-10-24 23:19] mooola opened #83 "Google Play Connection"
I'm having difficulties authenticating to Google Play through the service endpoint.  The issue seems to be with the private key.

The instructions say to enter the Private Key like:
**Enter the private key from the Google Play Developer Console in the format: -----BEGIN PRIVATE KEY-----\nYourPrivateKeyHere\n-----END PRIVATE KEY-----\n**

This is what I've tried along with the results:
-----BEGIN P

[2017-10-25 03:56] SteveKennedy commented on #82
My bad. Please close this. I actually had TWO different google play console accounts, with the same named APP on each of them.  Once was approved/answered, and was was actually not set.

[2017-10-30 19:48] #82 closed

[2017-10-30 19:48] AlexRukhlin commented on #82
By the author's request.

[2017-10-31 12:16] Banders2 opened #84 "Getting Index out of range error"
After upgrading to version 3.0
I'm getting the follwing error:
 ##[error]RangeError: Index out of range

The generated APK is working, since I can manually upload it to the Google Play Console.

2017-10-31T12:04:32.4750827Z Description  : Release an app to the Google Play Store
2017-10-31T12:04:32.4750827Z Version      : 1.119.0
2017-10-31T12:04:32.4750827Z Author       : Microsoft Corporation
201

[2017-10-31 13:47] AlexRukhlin commented on #84
Hi,

Could you please provide a full debug log? To generate it you should assign to true the system.debug build variable in your build definition.

Thanks,
Alex

[2017-10-31 15:54] Banders2 commented on #84
@AlexRukhlin

 ##[debug]Evaluating condition for step: 'Release app\build\outputs\apk\release\app-release-unsigned.apk to alpha'
2017-10-31T15:23:16.9522706Z ##[debug]Evaluating: succeeded()
2017-10-31T15:23:16.9522706Z ##[debug]Evaluating succeeded:
2017-10-31T15:23:16.9527776Z ##[debug]=> (Boolean) True
2017-10-31T15:23:16.9527776Z ##[debug]Expanded: True
2017-10-31T15:23:16.9532711Z ##[debug]Re

[2017-10-31 18:34] AlexRukhlin commented on #84
Hi,
It looks like the same issue has been reported in https://github.com/Microsoft/google-play-vsts-extension/issues/81 - Possible bug in node-apk-parser module used.

BTW, in your first post you mentioned: "After upgrading to version 3.0". What does that mean? What has been upgraded?

Alex

[2017-10-31 19:20] Banders2 commented on #84
I believe the issue in 81 is the exactly same.

I have updated the Android studio version to 3.0.0 it seems like the problem appeared after this upgrade. Rerunning a commit from before the upgrade still works.
The update has increased the gradle versions as described here: https://developer.android.com/studio/build/gradle-plugin-3-0-0-migration.html

[2017-10-31 19:24] #84 closed

[2017-10-31 19:27] Banders2 commented on #81
Hi @snap608 I'm now facing the exact same problem did you manage to find a solution?

@lkillgore I just tried building with the Hosted 2017, but it seems like they have still not been updated to the versions:  [Android SDK Platform 26, Android SDK Build-Tools 26.0.2].

[2017-11-01 00:34] snap608 commented on #81
Hi. Sorry for the minor radio silence. :)

I have tried to debug the `node-apk-parser` with no success yet (had just an hour to spare to look into it).

@Banders2 I tested a older version of the app/APK (pre Android studio 3.0) and it worked. So there is something that have changed. I'm also able to upload a APK manually to Google Play that is compiled using Android studio 3.0.

@lkillgore Tested

[2017-11-01 14:35] snap608 commented on #81
Android Studio 3.0 (build 171.4408382) is now released (stable channel). Going to do a test by updating one of our build agents and see if it resolve anything. BRB.

[2017-11-01 16:34] lkillgore commented on #81
@snap608, I have it on good authority that the fix for the Hosted image should finish rolling out today.  Sorry it's taken so long!

[2017-11-01 17:33] snap608 commented on #81
@lkillgore Update on the Hosted 2017 agent. The `License` blocker is gone. `Android SDK Platform 26, Android SDK Build-Tools 26.0.2` and `Gradle 4.1` install is successful. :)

But I do get the same `Index out of range´ error using the Hosted VS 2017 agent.

[2017-11-05 20:13] justinmwarner commented on #68
@madhurig signing did help.  Thanks for getting back to me. I figured this out afterwards and forgot to update here.

[2017-11-05 20:13] #68 closed

[2017-11-07 16:19] snap608 commented on #81
The bug is indentified by multiple users in `node-apk-parser`.

Source: https://github.com/arthur-zhang/node-apk-parser/issues/4

[2017-11-13 18:43] snap608 commented on #81
@lkillgore Not sure how to proceed with resolving this bug. Any ideas? :)

[2017-11-13 20:54] lkillgore commented on #81
Hi @snap608, I didn't mean to go dark on you for the last couple of weeks. :)

Currently, we're deciding on our path forward.  Likely our solution will be one of the last two options you suggested.  Or, possibly we'll write our own.  Unfortunately, none of these are quick solutions. :(

I'm not sure the best idea to get you unblocked in the meantime.  One option: you could try to clone this repo y

[2017-11-13 22:31] snap608 commented on #81
@lkillgore Thanks for the response. I'll probably do a fork myself of the `node-apk-parser` repo and try to fix the issue. I'll update you if I'm successful. :)

[2017-11-14 03:07] jsodeman commented on #80
I'm getting this error as well, but I am incrementing the code number in the manifest. I can take the apk from the build artifacts and upload it to Google Play manually without issue. In this case the only code already released is 1.

[code]

[2017-11-14 23:17] jsodeman commented on #80
We resolved our issue by setting the build variable system.debug to true, which gave us more detailed logs. The glob was grabbing the wrong .apk and trying to upload it to the store.

[2017-11-27 18:54] samuelgodbout commented on #81
Hi @snap608 ,
Have you been able to fix the issue? I'm facing the same problem. :(

[2017-12-03 02:17] bingzer commented on #81
Same problem here - any workaround?

[2017-12-13 16:27] MateusLB commented on #81
Same problem here =(

[2017-12-13 18:14] snap608 commented on #81
I have tried to look into the `node-apk-parser` used to try to debug the issue with no success so far. :/

[2017-12-13 18:34] madhurig commented on #81
We have this item on our backlog and hope to fix it in the next release (probably early January). Sorry for the inconvenience.

Thanks,
Madhuri

[2017-12-14 20:33] madhurig commented on #72
@Woboz @rafalmalek : Do you still have this issue with installing the extension? Please provide your account name if you are still seeing this issue and we will check if we can fix it.

Thanks,
Madhuri

[2017-12-14 20:34] madhurig commented on #75
@rubeonline : Did you update the APK version?

Thanks,
Madhuri

[2017-12-15 12:39] mortenesser opened #86 "Deploying to Alpha stage is failing"
I am building (build gradle task) and signing (release task) an APK file, using my VSTS account, and I am now trying to publish the APK file to Google Play, using this VSTS extension.

I have setup the release definition with 2 tasks:
Signing and Aligning APK file(s)
Google Play - Release

I have setup a Service Endpoint to GooglePlay, and is using this as the authentication method as well. The Se

[2017-12-16 22:00] madhurig commented on #86
@mortenesser: The "Invalid_Client" error generally means the credentials supplied are not correct. Please verify you have copied the "private_key" and "client_email" from the JSON file to the service endpoint or use the JSON key for authentication.

Thanks,
Madhuri

[2017-12-16 22:03] madhurig commented on #83
@mooola: Please verify you have copied the "private_key" and "client_email" from the JSON file to the service endpoint. You can alternately try using "Authentication Method" as "JSON Auth File" and see if it works. The error seems to be some encoding issue or incorrectly copied "private key".

Thanks,
Madhuri

[2017-12-16 22:05] madhurig commented on #80
@jsodeman: Thanks for sharing your fix. We will update the task to print a warning if more than one APK is found by the glob along with the APK being uploaded.

Thanks,
Madhuri

[2017-12-16 22:05] #80 closed

[2017-12-16 22:23] madhurig commented on #78
@egunawan58: Can you please provide debug logs (set variable system.debug=true) from your build? That should have more details on why creating the edit failed.

Thanks,
Madhuri

[2017-12-17 10:10] mortenesser commented on #86
@madhurig Thank you so much. I had indeed put in a wrong email address

[2017-12-17 10:10] #86 closed

[2018-01-02 16:03] AntSwift commented on #81
Hi @madhurig, is there a more specific release date available? I can manually release for the time being but this isn't a good long term solution.

Thanks,
Ant

[2018-01-05 12:15] madhurig commented on #81
@AntSwift: We have the work scheduled, will update you once we have more details on the timeline. Sorry for the inconvenience.

Thanks,
Madhuri

[2018-01-05 13:44] madhurig commented on #72
Closing since this is not a bug in the extension and we think has been resolved on the VSTS service. If you continue to have issues, please contact us with your account name and we can resolve it for you.

Thanks,
Madhuri

[2018-01-05 13:44] #72 closed

[2018-01-06 13:40] danports commented on #81
I'm running into the same problem - would love to be able to use this extension, since it looks great otherwise. 😁

[2018-01-08 19:36] lkillgore commented on #81
Hi all (specifically @AntSwift because you asked for a more specific release date)! I have a PR out for this: https://github.com/Microsoft/google-play-vsts-extension/pull/87.  I'm going through some QA on it now.  It should be released in the next day or two.

[2018-01-11 13:34] lkillgore commented on #81
Hi all!  The fixes to the google play extension are being published right now (version 1.129.0).  Apologies for the delay in getting this fix out.  Please let us know if you run into any issues using it!

[2018-01-11 15:54] snap608 commented on #81
Hi!

Verified working for us. No changes needed to our build scripts pre. Android Studio v3.0 update.

Thanks! :)

[2018-01-12 12:48] #81 closed

[2018-01-12 20:54] AntSwift commented on #81
@lkillgore Thanks for the responses and updates. Worked perfectly without any changes.

[2018-01-18 06:55] noChamp opened #88 "Failed to create a new edit transaction for the package. Error: null"
hi
I am using Goggle Play - Release to release strait to Beta channel.
The process fails.
I am getting that the error is null........
Please help.....

Here are the full logs (system.debug=true):

Found main APK to upload: /Users/vsts/agent/2.126.0/work/1/s/platforms/android/build/outputs/apk/android-release.apk (version code 307030)
Found the main APK file: /Users/vsts/agent/2.126.0/work/1/s/plat

[2018-01-18 06:58] noChamp commented on #88
I am using 'JSON Auth File' method, and authentication succeded.
from the logs "Authenticated with Google Play..."
so what can be the problem?

[2018-01-18 15:53] lkillgore commented on #78
I'm closing this due to inactivity.  If the problem is still occurring, please open a new ticket.

[2018-01-18 15:53] #78 closed

[2018-01-18 16:10] lkillgore commented on #88
Hi @noChamp!  The 'null' message means that we weren't given an error message from google's API.
 They might, however, give you a better message if you call it directly.  Could you please try something out for me?  Could you try using this site to try the step that's failing manually?https://developers.google.com/apis-explorer/#search/androidpublisher/androidpublisher/v2/androidpublisher.edits.ins

[2018-01-18 16:17] #83 closed

[2018-01-18 16:20] lkillgore commented on #75
Closing due to inactivity.  Please open a new ticket if you need further help with this.

[2018-01-18 16:20] #75 closed

[2018-01-18 16:22] lkillgore commented on #35
Closing due to inactivity.  Please open a new ticket if you need further help with this.

[2018-01-18 16:22] #35 closed

[2018-01-21 14:34] noChamp commented on #88
thanks for helping!
I an using it and I get "The project id used to call the Google Play Developer API has not been linked in the Google Play Developer Console"

[2018-01-22 13:17] lkillgore commented on #88
Hi @noChamp!  Yes, I have seen this message before!  This suggestion from stackoverflow should get things working: https://stackoverflow.com/a/25655897.  Please let me know if that fixes things for you.

[2018-02-11 13:16] noChamp commented on #88
hi
thanks a lot for your continued help!
its much appreciated!
I did everything listed there and it still didn't work, so I approached Google Support and they fixed it on their side
thanks again
M

[2018-03-02 20:42] #88 closed

[2018-03-21 11:14] GKersten commented on #56
Any updates or timeframe for supporting OBB files? The current version of the task is not usable anymore for my app since I passed the 100MB file size I need to split my APK.

[2018-03-21 11:24] DavidStaheli commented on #56
Hi @GKersten, thanks for raising this issue again because it's been around for nearly a year.  I can't say exactly when we'll complete it, but I've added it to our near-term plans and hope to have a more specific date in the next 2 weeks.

[2018-03-21 11:54] GKersten commented on #56
@DavidStaheli Thanks for the quick answer. For the time being I will have a look at it, see if I can get something working.

[2018-04-02 15:31] VasuInukollu opened #90 "Internal test channel is not available"
There is a new "Internal test" channel available on play console. How to target to this channel?

I am aware of Alpha, Beta, Production, Rollout channels exists already. This is a new one, I guess.

[2018-04-03 14:58] yacaovsnc commented on #90
Thanks for raising this issue.  I have created a backlog item to track this enhancement.

[2018-04-04 18:58] biozal opened #91 "Extension doesn't work on TFS 2015 running on a Mac Build Agent"
I have a step to use the Google Play - Release step to go through and upload a build using directions provided on the site.  When the step runs all we see is this:

2018-04-04T18:11:03.4458870Z ##[section]Starting: Google Play Release to Beta
2018-04-04T18:11:03.4493880Z ==============================================================================
2018-04-04T18:11:03.4502580Z Task         : Googl

[2018-04-06 14:44] yacaovsnc commented on #91
Can you please set `System.Debug` to `true` and attach the log here?

[2018-04-09 08:10] GKersten commented on #56
@DavidStaheli Are you able to give some more information about the support of obb files?

[2018-04-10 06:21] michaelhoferlevion opened #92 "[Feature Request] Please add the new internal track"
Google Play Store provides an additional new track "internal" for deployment since a short time. Can you please Add this new track to the list of available tracks.

Thank you!

[2018-04-10 13:58] madhurig commented on #92
Thanks for notifying us, we are using this issue to track the work: #90

[2018-04-10 13:59] #92 closed

[2018-04-13 05:07] Noglen opened #93 "Specify version with Promote Task"
When using the Promote Task, it would be useful to specify which version in a track you want to promote.

eg.
I publish V2 to the Alpha track, which is then tested.
I then publish V3 to the Aplha track with some new features.

Later, I then want to promote V2 to the Beta track.

Currently it works if I promote Alpha to Beta before publishing the new build to the Alpha track, but there are often ti

[2018-04-14 12:32] s-bauer opened #94 "[Feature Request] Make extension available in releases too"
It would be nice to also have steps in the Releases Tab, instead of only for Builds.

[2018-04-14 12:33] #94 closed

[2018-04-14 12:34] s-bauer commented on #94
nvm

[2018-04-18 13:26] DavidStaheli commented on #56
@GKersten I'm hoping we can complete it in the next 4-6 weeks.  I'm anxious to get it done.

[2018-05-01 13:54] #90 closed

[2018-05-07 08:40] dhindrik opened #98 "##[error]Error: error:0D07209B:asn1 encoding routines:ASN1_get_object:too long"
I trying to release an apk to alpha. I using service configuration and not the json file to configure the connection to Google Play.

But I got following error:

How to solve that?

[2018-05-07 11:54] dhindrik commented on #98
After some more investigation I realized that I it was not the private key I got from the google play administrator, it was the private key id.

[2018-05-07 11:54] #98 closed

[2018-05-10 05:14] Foovanadil opened #99 "oAuth client disabled"
Not sure if this is an extension issue or a change on google's side or what.

All was working fine until 10 days ago (which was my last attempted build).

Now when going to publish to to the Play store I get an error saying the oAuth client is disabled.

I am using a Service Endpoint. I tried switching to JSON auth file and received the same error. (the log below is from my attempt with a JSON fil

[2018-05-10 14:27] madhurig commented on #99
Hi,

Are you able to upload the APK from the Google Developer Console? Based on the error it seems like your App has been blocked by Google. See related thread here: https://stackoverflow.com/questions/24686567/google-oauth-authentication-suddenly-fails-and-issues-disabled-client

Thanks,
Madhuri

[2018-05-10 15:42] Foovanadil commented on #99
Hmm, I don't see any indication that app has been banned. I am able to manage releases and create new releases in the console. Maybe just the oAuth piece has been disabled? Any idea how to check that?

[2018-05-10 16:04] madhurig commented on #99
The error is being returned when the task tries to authenticate with google. We use the email and private key from the JSON obtained from the Google developer console when you create a service account and grant it permissions. Can you re-check the permissions for the service account in your google developer console? Try regenerating the keys and updating them in the service endpoint used in the ta

[2018-05-10 17:10] Foovanadil commented on #99
Thanks for the quick reply. I am trying to re-create the service account to see if that fixes it.

In the meantime I just realized this might not be the right place for this feedback. I am using the VSTS built in Google Play step (visualstudio.com)

Is this the same extension that runs there?

[2018-05-10 17:26] madhurig commented on #99
@Foovanadil : This is the right location. The GooglePlay task in VSTS is provided by this extension :). Let us know if you have any success after recreating the service account.

[2018-05-24 07:31] JesperSjoquist opened #100 "[Feature Request] Upload Android App Bundle, .aab files"
There are now API's available for uploading the new Android App Bundle format:
https://developers.google.com/android-publisher/api-ref/edits/bundles/upload

It would be great to have this ability in our CI environment.

[2018-05-30 09:45] goudarzi commented on #72
We are facing the same issue with another extension. Perhaps this is something to be raised with VSTS/TFS team.

[2018-05-30 13:37] madhurig commented on #72
@goudarzi: Please open a ticket on https://developercommunity.visualstudio.com/spaces/21/index.html to be routed to the right VSTS team with details of which extension and VSTS account you are seeing this in. The issue is not specific to a particular extension but might happen more frequently with extensions that are larger in size.

Thanks,
Madhuri

[2018-06-14 16:51] nexxuno opened #101 "Google play release error: end of central directory record signature not found"
Hello,
I get the following error and log when trying to release an apk to google alpha channel on my private build agent. The build agent is on a cloud machine and the apk is correctly singed since I can take it from the artifacts and publish it manually. I tried both json auth and service endpoint manual configuration.

The configuration should be correct but anyways the error is not very helpful

[2018-06-15 07:31] premtodkar opened #102 "internal server error, with no cause in error logs {"cause":{"code":500},"isOperational":true,"code":500}"
Below is the log generated during apk deployment on google play store. Some details are made hidden.

Initializing JWT.
 ##[debug]Initializing Google Play publisher API.
 ##[debug]Authorize JWT.
 Authenticated with Google Play and getting new edit
##[debug]Creating a new edit transaction in Google Play.
##[debug]Request Parameters: {"packageName":"*****"}
##[debug]Updating Global Parameter editId

[2018-06-19 11:05] premtodkar commented on #102
@madhurig can you look at this?

[2018-06-21 14:36] madhurig commented on #102
Hi,

How did you setup authentication? How do you generate your json authentication file?
When using Service Endpoint authentication method, the credential should come from "SERVICE ACCOUNTS" instead of the "OAUTH CLIENTS" in the Google Play developer console.

Thanks,
Madhuri

[2018-06-25 09:05] nexxuno commented on #101
Any help would be appreciated.

[2018-06-26 14:10] madhurig commented on #101
@nexxuno : Looks like the apk is not found, the path detected is apkFile=C:\agent_work\1\b\Release. Please provide full path to the APK and see if that works.

The error message is not helpful at all. We will track improving it.

Thanks,
Madhuri

[2018-06-27 08:10] nexxuno commented on #101
Thanks but the apk actually is in $(build.binariesdirectory)/$(BuildConfiguration) which resolves to C:/agent/_work/1/b/Release , the next row of the logs has "C:\agent_work\1\b\Release" with a missing "\" so maybe in some points of your code you might have a bug resolving variables?

2018-06-14T17:12:21.2575927Z ##[debug]Main APK pattern: C:\agent_work\1\b\Release
2018-06-14T17:12:21.2615440Z ##[

[2018-06-27 11:33] madhurig commented on #101
Please update apk path to $(build.binariesdirectory)/$(BuildConfiguration)/**/*.apk to see if it picks up the full path to the file. You are providing the directory where the APK file is. The task requires the full file path, wildcards are allowed.

[2018-06-27 15:48] nexxuno commented on #101
Ok problem solved (even if with a slightly different solution).

Thanks.

[2018-06-27 15:50] madhurig commented on #101
@nexxuno: 👍. Can you share your solution?

Thanks,
Madhuri

[2018-06-27 15:54] nexxuno commented on #101
I linked it to the agent Process build variable. But your solution would work as well.

[2018-06-27 15:54] #101 closed

[2018-07-02 09:17] esh0 commented on #14
Is there any possibility to investigate again the possibility of adding the proguard file upload?

[2018-07-04 02:40] sachinvasista opened #103 "Rollout Faction 1 or 1.0 gives rolloutFractionOutOfBound Exception"
Rollout Faction 1 or 1.0 gives rolloutFractionOutOfBound Exception:

Please fix this.

Thanks in advance.

[2018-07-05 13:46] lkillgore commented on #103
Hi @sachinvasista, could you please run with `system.debug = true` and reply with the results?

[2018-07-06 21:21] lkillgore commented on #103
Hi @sachinvasista, I looked at this error message more closely.  It appears you're trying to use 'Google Play - Increase Rollout' or perhaps 'Google Play Promote' - Destination Track: 'Rollout' to do your release.  What you want to use is 'Google Play Promote' - Destination Track: 'Production' to release to everyone.

[2018-07-08 18:57] sachinvasista commented on #103
Alright I got it now! Thanks. Rollout 100% means Production track.

[2018-07-09 15:06] OndrejKunc commented on #102
Hi,

Same issue here. The apk deployment to the google play store was working fine for about year and a half. 6/11/2018 was last successful attempt and 6/14/2018 I started receiving this error without any change of the task.
I also use service account. I tried to switch from version of the task from 1.* to 2.* but the error is still the same. Manual deployment of the apk to the store works fine.

[2018-07-09 15:10] madhurig commented on #102
@OndrejKunc: Can you please share a successful and failed log? Any update in your app - say target Android version?

[2018-07-10 08:01] OndrejKunc commented on #102
@madhurig  I am using Xamarin for this this Android project and only update relevant to the Android projects was adding Xamarin Media Plugin, which references Java.Interop assembly besides other assemblies, but I don't think this is the cause of the problem.
After I start getting this error I also tried to update Android target framework version from 7.1 to 8.1 but it didn't help.
Here is my last

[2018-07-18 03:12] ImGonaRot commented on #75
I'm having the same problem. "APK successfully published!" but nothing listed on the Google Play Developer Console.
I also have cleared the "Update APK" check box.

@rubeonline How did you solve this?

[2018-07-18 12:50] ImGonaRot opened #104 "Failed to upload the APK X.apk. Failed with message: Error: APK is not zip aligned"
I'm actually having two problems.

1.
If I "check" the "Update APK" in the Google Play Release task, the publish will fail with error. "Failed to upload the APK X.apk. Failed with message: Error: APK is not zip aligned"
I already have a task in the build job that does Signing and aligning APK "before" the Google Play Release task.

2.
If I "un-check" the "Update APK" in the Google Play Release tas

[2018-07-23 12:35] lkillgore commented on #103
Hi @sachinvasista, I think I know what the problem is, and I think I know of a work-around:
1) Go to your GooglePlayPromote task
2) Temporarily change your Destination Track to 'Rollout'
3) If the 'Rollout Fraction' written is '1.0', please change it to '0.0'
![image](https://user-images.githubusercontent.com/26548919/43076566-98584e6e-8e52-11e8-9b7c-8bd11de71d50.png)

4) Save your definition
5) C

[2018-07-25 13:54] madhurig commented on #104
@ImGonaRot: Can you share your debug build logs?

For issue 1 with APK not being zip aligned, it might be that the zip aligned APK is not being selected for the upload and accidentally the non-zip aligned APK is being selected for upload.

For issue 2, unchecking "Update APK" means that only metadata will be uploaded to an existing release that was done previously. I don't think this is what you w

[2018-07-25 14:03] ImGonaRot commented on #104
@madhurig I shared the build log on the like for item #75
Please let me know if you prefer that I copy the log here.

1.)
My build already zip aligns the APK. and I can "manually" upload to the Google store right after the VSTS build has finished by going to the artifact folder, download the apk, then upload to Googl store.
The store accepts the APK, so I know it is definitely zip aligned correctl

[2018-07-26 18:39] sachinvasista commented on #103
Hello,
I followed your steps for work-around, but no luck.
1. Rollout Fraction was not written as 1.0, and infct it was empty field.
2. I saved the definition first by putting 0.0 and second my chnaging the dest. trcak to prod, I got the same error:
[code]

[2018-07-26 18:53] lkillgore commented on #103
Could you please send me a log with debugging turned on?

[2018-07-28 03:56] #104 closed

[2018-08-20 15:11] pascal-hauser commented on #56
Any updates on this? Is uploading expansion files (obb) now supported?

[2018-09-07 14:11] lkillgore commented on #103
This should be fixed in the latest release: 2.141.0.  Please let us know if there are any further issues.  Thanks!

[2018-09-07 14:11] #103 closed

[2018-09-18 07:03] OndrejKunc commented on #102
Good news. It suddenly started to work without any change from my side.
I looked at the logs for the last failed attempt and for the first successful attempt and there is almost no difference except there is no error in the working one. Both of those attempts have task version of 2.141.0 so I guess something must have changed on the Google Play side.

[2018-09-19 10:04] IvoVentura opened #106 "No application was found for the given package name.. error"
Hello,

I'm having issues using the extension when I try to upload the apk to Google play I get the following error:

2018-09-19T07:39:15.3157050Z Authenticated with Google Play and getting new edit
2018-09-19T07:39:15.3241920Z ##[debug]Creating a new edit transaction in Google Play.
2018-09-19T07:39:15.3330200Z ##[debug]Request Parameters: {"packageName":"6.0-2438415"}
2018-09-19T07:39:15.6219660

[2018-09-24 12:36] lkillgore commented on #106
Hi @IvoVentura, unfortunately, I can't reproduce the issue.  In my test APKs, it's properly reading the correct package name.

The code that gets the package name is [here](https://github.com/Microsoft/google-play-vsts-extension/blob/cf9cada8b71e783288fbed152b46966b5b11bdb5/Tasks/google-play-release/GooglePlay.ts#L152), and as you can see it's _trying_ to get the value from 'package'.  We're using

[2018-09-24 12:45] lkillgore commented on #102
Thanks @OndrejKunc  for letting us know!

[2018-09-24 12:45] #102 closed

[2018-09-24 12:47] lkillgore commented on #99
Hi @Foovanadil, I'm closing this bug due to inactivity.  If this is still an issue, please let us know and open a new ticket.  Thanks!

[2018-09-24 12:47] #99 closed

[2018-09-24 12:49] lkillgore commented on #91
Closing this due to inactivity.  If this is still happening for you @biozal, please let us know and open a new ticket.

[2018-09-24 12:49] #91 closed

[2018-09-24 12:49] IvoVentura commented on #106
Hi @lkillgore,

Thanks for your reply, we have tried again today and we got the same error. I've attached the manifest we are using. Uploading the app manually on the android developer console directly works fine, it was the workaround that we've used.

Thanks,
Best Regards

[AndroidManifest.zip](https://github.com/Microsoft/google-play-vsts-extension/files/2410802/AndroidManifest.zip)

[2018-09-24 14:34] lkillgore commented on #106
Thanks, @IvoVentura.  I don't see anything odd about your manifest, and I tried injecting some of your values in my test project, but I wasn't able to reproduce the issue.  I think the next step would be to try to figure out where things are going sideways.  Unfortunately, I can't test much on my side without your APK, but I think I can walk you through some steps.  Could you try this out?

1. Ins

[2018-09-25 08:15] IvoVentura commented on #106
Hi @lkillgore,

I've run the script, this the result:

`{"versionCode":7618,"versionName":"uses-permission","installLocation":0,"package":"6.0-2438415","platformBuildVersionCode":23,"platformBuildVersionName":"3.1.180919.2","manifest":7618,"com.gfi.companyhub":"uses-permission","usesPermissions":[],"permissions":[],"permissionTrees":[],"permissionGroups":[],"instrumentation":null,"usesSdk":null,"u

[2018-09-25 17:05] lkillgore commented on #106
Hi @IvoVentura, that's very useful.  Thanks!

I see this:
`"package":"6.0-2438415", `(which is in your manifest is 'platformBuildVersionName')
`"platformBuildVersionName":"3.1.180919.2",` (which in your manifest is 'versionName')

The rest gets weirder.  It seems to be an issue with the apkreader.  Could you please open a ticket here: https://github.com/openstf/adbkit-apkreader/issues and link bac

[2018-09-26 09:28] IvoVentura commented on #106
Hi @lkillgore,

We have opened the issue on the Adbkit-apkreader issues:
https://github.com/openstf/adbkit-apkreader/issues/17

I'll shortly send you an email with the apk file.

Best Regards

[2018-09-28 13:18] IvoVentura commented on #106
Hi @lkillgore,

The folks at adbkit-apkreader fixed the issue on their end and release a version 3.0 of their plugin.

I've tested it using the commands you provided and it now obtains the correct values.

Best regards

[2018-09-28 13:21] lkillgore commented on #106
That's fantastic!  I'll get around to making a new release as soon as possible.  And, thank you for helping us to work through this issue!

I'll post an update to this thread when I'm ready to update the plugin.

[2018-09-28 19:31] lkillgore commented on #106
@IvoVentura, I've updated the extension in the marketplace which should trickle its way to your Azure DevOps account soon.  Unfortunately, I can't verify the fix in production myself, so if you could verify that it's working and close out this bug (or let me know that it's not), that would be a big help.

Thanks!

[2018-10-01 08:04] IvoVentura commented on #106
Hi @IvoVentura,

I've tested and now it works fine  :)

Thanks for all your help,
Best Regards

[2018-10-01 08:04] #106 closed

[2018-10-16 08:24] mcpummec opened #108 "Multiple Closed Alpha Tracks"
Please add support for tracks other than [Alpha, Beta, Rollout, Production]. I need to maintain multiple closed alpha tracks!

[2018-10-17 05:57] rramprasad commented on #100
Need to support for Android App Bundle

[2018-10-30 15:37] AndrewBedscastle opened #109 "How to specify multi language changelog? (en-US;de-DE)"
Is it possible to update the changelog for multiple language identifiers in one step, eg. en-US and de-DE?
How must the changelog file look like to provide that functionality? How must the input field be filled?

Or is it not yet possible?

Thank you

[2018-11-06 16:48] madhurig commented on #109
This extension support uploading changelogs for mulitple languages but you will have to set them up in the format that fastlane supports: https://docs.fastlane.tools/actions/supply/#changelogs-whats-new

Let us know if you see any issues with that.

Thanks,
Madhuri

[2018-11-07 11:08] deec1 opened #110 "Not getting add option when trying to add in build step"
I've installed teh plugin from the market place however when I try to add the google play to a build pipline step I can see it int he list, it tells me it is installed but I don;t get an add button.

[2018-11-09 11:59] madhurig commented on #110
I am seeing this with another extension as well, not just this one. I will follow up and get back to you.

Thanks,
Madhuri

[2018-11-09 17:46] marius-bughiu commented on #110
I think it got fixed; I now see the tasks in my account.

![image](https://user-images.githubusercontent.com/11870708/48279071-2099b780-e458-11e8-8c82-42769c013ef2.png)

@deec1 can you confirm?

[2018-11-11 02:55] hammady commented on #109
As madhurig has suggested, use the fastlane supply tool to download your existing metadata from Google Play, then check in those files in your source control. You will find a folder called changelogs, this is where you update your changelogs for all the languages. Once changed, check the option "Update Metadata" and give your metadata path in either the source or the published artifact. In the sou

[2018-11-11 03:06] hammady commented on #56
I have the same issue. My app is using expansion files and I can't use this extension.
At least I need a way to link to an existing expansion file as it rarely changes.
Is there a limitation from the Google API side?

[2018-11-14 19:15] madhurig commented on #110
There was an issue in the service that would cause task installation from extensions to fail (in some cases based on task names). This was impacting the GooglePlay extension and has been resolved. If you see it now, please let us know.

Thanks,
Madhuri

[2018-11-14 19:15] #110 closed

[2018-11-19 19:07] eavonius commented on #110
@madhurig we're experiencing this in our release. We've had the VSTS admin enable the extension, but we see a greyed out "Installed" button but none of the associated tasks. How can we proceed with support to fix this?

[2018-11-19 23:11] eavonius opened #113 "Extension enabled but tasks missing"
We've enabled the extension for our Azure DevOps account, and now we see the extension as "Installed" when attempting to add it to a pipeline in release manager.

But the tasks it's supposed to install are missing as described in #110 .

Not sure the best way to resolve this, but we may try an Azure portal support request.

[2018-11-20 15:03] madhurig commented on #113
@eavonius - you can create a support request as well. If you open one, please provide a link to it, so I can follow up. Can you provide your azure devops account name?

Thanks,
Madhuri

[2018-11-20 15:03] madhurig commented on #109
Closing the issue. Let us know if you were not able to get this working.

[2018-11-20 15:03] #109 closed

[2018-11-20 15:32] eavonius commented on #113
Our account name is "tuyatech". I'll try to figure out how to file a request, I guess the Azure DevOps account isn't under our main Azure subscription.

[2018-11-20 15:44] eavonius commented on #113
@madhurig I filed a support request through incident reporting available from the Azure DevOps front page. The SR Number is 118112019364576.

[2018-11-20 17:33] eavonius commented on #113
@madhurig Yay! We installed it yesterday morning, so I'm not sure why it didn't show up until now. Perhaps whoever looked at the support incident resolved it? Anyway we see the tasks now! Thanks for your (or whoever it was?) help!

[2018-11-20 18:10] #113 closed

[2018-12-03 17:16] thecadmann opened #114 "Robot is missing a project number"
When trying to publish the APK file using this extension I get the following error:

 ##[error]Error: invalid_grant: Robot is missing a project number.
2018-11-30T22:20:30.9383080Z ##[section]Finishing: Publish to google play

We followed the instructions on how to create the google play console service account but it seems like there is something missing.  I have searched the google console for a

[2018-12-04 18:40] thecadmann commented on #114
I was able to fix this by giving the newly created service account release manager permissions for the project.

[2018-12-04 18:40] #114 closed

[2018-12-12 11:27] TedMobile opened #123 "invalid_grant: Robot is missing a project number google play release task"
Hi

I have release pipeline in azure devops using the  Release tasks.

I keep getting   "[error]Error: invalid_grant: Robot is missing a project number."

I even run with "System.Debug" true but this is all I am getting.

Is there a walkthrough in case I am missing the obvious? I followed this link to set up it

https://marketplace.visualstudio.com/items?itemName=ms-vsclient.google-play

any sugge

[2018-12-12 19:32] madhurig commented on #123
This looks like the same issue as https://github.com/Microsoft/google-play-vsts-extension/issues/114. Can you please try the suggestion provided in that issue?

Thanks,
Madhuri

[2018-12-14 07:35] iamvjperumal commented on #101
Hi i apk founded but still showing same error

[2018-12-14 14:53] madhurig commented on #101
@iamvjperumal - please open a new issue since this is an old one that was closed a while back. Please include this information in the new issue - Are you using a self hosted agent or a hosted agent? Is it running behind a proxy?

Thanks,
Madhuri

[2018-12-30 20:14] davidvavra commented on #100
+1. It's not really that hard to implement, just detect if AAB file is present after the build and upload it instead of APK

[2019-01-09 20:12] lassem commented on #14
Another year; time for a ping.

[2019-01-09 21:46] madhurig commented on #14
This is not on our backlog for Q1 of 2019 due to other priorities. If we get a community contribution, we will be able to do the release but are unable to fund it in this quarter otherwise.

[2019-01-22 18:19] madhurig commented on #123
Closing since this looks like a duplicate.

[2019-01-22 18:19] #123 closed

[2019-02-07 07:37] umbgtt10 opened #124 "Unable to upload APK with Google Play Extension"
Good morning

I have been fighting with this for a long time. Essentially I am getting a strange error when trying to upload my app to goolge play using the extension.

I am fairly sure I have followed all the steps correctly. Yet I am getting the following error message:

loading INPUT_APKFILE
loading INPUT_AUTHTYPE
loading INPUT_CHANGELOGFILE
loading INPUT_LANGUAGECODE
loading INPUT_METADATAROOT

[2019-02-07 17:27] madhurig commented on #124
Hi,

One thing I noticed in your SO post is that you are providing a full path on disk to the json file. The expectation is for it to be a relative path in the repo. If the path on disk exists, that should work too. Please try removing the " and use / as separator.

Do you get the same error when you use the endpoint? The private key showing up as empty is a security measure. We don't let you retr

[2019-02-08 05:06] umbgtt10 commented on #124
Hi

Thanks a lot for your answer. I get the exact same error if I use an endpoint:

![image](https://user-images.githubusercontent.com/45289332/52459055-4754b080-2b63-11e9-98a4-a0345cce26f3.png)

I have also tried with the Json file as suggested:

![image](https://user-images.githubusercontent.com/45289332/52459764-5c334300-2b67-11e9-8466-2d0d14a0133e.png)

But I am still getting the same result.

[2019-02-08 08:24] umbgtt10 commented on #124
I have upgraded tfs express to the latest version: 16.131.28601.4.
No changes.
Any idea what "token" means in this context?

[2019-02-08 19:02] madhurig commented on #124
Please send us full debug logs from your build. If you can't attach them here, please email them to me - madhurig at microsoft.com

[2019-02-08 20:28] yacaovsnc commented on #124
This error is very odd.  What should have happened next is the agent will parse and load the task's manifest files:
[code]
It seems in your case, the task didn't even get loaded.

Looks like maybe your tasks are corrupted on the build agent?  Can you please check if the task is downloaded to your build agent properly?   You can try delete the "GooglePlayRelease" task from your local build agent, i

[2019-02-08 21:15] yacaovsnc commented on #124
You may also try uninstall/reinstall the extension.

[2019-02-09 06:10] umbgtt10 commented on #124
Let me try both options and let you know.

[2019-02-11 12:08] umbgtt10 commented on #124
Well I have recreated the deployment pipeline entirely with the newest version of TFS Express and now everything works.
No idea what I was doing wrong before. Thanks for having provided support.

[2019-02-11 12:08] #124 closed

[2019-02-11 14:30] madhurig commented on #124
Thanks for the update @umbgtt10 . We believe the extension was somehow corrupted on your instance earlier. If you see that again, let us know.

[2019-02-18 14:33] myrjola commented on #108
Would this be as easy as adding `"editableOptions": "True"` for the tracks option in https://github.com/Microsoft/google-play-vsts-extension/blob/master/Tasks/google-play-release/task.json#L68

[2019-02-18 14:48] mcpummec commented on #108
At first glance, it seems like this would do the trick for me!

[2019-03-07 09:06] tobber72 opened #125 "No longer possible to create a Google Play Service Endpoint"
On the https://marketplace.visualstudio.com/items?itemName=ms-vsclient.google-play#overview page, under "Quick Start / Configuring Your Google Play Publisher Credentials / step 4" it says:

"Click on New Service Endpoint and select Google Play"

but in Azure DevOps (https://dev.azure.com/{organization}/{project}/adminservices) it is no longer possible to create a Service Endpoint for Google Play u

[2019-03-07 11:39] madhurig commented on #125
The see "Google Play" as an option in the UI. Were there any issues with installing the extension in your org? Can you try uninstall and re-install of the extension? If you continue to have issues, please send us your azure devops organization name.

Thanks,
Madhuri

[2019-03-07 13:57] tobber72 commented on #125
Yes, we have previously migrated from TFS (on-premise) to Azure DevOps and that was then the problem occurred.

When we re-installed the extension it is now possible to add the Service Endpoint for Google Play again, thank you for the help!

Thanks,
Torbjorn

[2019-03-07 13:57] #125 closed

[2019-03-13 12:11] damianun opened #126 "Google Play Release Task is not finishing when run on Microsoft's Agent: Hosted VS2017."
Google Play Release Task is not finishing when run on Microsoft's Agent: Hosted VS2017.

`2019-03-13T09:25:49.5377609Z ##[debug]Request Parameters:`
`2019-03-13T10:13:48.6094999Z ##[debug]Re-evaluate condition on job cancellation for step: 'Release com.purplebricks.app.apk to Internal Test'.`
`2019-03-13T10:13:48.6828250Z ##[error]The operation was canceled.`
`2019-03-13T10:13:48.6832036Z ##[debug

[2019-03-13 14:05] madhurig commented on #126
@damianun - thanks for reporting this issue. The agent has been rolled back to node 5 since other integrations were impacted by this change as well. Are you still seeing your releases not completing?

[2019-03-13 16:13] damianun commented on #126
@madhurig Thank you for responding so promptly. I had to use manual upload not knowing when the issue might be resolved.
I will test and confirm shortly whether solution is working or not.

[2019-03-13 16:50] damianun commented on #126
Yes, I can confirm solution worked! Thank you.

I still can see multiple lines of
`Warning: Use Cipheriv for counter mode of aes-256-ctr`
 being reported by various tasks, including Google Play Release one, however I presume this will be due to some other parts of Hosted agent software still using newer version of Node.js.

Thankfully this doesn't seem to be affecting us anymore.
I can see, it has

[2019-03-13 18:45] madhurig commented on #126
Thanks for confirming. We are working towards updating the agent and tasks to get rid of that warning.

[2019-03-13 18:45] #126 closed

[2019-04-10 10:06] yashwanthBhargav opened #127 "Getting Error:" Failed to create a new edit transaction for the package "co.example.app". Failed with message: Error: The project id used to call the Google Play Developer API has not been linked in the Google Play Developer Console.""
I am getting error : "The project id used to call the Google Play Developer API has not been linked in the Google Play Developer Console" on deploying my app (production). I tried everything listed in https://stackoverflow.com/a/25655897 but it didin't solve my problem.

TIA.

Update: attaching the log
![error](https://user-images.githubusercontent.com/33343424/55870592-91c7cd00-5ba6-11e9-8cab-73d

[2019-04-12 20:00] madhurig commented on #127
I have seen this before when using the wrong credentials or linking against the wrong project (it was frustrating to track down). It appears to be a configuration error on your part.

[2019-04-13 18:45] galvesribeiro commented on #78
I indeed fall in the same problem Today. Almost 2 years later...

The docs [here](https://marketplace.visualstudio.com/items?itemName=ms-vsclient.google-play) for the extension definitively needs to be updated as the screens on Google Play are very different and there are no roles for "Release Manager" anymore...

[2019-04-25 18:24] bandyguy opened #129 "Google Play APIs v1 and v2 are about to be retired"
According to Google: "Starting December 1, 2019, versions 1 and 2 of the Google Play Developer API will no longer be available." Does this project use v3 of their APIs?

[2019-04-26 14:04] lkillgore commented on #129
Hi @bandyguy, currently the 'release' and 'promote' tasks use V2, and 'rollout update' uses V3.  It's on our roadmap to update the others (I'm confident we'll get to it before the deadline).

[2019-05-03 06:38] prateek14 commented on #78
i'm running into the same for our production track

[2019-05-03 11:49] lkillgore commented on #78
@galvesribeiro and @prateek14, could you please provide a set of logs as outlined by @madhurig's comment?  It's likely that the 'real problem' is mentioned in the logs.  Thanks!

[2019-05-10 13:29] zdzislaw commented on #36
Hi
I also had the same error message, in my case I was using a normal account json, and the correct one would be to use the service account json. Do not forget to give the appropriate access permissions to your service account.
This tutorial helped me to get some doubts:
https://medium.com/easyread/android-ci-cd-advanced-63ac3cde12bd

[2019-05-22 18:12] gzarkovic-livly commented on #100
We would like to see this as well!

[2019-05-25 05:09] ashu16815 opened #130 "##[error]Error: write EPROTO 4434585024:error:140770FC:SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol:../deps/openssl/openssl/ssl/s23_clnt.c:794:"
Hi Team,
we are facing this issue in Google Play - Increase Rollout whereas Google - Play release and promote is working fine.

[](url)
[ReleaseLogs_15611.zip](https://github.com/microsoft/google-play-vsts-extension/files/3219142/ReleaseLogs_15611.zip)

Please help here.

[2019-06-04 18:33] pjquirk commented on #130
Hi @ashu16815.  That error message indicates an issue in basic SSL negotiation, which can arise from the server requiring a newer version of TLS than the client supports. The "Increase Rollout" task (and only that task) has been updated to use Google's newer APIs, which may require a newer TLS version.

Are you seeing this on a hosted build agent, or are you using a private agent? Which operating

[2019-06-04 21:56] Vannevelj commented on #78
For future visitors: I had the same issue because I didn't specify a role when creating the service account (considering it was presented as optional). As a result, the service account was not able to be linked to my Google Play account which in turn meant there was an auth error.

https://stackoverflow.com/a/54717925/1864167 showed me the way so I recreated the service account, this time with the

[2019-06-04 22:27] Vannevelj commented on #114
This seems to be a general authentication error. I had it occur because I was using the wrong email address for the service connection (has to be the auto-generated Google Developers service account email).

[2019-06-07 07:47] ashu16815 commented on #130
WE are using private agent which is running on mac DarwinX64

[2019-06-07 14:17] pjquirk commented on #130
My best guess is still that either your agent is outdated and doesn't support the version of TLS that Google requires (probably 1.2). What version of OpenSSL is installed? Check with `openssl version` from the terminal.  It needs to be >=v1.0.1 to support TLS 1.2 according to the [changelog](https://www.openssl.org/news/changelog.html#x35).

Also, are you behind a proxy? See [this issue](https://g

[2019-06-13 12:22] ThomasNigro commented on #100
Is there a status update regarding the implementation of this?

[2019-06-14 16:57] nate-eisner commented on #100
Over a year later and still nothing on this?

[2019-06-24 04:31] xbao commented on #130
Hi @pjquirk, I'm from the same team as @ashu16815.

I see in the discussion of the proxy issue that the fix was merged into googleapis v34.0.0, and the rollout update task depends on v33.0.0 (assuming I'm reading this [package.json](https://github.com/microsoft/google-play-vsts-extension/blob/master/Tasks/google-play-rollout-update/package.json) right)

Would it be possible to get a new version of

[2019-06-24 15:12] MaxGuernseyIII commented on #100
I suppose we could try looking into it ourselves and submit a pull request or something...

[2019-06-24 15:17] MaxGuernseyIII commented on #100
Looks like the problem might be in a dependency?

From https://github.com/microsoft/google-play-vsts-extension/blob/master/Tasks/google-play-release/GooglePlay.ts:

`        const reader = await apkReader.open(apkFile);
        const manifest = await reader.readManifest();`

[2019-06-24 17:11] pjquirk commented on #130
It might be possible, just depends on us being able to get to it.  @lkillgore has more context on the change to using the newere Google APIs.

[2019-06-24 17:29] lkillgore commented on #130
Hi @xbao, I'll see about bumping the googleapi version when we come out with our next release.  We haven't started work on it, yet, but we're hoping to get to it very soon.

[2019-06-24 19:10] MouthOfMadness opened #131 "Using a secure file path doesn't work for GooglePlayRelease@2"
Prepends the value d:\a\1\s to my Library's secure file path of env:DOWNLOADSECUREFILE_SECUREFILE  = d:\a\_temp\myFile.json

[2019-06-24 21:44] xbao commented on #130
Great, thanks for the updates.

I don't suppose there's an easy way to have the agent run a local modified version of the task? Then I could do the version bump, maybe it just works or at least I'll find other upgrade related issues early.

[2019-06-26 15:59] SebAubin commented on #100
Is there any updates on this request?

[2019-06-29 03:41] MaxGuernseyIII commented on #100
I used fastlane on a hosted mac. I had to use it to promote, too.

[2019-07-07 03:09] mamingcao commented on #100
No update? Google will force everyone to use bundle on Aug 1st 2019?

[2019-07-15 09:53] luigisaggese opened #132 "Certificate publishing issue"
Into our release pipeline self hosted Azure DevOps Server Version 17.143.28621.4 we are using to release into the store the task available on Azure Devops marketplace

https://marketplace.visualstudio.com/items?itemName=ms-vsclient.google-play

However, during the step of uploading the apk to the store, the task fails for a self-signed SSL certificate problem.
Here is the error log (more accurate

[2019-07-15 10:00] luigisaggese commented on #131
I suggest to use TFS Service Connections, instead secure file. Maybe could solve

[2019-07-15 12:12] mskg commented on #100
Any update on this?

[2019-07-15 15:26] MouthOfMadness commented on #131
I worked around this problem by adding the json to my repository

[2019-07-15 15:26] #131 closed

[2019-07-15 19:26] lkillgore commented on #132
Hi @luigisaggese,
The 'Error: self signed certificate in certificate chain' is _not_ from the build agent it's a response from google play.  What happens when you use the google play console and upload the APK manually?  I would expect that it would fail with a similar error.  FWIW, I think the documentation you're looking for is [here].

[2019-07-15 19:37] luigisaggese commented on #132
Hi @lkillgore
I took the same apk that I have generated with build agent (because after this task I copy in a shared folder) and upload it manually on Google Play console and it works perfectly.

Which test do you suggest? (there is no link to the documentation in your reply)

[2019-07-15 19:41] lkillgore commented on #132
Whoops!  I updated my original comment with the link, but if the APK works when uploaded manually, it's likely not the culprit.  Are you using a Hosted agent or your own build agent?

[2019-07-15 19:54] luigisaggese commented on #132
My own agent.

From my POV looks more related to the Mac Build agent Keychain web certificate that it's not trusted from certified authority (because it's internally managed), also if we can navigate to internet without problems.

[2019-07-15 20:06] lkillgore commented on #132
I see!  I missed your comment at the top that this is with Azure DevOps Server.

I think [this](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/certificate?view=azure-devops-2019) and [this](https://github.com/Microsoft/azure-pipelines-agent/blob/master/docs/design/clientcert.md) might be the right direction.  Unfortunately, I cannot do much on my side to assist in debugging. :(

[2019-07-16 17:29] lkillgore commented on #127
Closing on account of inactivity

[2019-07-16 17:29] #127 closed

[2019-07-26 11:29] meteorra commented on #129
Hi, @lkillgore, are you still on the road to meet the deadline? Thx in advance

[2019-07-26 12:05] lkillgore commented on #129
Hi @meteorra, yes, we're on track. Thanks!

[2019-07-29 14:06] WoodyWoodsta opened #133 "[Feature Request] Draft upload solution"
I'm unable to find a solution to a release pattern I am aiming to achieve with this plugin. Currently done manually, we create releases/versions in the Play Store Console, upload the APKs and then hand the draft version to the client to finish the release process as they wish (adding chaneglogs, etc).

Is it possible to simply upload the APKs to a new release but leave the version in draft, withou

[2019-08-02 21:08] dansiegel commented on #100
Would really love to see some traction on this. For that matter @ryuyu would love to know is this task still being supported? It hasn't been touched in 9 months...

[2019-08-06 18:53] #129 closed

[2019-08-07 18:28] lkillgore commented on #129
This work is complete.  I had to bump the major version of the task, so you'll need to update your definitions to get the changes with the new API.

[2019-08-07 21:08] MouthOfMadness opened #135 "Publish to google started failing"

[2019-08-07 21:16] MouthOfMadness commented on #135
I just started receiving this error, my last good build was about a week ago.

It's not clear to me if the publish task is failing on the google play api V3, or it's actually a 64 bit compiler issue.

##[error]Error: Error in edits.commitAsync(): {"cause":{"code":403,"errors":[{"domain":"androidpublisher","reason":"releaseValidationErrorKeyNotCompliantWith64BitRequirementError","message":"Release

[2019-08-07 22:04] MouthOfMadness commented on #129
I'm getting a different error with the new release GooglePlayRelease@3

##[section]Starting: GooglePlayRelease
==============================================================================
Task         : Google Play - Release
Description  : Release an app to the Google Play Store
Version      : 3.156.0
Author       : Microsoft Corporation
Help         : ms-resource:loc.helpMarkDown
==============

[2019-08-07 22:16] lkillgore commented on #129
Do you get that same error when you manually upload your APK using the google play console?  Does it happen when you use the '2.*' version of the task?  It seems that you're running into [this](https://developer.android.com/distribute/best-practices/develop/64-bit) issue, which shouldn't be related to the update of the task.

(FWIW, it looks like the requirement started to be enforced on August 1s

[2019-08-07 22:30] MouthOfMadness commented on #129
No on the console.

When I use @2, I get ##[error]Error: Error in edits.commitAsync(): {"cause":{"code":403,"errors":[{"domain":"androidpublisher","reason":"releaseValidationErrorKeyNotCompliantWith64BitRequirementError","message":"Release is not compliant with the Play 64-bit requirement."}]},"isOperational":true,"code":403,"errors":[{"domain":"androidpublisher","reason":"releaseValidationErrorKe

[2019-08-08 06:25] andrelundin commented on #129
Make sure you also target 64-bit in release, not only in debug.
Guys: Thanks for the fix. I will test it out if it now work tonight.

[2019-08-08 11:52] lkillgore commented on #129
Weird that they allow uploads using the console but not the API. :-/

The hosted image is defined [here](https://github.com/Microsoft/azure-pipelines-image-generation/blob/master/images/win/Vs2019-Server2019-Readme.md).  [This](https://developer.android.com/studio/command-line/apkanalyzer) says that it's included in the SDK tools, so I would expect that it should be on the image.

[2019-08-08 13:07] trondat commented on #56
Any progress on adding expansion files to this extension. It's really annoying that I cannot deploy my project with this extension.

[2019-08-08 19:14] MouthOfMadness commented on #129
@lkillgore @andrelundin

The console is a do as I say, not as I do.

From my yaml:

My android build task looks like this:

task: XamarinAndroid@1
displayName: "build android"
inputs:
projectFile: '**/droid.csproj'
outputDirectory: '$(outputDirectory)'
configuration: '$(buildConfiguration)'
msbuildArchitectureOption: x64
createAppPackage: true

My publish task looks like this:

task: GooglePlayRel

[2019-08-08 19:50] lkillgore commented on #129
@MouthOfMadness, you've uploaded the exact same binaries manually and it doesn't give a warning or error?  (If you're using a hosted agent, you'd need to post the APK as an artifact, download it, and manually upload it through the console.)  Does it not even give the warning about supporting 64-bit architectures?  You should at minimum see something like this:
![image](https://user-images.githubus

[2019-08-08 20:00] MouthOfMadness commented on #129
It seemed to work on Tuesday.

![aimobile](https://user-images.githubusercontent.com/29233402/62733845-14458980-b9ed-11e9-8663-ffc006408f16.JPG)

[2019-08-08 20:04] lkillgore commented on #133
As 'Draft'?  No.  'Unpublished'?  Yes.

Something that _might_ work for you would be to setup a release for 'internal test' track.

Or, you could create a release, but leave the 'app availability' as 'unpublished' until it gets handed off.  That would leave the release notes as not part of the initial 'release', but those could be created as a separate release which the uploaded APK could be added

[2019-08-08 20:10] lkillgore commented on #129
If it's failing with V2 of the task, then it has to be something that changed on Google's side.  It's possible they waited a few days before pulling the trigger for the Aug 1st deadline, but that's just a conjecture.

[2019-08-08 21:01] lkillgore commented on #135
_Posting relevant information from our conversation in #129:_

It seems that you're running into [this](https://developer.android.com/distribute/best-practices/develop/64-bit) issue, which shouldn't be related to the update of the task. It looks like the requirement started to be enforced since August 1st.

[2019-08-08 21:03] MouthOfMadness commented on #129
Yes, definitely the V2 task is failing and I've updated to V3 and received a different error related to 64-bitness.

[2019-08-08 21:32] MouthOfMadness commented on #129
I speculate that because it's in a deactivated state, there doesn't seem to be a way to update the existing apk with an armeabi-v8a version (this version is 7a)

![image](https://user-images.githubusercontent.com/29233402/62739294-16621500-b9fa-11e9-9fcd-8d2aa86a385f.png)

[2019-08-08 22:38] MouthOfMadness commented on #129
@lkillgore
Here's the real fix.

After updating my pipeline to use the GoogleRelease@3 task, I had to hand edit the android csproj file to be  arm64-v8a;x86_64.

It all worked after that.

[2019-08-08 22:38] MouthOfMadness commented on #135
Here's the real fix.

After updating my pipeline to use the GoogleRelease@3 task, I had to hand edit the android csproj file to be  arm64-v8a;x86_64.

It all worked after that.

[2019-08-08 22:38] #135 closed

[2019-08-09 06:20] andrelundin commented on #129
Works fine here.

[2019-08-09 12:21] lkillgore commented on #129
Glad to hear it @MouthOfMadness!  And, thanks for posting your fix!

[2019-08-09 13:22] #14 closed

[2019-08-09 16:05] aloisdeniel commented on #100
We seriously need this!

[2019-08-09 18:56] WoodyWoodsta commented on #133
The unpublish/publish idea makes no sense after the first release. The additional release track seems like a fair idea. Unfortunately while the metadata folder idea makes technical sense, the client is not of a technical perspective and so the best option is not always such in their eyes. I guess I was querying whether or not the Store API allowed this, and if not, it doesn't make sense to keep th

[2019-08-09 19:09] lkillgore commented on #133
@WoodyWoodsta, it should be _possible_ to use the Google API yourself and push a 'draft' release.  This extension is [hard-coded](https://github.com/microsoft/google-play-vsts-extension/blob/ead6a228254242d987f4d44ebda758df11190a3a/Tasks/google-play-release/googleutil.ts#L169) to 'complete' it (or set it as 'inProgress' for rolling builds).  Wiring in a way to have this value optionally be 'draft'

[2019-08-09 19:09] #132 closed

[2019-08-13 15:49] WoodyWoodsta commented on #133
@lkillgore If this is in fact possible, and has been requested by others, I'll re-open.

[2019-08-15 23:17] jonsamwell commented on #100
+1!

[2019-08-15 23:19] jonsamwell commented on #100
For everyone coming to this I had to use fastlane on a mac os azure agent

[code]

[2019-08-16 01:14] dansiegel commented on #100
@jonsamwell that's great info... thanks...

@lkillgore can you please provide the community with some idea of when we might expect aab support?

[2019-08-17 12:42] sfratini commented on #100
I am actually trying to make this work, however it is not that simple since AAB files are not stored in binary format but in protocol buffers, so the AndroidManifest cannot be easily read. If I make it work, I'll send a PR.

[2019-08-27 23:40] LeversonCarlos opened #137 "Promoting from internal test to alpha/beta is excluding my test device from availability"
On my pipeline i have a first stage using the "release task" to push the apk and metadata to internal tests.
I check on my testing device (a xiaomi mipad) and the app update is there.
Then, on a second stage i have a "promote task" to promote this release to an alpha channel.
Success everywhere, even on the play store console, all is ok. But my device doesnt see the update. Not only doesnt see the

[2019-08-28 13:06] dhruvcom commented on #129
@MouthOfMadness  Sorry for being naive.  Can you please let me know how you updated updating my pipeline to use the GoogleRelease@3 task ? Is the Task version in "Release Step" in the pipeline?

[2019-08-29 08:49] dhruvcom commented on #129
@MouthOfMadness  Thank you . It helps.

[2019-08-29 19:09] MouthOfMadness commented on #129
@druvcom

I should have mentioned that I using a single yaml file for both build and deployment for google; it didn't make sense to separate build and release for the google environment as internally they don't have a concept of dev/qa/production environments, but rather the internal/alpha/beta... track.  There are yaml tasks to do the track promotion, but I'm not using them.

[2019-09-20 00:09] xbao commented on #130
Hello again.

I see the googleapis dependency was bumped up to v41.0.0 in https://github.com/microsoft/google-play-vsts-extension/commit/31ec451f0973db60122aac95eb248a5bfbe7848c, then reverted to v33.0.0 in https://github.com/microsoft/google-play-vsts-extension/commit/3549702a7d0ee9a915607b258a2bbc807ef05762#diff-dbeb66ad42b202168154cea31140e10b.

I believe this issue is fixed in googleapis v34.0

[2019-10-02 21:12] andrewleader commented on #100
Wow it's been over a year? I just switched my apps to AAB and the lack of this is really a pain.

[2019-10-03 12:58] teamtam opened #139 "Android Bundle Support (.aab)"
Are there any plans to support the release of Android bundles, which is the currently recommended format by Google? When I tried to use the release task to do so then except with an .aab instead of an .apk, I got the following error.

`##[error]Error: APK does not contain 'AndroidManifest.xml'`

[2019-10-08 22:44] teamtam commented on #139
Just noticed this is a duplicate of: https://github.com/microsoft/google-play-vsts-extension/issues/100

[2019-10-08 22:44] #139 closed

[2019-10-10 18:03] #100 closed

[2019-10-10 18:09] andrewleader commented on #100
Wahooo!!!! 🚀🎉  @erjohnms do you have a timeframe for when the extension will receive this new update in DevOps?

[2019-10-23 00:23] praveendath92 opened #142 "Can't use release aab with yaml"
[code]

[2019-10-23 00:25] praveendath92 commented on #142
We are running the task on self hosted agent. Our self hosted agent is based on Ubuntu 16.04

We install node while building our agent this way
[code]

[2019-10-23 00:31] praveendath92 commented on #142
This is how we use the plugin in yaml

[code]

[2019-10-23 00:48] praveendath92 commented on #142
Tried with different agents from Microsoft pool and with UI.  GooglePlayReleaseBundle (3.160.0) always fails with the same error

[2019-10-23 07:29] lassana commented on #142
Same problem with our custom agent (Windows based):
`##[error]Unhandled: Unexpected identifier`

[2019-10-24 06:59] tinchev commented on #142
Same here I get this even without using yaml and on a Azure Hosted Agent

[2019-10-24 08:22] praveendath92 commented on #142
I verified the plugin on Azure Hosted Agents on all 3 platforms. It gives the same error

[2019-10-24 10:43] slang25 commented on #142
Seeing the same thing with non-yaml pipelines too (on macOS):
https://github.com/microsoft/google-play-vsts-extension/pull/138#issuecomment-541753581

[2019-10-28 04:01] AgUnityTest commented on #142
Same here

[2019-10-28 04:25] caupolican commented on #114
You saved my bacon.

[2019-10-30 13:11] cyrilcathala commented on #142
Same here, with hosted agent non-yaml pipeline.

[2019-10-30 13:28] slang25 commented on #142
I wonder if it's to do with the version of node it's running under. Maybe the task needs to be `Node10` rather than `Node` which is implicitly version 6.

[2019-10-31 15:46] marcostoodoo commented on #142
Same here. It´s a generic error, cant figure whats going on

[2019-11-01 20:43] Reubenator commented on #142
Am seeing the same issue - Google Play - Release Bundle.

Seeing nothing useful in the logs - even when turned up to verbose output, I'm new to this plugin - has it ever worked?

`2019-11-01T20:34:31.7937252Z ==============================================================================
2019-11-01T20:34:31.7937307Z Task         : Google Play - Release Bundle
2019-11-01T20:34:31.7937335Z Descriptio

[2019-11-01 20:56] slang25 commented on #142
I suspect the published artifact has never worked, however this was working while being developed. This is why I'm thinking its node version dependant. But I'm speculating here.

[2019-11-07 20:14] rviannaoliveira commented on #142
someone have some news?

[2019-11-09 06:45] andrewleader commented on #100
@erjohnms any update on when it'll be available on DevOps?

[2019-11-11 13:14] darrentaft commented on #100
It's already there as a new task named "Google Play - Release Bundle" or task ID "GooglePlayReleaseBundle@3"

[2019-11-11 16:48] andrewleader commented on #100
Oh sweet!!! I didn't think to look for a separate task. Thank you @darrentaft !

[2019-11-12 22:11] Unity-G commented on #142
Has anyone a workaround beside deploying as apk?

[2019-11-12 22:33] jooni91 commented on #142
@Unity-G the one and boring option I am using until this gets fixed is to just download the CI artifact and upload the generated .aab manually to the Google Play store.

[2019-11-13 08:10] FanerYedermann commented on #142
Same. The workaround is simply to not use it. I just went ahead and wrote my own upload script in the mean-time, using the python libs from Google. Bit more code bloat, but it works.

[2019-11-13 09:51] ddfreiling commented on #142
@erjohnms Hi, as you merged this, is there any chance you could help debug this? I have no idea how to test the task with an actual Azure build agent while developing. Do you know what the procedure is?

[2019-11-18 17:28] 1Siger1 commented on #142
@FanerYedermann can you share your upload script?
@erjohnms Can answer something? People here need your help!

[2019-11-18 18:06] FanerYedermann commented on #142
@1Siger1 Absolutely. I'll post a gist as soon as I get to my computer (probably tomorrow).

[2019-11-18 20:25] FanerYedermann commented on #142
@1Siger1 https://github.com/FanerYedermann/GooglePlayUpload
I hope I didn't make any copy-paste errors when ripping it out of my build pipe. Let me know if you have any issues.

[2019-11-19 13:21] blundell commented on #142
![](http://marketingfunnelautomation.com/wp-content/uploads/2016/01/Bump-sign-832x560.jpg)

anyone from Microsoft on this thread? I can't tell if this has even been picked up yet

[2019-11-19 13:42] slang25 commented on #142
Another workaround for now is to use fastlane which ships on the Azure DevOps macOS build agents:
https://github.com/microsoft/google-play-vsts-extension/issues/100#issuecomment-521830135

[2019-11-19 15:27] 1Siger1 commented on #142
@FanerYedermann thank you for the fast answer and the script. For now I am checking the link from @slang25. It looks a lot easier to implement. In case of failure I will try your python approach.

[2019-11-22 03:19] andrewleader commented on #142
I'm blocked by this issue too :(

[2019-11-22 03:52] jeromelaban commented on #142
Same thing here. /cc @jamesmontemagno as you've been writing about this lately :)

[2019-11-22 05:37] jamesmontemagno commented on #142
I ship my apps to App Center first and then connect to Google Play from there. I haven't tested aab files yet though from that end.

[2019-11-22 05:51] andrewleader commented on #142
The workaround to [use fastlane](https://github.com/microsoft/google-play-vsts-extension/issues/100#issuecomment-521830135) (from Mac agent) was super straightforward and easy! [I documented it a bit more here](https://medium.com/@andrewleader/publish-android-aab-to-google-play-store-using-azure-devops-pipelines-485683f3b9ec).

[2019-11-25 11:48] arctouch-carlosottoboni commented on #142
@erjohnms Could you please review this PR? It's affecting everyone. It's a simple fix.

[2019-11-25 15:00] vsaroopchand opened #144 "Updating my version for V3"
Hello, we are currently using V2 of this extension; however, we recently noticed a warning stating we must upgrade to V3 by Dec. 1nd, 2019 in our TFS 2018 environment. Where can we get the V3 extension for TFS 2018?

[2019-11-26 14:26] vsaroopchand commented on #144
Just want to add more details. We are sti

[2019-11-27 14:29] rinaldosilva opened #145 "##[error]Error: Forbidden"
I am trying to publish to alpha but receive the following message.
d578ef97-ff0e-461b-bf87-a967e13dd3e3 exists true
Found main APK to upload: /Users/runner/runners/2.160.1/work/1/s/app/build/outputs/apk/meuprojeto/release/app-meuapp-release.apk (version code 156)
Authenticated with Google Play and getting new edit
##[error]Error: Forbidden

[2019-11-27 16:25] arctouch-carlosottoboni commented on #145
Have you checked if the Service Connection/JSON File has the required access? The azure [docs](https://docs.microsoft.com/en-us/appcenter/distribution/stores/googleplay) recommend that you generate a Service Connection/JSON with owner privileges, but it will run with Administrator too.

[2019-11-27 20:30] rinaldosilva commented on #145
Thanks @arctouch-carlosottoboni You solve the problem!

[2019-11-27 20:30] #145 closed

[2019-12-03 13:19] azaricstefan commented on #144
I have same issue.

[2019-12-04 04:17] natpos commented on #144
I can't change the version in TFS2017 DevOps
![image](https://user-images.githubusercontent.com/55678153/70112332-1b358d80-16a9-11ea-95d2-2a56d0a0ec11.png)

[2019-12-17 21:23] mayeager22 commented on #142
This should not be closed...it is not fixed.

[2019-12-18 13:45] Praeterii commented on #142
We are still getting unexpected identifier error on newest version (3.163.0), so the issue is not fixed.

[2019-12-18 14:40] leantk commented on #142
This is being looked into still

[2019-12-19 10:23] aadesola commented on #142
We are experiencing same issue too.

[2019-12-19 17:09] erjohnms commented on #142
I've merged some fixes of problems I found and published 3.164
Please try it out and let us know how it goes

[2019-12-19 20:18] #142 closed

[2019-12-19 22:21] mayeager22 commented on #142
I can confirm that the task is now working in classic (non-yaml) release pipeline using version 3.164.0.

[2019-12-19 23:01] darrentaft opened #151 "GooglePlayReleaseBundle: Error: error:0906D06C:PEM routines:PEM_read_bio:no start line"
Anyone any idea what could be causing this error when I try to upload App Bundles to the Play Store?  Or any idea how I can debug it?

[code]

[2019-12-20 09:09] darrentaft commented on #151
Ignore me - I'd seen that someone else had raised this same issue, but didn't understand what they meant about entering it as a private key.  I see now that when creating the service connection in Azure, it specifically says:

I added that around my key and that error has gone.

[2019-12-20 09:09] #151 closed

[2019-12-23 17:06] slang25 commented on #142
Thanks to everyone who worked to get this working 🙂

I have an app bundle in our testing track now!

[2019-12-25 12:34] Asinab opened #152 "Error: socket hang up"
Hello,
After updating for V3 support, I get "Error: socket hang up" error (Extension Version:3.160.0).Why is the problem caused?
Thanks.

[2019-12-26 16:56] aadesola commented on #142
Thanks to everyone that made this work. Our releases are successful now.

2019-12-24T09:03:07.5318712Z Updating track information...
2019-12-24T09:03:36.4636665Z Bundle successfully published!
2019-12-24T09:03:36.4637278Z Track: internal

[2020-01-03 18:41] erjohnms commented on #108
This feature is now released

[2020-01-03 18:41] #108 closed

[2020-01-07 22:10] andrewclaus opened #154 "Promote Error: null"
Getting an error with the Google Play - Promote task in Azure DevOps.

I have a version in alpha and beta that I would like to promote to production. I tried promoting from alpha and from beta, both have the same result. The service account I am using here is the same one that is used with the Google Play - Release task which uploaded the APK and put into alpha.

The error is not helpful "Error: n

[2020-01-10 14:36] carstenhag opened #155 "Add bundle release process explanation to README"
Hello, could you please document how one builds a bundle and deploys it using this extension inside the README? Bundles aren't mentioned in the README yet.

[2020-01-10 15:16] carstenhag commented on #155
Further, it is unclear to me how to build and sign bundles.

My guess is that I first build them with gradle like I do with apks. The step after that is unclear to me, as there's only a "Signing and aligning APK file" step available and none explicitely for bundles.

[2020-01-10 15:22] darrentaft commented on #155
Gradle has a bundleX task.  e.g. where you currently use assembleRelease (or assembleMyFlavourRelease if using flavours) to create an APK, you'd use bundleRelease (or bundleMyFlavourRelease) to create and sign the bundle (assuming you have the signing config in the gradle config).  None of this is specific to this plugin though - these are Android fundamentals.  Once the bundle is created, the REA

[2020-01-10 15:25] carstenhag commented on #155
![Bildschirmfoto 2020-01-10 um 16 23 57](https://user-images.githubusercontent.com/3776997/72164266-a6e7bb80-33c5-11ea-9464-380c30bc4f9e.png)
Just to further explain, we always had these three steps in order to build, sign and then upload the signed APK to the Play Store or AppCenter.

---

Thanks for the explanation. Just to recap, we need to remove the second step and change the gradle tasks in

[2020-01-10 15:48] darrentaft commented on #155
Personally, I have the signing config within my build gradle (with the keys and file injected using secure parameters). If you chose this route, you'd just need to change your gradlew step to use bundleRelease instead of assembleRelease, and remove the signing step altogether.
Alternatively, you could replace the signing step with a command-line step to manually call jarsigner on the bundle.

[2020-01-15 13:19] cvb941 opened #156 "Allow release task to update metadata without uploading the AAB(s)"
Same things as in #26. The option to uncheck upload APKs is present in the APK release task but not in bundle release task.

At this point, wouldn't it be better to move updating metadata to a separate task? As far as I understand, metadata aren't related at all to the apk/aab, they are related to the store listing itself which is just one instance (and same for alpha/beta/production if I'm correc

[2020-01-21 18:11] apacha opened #157 "Step uses entire Release-Notes instead of language-specific parts for upload"
I'm supplying release notes from a text file in the following format:

[code]

The problem is that I'm getting this error in Azure Pipelines:
`[error]Error: The release created has notes in language en-US with length 755, which is too long (max: 500).`

The step seems to be checking the length but probably is counting the length of the total document instead of the length of the individual languag

[2020-01-21 18:16] apacha commented on #157
And the step apparently uploads the release-notes incorrectly and produces this in the Google Play Store:

[code]

[2020-01-21 19:58] apacha commented on #157
I just found this issue #109 which explains, why I'm getting these errors. Will try to fix it and re-open this issue if I still have issues.

[2020-01-21 19:58] #157 closed

[2020-01-22 11:53] jayanthpurushothaman opened #158 "Forbidden error with Google Play Extension"
Hi team,

Using the latest Google Play extension from the Marketplace, we receive the following error in the Azure DevOps Pipelines. We have followed the documentation provided at https://marketplace.visualstudio.com/items?itemName=ms-vsclient.google-play

[code]

Is there a way to find out why it is throwing this error?

[2020-01-28 16:42] vsaroopchand commented on #144
In our TFS 2018, we only see 2.* in the dropdown. How do we get the 3.* option to show up?

[2020-01-29 09:46] carstenhag commented on #155
Thanks @darrentaft, I ended up doing it likes this:
* Download secure file for the keystore
* Use variable groups for the keystore passwords
* Use a command line step to run jarsigner

[2020-01-29 12:04] oscarjaergren commented on #158
Had the same error. This is because your service account has not been granted access.

The service account and project must be linked here.  Make sure Linked Project is the right one.

[2020-01-29 12:57] azaricstefan commented on #144
Best solution for you would be to update TFS2018 to Azure DevOps Server latest version.
[Link for getting started with the upgrade](https://docs.microsoft.com/en-us/azure/devops/server/upgrade/get-started?view=azure-devops)

[2020-01-30 14:55] jayanthpurushothaman commented on #158
@oscarjaergren Thanks for your response. We have tried giving full permissions in both **Play Console** and **API console** and project is also linked. We used this link as a reference:

https://marketplace.visualstudio.com/items?itemName=ms-vsclient.google-play

[2020-01-30 23:06] oscarjaergren commented on #158
No idea then. Could be wrong version code? Version code must always be 1 greater than the last one when uploading to play store. Make sure it gets updated. (Looks like you're uploading a APK with versioncode 1)

[2020-02-28 03:39] SoNep opened #160 "Error when upload bundle to google play"
2020-02-28T03:18:34.3875374Z ##[section]Starting: Release  to alpha
2020-02-28T03:18:34.3901152Z ==============================================================================
2020-02-28T03:18:34.3901457Z Task         : Google Play - Release Bundle
2020-02-28T03:18:34.3901789Z Description  : Release an app bundle to the Google Play Store
2020-02-28T03:18:34.3902087Z Version      : 3.164.1
2020-02-

[2020-03-11 08:37] ruhanijeb commented on #152
I am using google play extension in azure devops to upload bundle version 3.
i am also gettting the same error.

[2020-03-13 21:54] frarteaga commented on #156
At least changelogs are specific to every AAB/APK deployment. I suggest the same as @cvb941:

Also add an input field for changelogs in the Release and Release Bundle tasks.

[2020-03-16 16:04] frarteaga commented on #156
Release Bundle task does not have an input to specify Release notes.

[2020-03-16 16:07] frarteaga opened #162 "Release Bundle task does not have an input to specify Release notes."
In the Release Task it is possible:

![imagen](https://user-images.githubusercontent.com/18072082/76777371-7bdf6680-677e-11ea-8c1f-3af74b2edb8d.png)

but in the Release Bundle task there is no such input.

[2020-04-01 04:35] khatridev opened #163 "getting error caller does not have permission"
I have all the configuration done as described for service connection on google console. Downloaded JSON has entries for **client_email** and **primary key** that I use in my pipeline. However, when I perform release bundle task, I get this errror "caller does not have permission". Am I missing any role assignment in the service connection ! currently I have provided owner and editing role.
follow

[2020-04-01 06:48] deepamhatre commented on #93
@Noglen I have created a stage 'Google Play - Release Bundle' to release my bundle to alpha track. Which is running fine. Then I created a new stage to promote this alpha track to beta using 'Google Play -Promote'.
This is promoting my bundle which I released in the first stage to beta track fine, but at the same time it is creating a new alpha track with the release name set to current date and t

[2020-04-06 13:17] cumbiman commented on #152
Same error with the code:

  - task: GooglePlayReleaseBundle@3
    inputs:
      serviceConnection: 'Google Play Connection'
      applicationId: 'xxx.xxx.xxxxx'
      bundleFile: '$(build.artifactStagingDirectory)'
      track: 'internal'
      languageCode: 'en-GB'

[2020-04-09 21:39] sixpi opened #166 "Google Play - Promote task bug"
Hi,

We use the Google Play - Promote task to promote the version in the beta track to the production track, at some small rollout percentage. This has worked well in the past, but recently (~1 month ago) it started having an additional unexpected behavior. The task still correctly promotes the current release in the beta track to production at the right rollout percentage, but it also creates a n

[2020-04-14 16:51] cofitz1 commented on #166
@leantk / @erjohnms / @lkillgore is there any status that can be shared on this?

[2020-04-15 21:03] leantk commented on #130
We will look at making the bump to v34.0.0 then. I'm not sure the details of the failed bump before but I'm marking this to be investigated

[2020-04-15 21:17] leantk commented on #154
We can look on improving the error message here

[2020-04-16 21:25] evgeniisage opened #170 "APK file not found"
Hi,

When Using the Google Play task "Google Play Release" I get the following error message:
Error: Not found apkFile: /Users/runner/runners/2.165.2/work/r1/a/xMobile/APK/DpwEmployee.apk
even despite the App Sign task completing successfully and leaving the apk in this directory.

I have added shell exec job both after "Sign APK" and before "Release" tasks with the following code:
**ls $(System.D

[2020-04-22 18:40] evgeniisage commented on #170
Hi @leantk , @erjohnms , @lkillgore, can someone please take a look into this issue? It's almost been a week. If the provided info is not sufficient, will be happy to elaborate. Thanks!

[2020-04-22 18:44] leantk commented on #170
@evgeniisage I've added it to the backlog and will try to get to it soon

[2020-04-24 13:14] egor-bryzgalov commented on #154
@andrewclaus could you please run the pipeline in diagnostics mode to provide us with additional information regarding this issue?

[2020-04-24 15:16] leantk opened #172 "Release Google Play Extension"
Before releasing, please test out this PR change (the wiki explains how to test a PR) and then merge the PR:
https://github.com/microsoft/google-play-vsts-extension/pull/165

This PR should be included in the release since an internal customer is waiting on it

[2020-04-28 09:24] MohamadMousheimish commented on #114
@Vannevelj I was using the wrong email also, but after using the generated email as you mentioned. I got

Any idea about this problem?

[2020-04-28 11:43] MohamadMousheimish commented on #163
I have the same issue here

[2020-04-28 12:10] agat366 commented on #114
Same here.

[2020-04-28 12:13] Vannevelj commented on #114
I don't remember much from when I worked on this so I won't be much help. I did write a article on my blog to document what I did so you could have a look through that and see if anything rings a bell: https://vannevel.net/posts/releasing-android-through-azure-devops

[2020-04-28 14:06] khatridev commented on #163
After getting stuck for almost 2 days, I happened to go to developer account -> API access on play console. Saw Emails/Users what I created on google cloud are lying here and waiting for approval.  I granted the access to the Email I configured in the cloud.

That's it, I did not see that error again.

[2020-04-28 16:48] anton-erofeev commented on #172
PR #165 tested, works as expected

[2020-04-29 13:57] #130 closed

[2020-04-30 14:22] egor-bryzgalov commented on #158
@jayanthpurushothaman could you please run the pipeline in diagnostics mode to provide us with additional information regarding this issue?

[2020-05-05 07:25] alexander-smolyakov commented on #170
Hello, @evgeniisage!

Thanks for your patience.

After investigation, I can't say sure what this issue about without more information. Could you please run the pipeline again with the debug option set on and send logs? Also, it would be great if you are able to provide the YAML file for your pipeline.

[2020-05-05 13:44] anton-erofeev commented on #166
Hello, @sixpi !
Could you please provide the following information:
- The sequence of tasks that you run (Release, Promote, etc) and the Inputs that you use for these tasks (including rollout percentage)
- Logs for each task (please run the pipeline with the debug option set on)
- Does this bug reproduced every deploy, or from time to time?

[2020-05-05 13:50] sixpi commented on #166
Hi @anton-erofeev, I sure can :)

* We run release to beta at 100%, followed by a promote beta -> production.
* I don't think I can get logs for the task until our next release, unless there's some way to run the release and promote tasks in "dry-run" mode. We can't just release a new APK for getting logs from the release pipeline.
* So far, the bug reproduces every time the Promote tasks runs.

[2020-05-05 18:15] sixpi commented on #166
Got some logs for the release of a different app - I couldn't see any way to run a release pipeline in debug mode though.

Release to beta task:
2020-05-05T18:10:25.2371001Z Found main APK to upload: D:/a/r1/a/Release/drop/app/build/outputs/apk/userOfficialFull/release/app-signed.apk (version code 200502230)
2020-05-05T18:10:25.3690692Z Authenticated with Google Play and getting new edit
2020-05-0

[2020-05-06 08:38] DerGary opened #176 "request to https://www.googleapis.com/oauth2/v4/token failed, reason: read ECONNRESET"
App Store Release task fails with ECONNRESET

Last known working date = 06.04.2020
Build Server Version: 2.165.0 (same version now as it was on 06.04.2020)
Task Version: 3.164.1 (same version now as it was on 06.04.2020)

I already tried:
- creating a new private key
- using our other build server
- open the url https://www.googleapis.com/oauth2/v4/token in chrome which did result in an 404 (which

[2020-05-06 14:44] raghuraamr opened #177 "Default.txt not supported for changelogs when uploading metadata from files"
The VSTS extensions for release support fastlane structure for files but this forces publishers to rename files for every release and if the release has several apks then having to create a file for each version is cumbersome. Can we have a default.txt support similar to fastlane?

[2020-05-06 17:24] #172 closed

[2020-05-07 02:16] evgeniisage commented on #170
Hi @alexander-smolyakov, please find the logs attached here:
[ReleaseLogs_Sage.zip](https://github.com/microsoft/google-play-vsts-extension/files/4590315/ReleaseLogs_Sage.zip)

And Yaml pipeline here:
[YAML.zip](https://github.com/microsoft/google-play-vsts-extension/files/4590318/YAML.zip)

Thanks!

[2020-05-07 12:15] alexander-smolyakov commented on #170
@evgeniisage, thank you for providing logs and YAML files!

As I can see from logs and YAML files you launch "Android signing" and "Google Play - Release" tasks in different pipelines. Because of this, they executed on different agents, you can see it at logs and that's why the "Google Play - Release" task can't find apk file (since signed apk file was stored on the different agent). So these task

[2020-05-07 21:52] xmashallax commented on #152
Same error here. I am using the JSON auth setting instead of the serviceConnection, extension version is 3.170, the task is GooglePlayReleaseBundle@3 and the desired track is "beta" in my case.

[2020-05-11 08:05] anton-erofeev commented on #166
Thank you @sixpi !
Could you also provide the logs after your next release?

[2020-05-11 20:26] fernandaakl opened #178 "##[error]Error: write EPROTO 140479667709760:error:140770FC:SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol:../deps/openssl/openssl/ssl/s23_clnt.c:794:"
Hi Team,

We are facing this issue in Google Play - Release task.
Please let me know if you need any other information.

Thanks

[2020-05-13 17:56] DanielHabenicht opened #179 "Internal App Sharing"
I propose to add the [internal app sharing](https://support.google.com/googleplay/android-developer/answer/9303479) to this extension.

This would enable a developer to share the apk in a fast manner.

Should this be implemented as a new task or added to the existing one?

[2020-05-15 09:52] anton-erofeev commented on #178
Hello, @fernandaakl
Does this bug occur every run, or from time to time? Could you please run the pipeline with debug mode on and provide these logs and the azure-pipelines.yml file?

[2020-05-15 12:20] baptiste-nv commented on #133
Definitely a must-have for digital agencies that create releases on behalf of their clients.
I would love to have such option.

[2020-05-15 12:33] baptiste-nv commented on #133
I would also add that the current checkbox is misleading. If I uncheck the "Roll out release" checkbox, I expect the release to... not being rolled out (in other words: being kept as draft) ;)
Should probably be renamed to "Limit rollout to a users fraction" checkbox.

[2020-05-15 15:42] egor-bryzgalov commented on #154
Closing the issue due to lack of information, please feel free to reopen it.

[2020-05-15 15:42] #154 closed

[2020-05-15 15:43] egor-bryzgalov commented on #158
Closing the issue due to lack of information, please feel free to reopen it.

[2020-05-15 15:43] #158 closed

[2020-05-18 15:54] alexander-smolyakov commented on #170
@evgeniisage, please let me know if this issue is still actual for you.

[2020-05-20 13:38] DerGary commented on #176
After replacing our Hardware Firewall it is now working again.

[2020-05-20 13:38] #176 closed

[2020-05-21 12:39] alexander-smolyakov commented on #170
Hello, @evgeniisage!

Closing now this issue due to a lack of response from you, please feel free to reopen it.

[2020-05-21 12:39] #170 closed

[2020-05-21 13:09] #178 closed

[2020-05-22 08:03] anton-erofeev commented on #178
Hello, @fernandaakl !
This error occurred when using the old version of googleapi. Therefore, the version was updated in this PR : https://github.com/microsoft/google-play-vsts-extension/pull/180. А fixed version of the task will be available in the next release.

[2020-05-22 21:35] evgeniisage commented on #170
Hi @alexander-smolyakov sorry, I was caught in other tasks and just got back to this. You were right, the issue was that I used different stages for app signing and upload to Google Play. After moving those tasks to one stage the issue was resolved. Thank you for a speedy resolution!

[2020-05-26 16:46] SEnglishSMP opened #181 "Upload of app fails with unhelpful message "Error: Missing required parameters: editId.""
We have a release pipeline we've been using for a couple years.  When attempting our latest release for internal testing, it fails to upload the new build to GooglePlay.  The error message, "Error: Missing required parameters: editId", is not helpful and provides no path forward to resolution.  I opened a case with Microsoft Support (see incident 120050721002194), and was told to create an issue h

[2020-05-28 05:44] Tommybearrr opened #182 "Google Play Release Pipeline rejecting apk upload for incorrect reason"
During the release, the pipeline gets an error stating:

2020-05-27T16:07:05.3149934Z Authenticated with Google Play and getting new edit

2020-05-27T16:07:13.9594415Z Updating track information...

2020-05-27T16:07:15.9747430Z ##[error]Error: Release is not compliant with the Play 64-bit requirement.

If I download that exact same artifact file and manually upload the apk to the Google Play Conso

[2020-06-08 17:40] anton-erofeev commented on #166
Closed due to lack of activity, please feel free to reopen.

[2020-06-09 11:41] sixpi commented on #166
Hi Anton,

I could not find a way to get the release pipeline to print out debug logs. I was looking through the code for the promote task, and noticed this line: https://github.com/microsoft/google-play-vsts-extension/blob/b24fdb4aeddce482778207ab9abc70db3cea5c75/Tasks/google-play-promote/google-play-promote.ts#L60 which seems to update the rollout percentage for the source track. It seems that t

[2020-06-09 11:42] sixpi commented on #166
@anton-erofeev I don't think I have permission to re-open this issue, since I didn't close it.

[2020-06-11 00:01] leantk commented on #181
@anatolybolshakov can we try to get this fix into the latest release before it goes out? We can sync offline on the schedule if it starts to push the release off

[2020-06-15 12:57] anatolybolshakov commented on #56
Added ability to attach obb files in [release 3.170.0 ](https://github.com/microsoft/google-play-vsts-extension/releases/tag/v3.170.0). You can find 'Upload Obb' option in 'Advanced Options' settings group - at the moment you need to locate obb file in the parent directory of apk file. Closing it as already fixed.

[2020-06-15 12:57] #56 closed

[2020-06-15 13:15] anatolybolshakov commented on #163
Thanks! So since there had been issue with permissions and it was already resolved, closing it

[2020-06-15 13:15] #163 closed

[2020-06-15 14:03] anatolybolshakov commented on #144
Hi @vsaroopchand, do you still have an issue with updating to V3?

[2020-06-15 14:35] pMesiha opened #185 "Unable to publish Alpha bundle to Google Play Store"
Hello,
I am trying to publish a bundle to Alpha channel on Google Play Store, i followed all the pre-requisites steps and published the first version manually (Status=Published).

I am currently getting the following error:
Failed to upload the bundle D:/a/r1/a/_AndriodApp_CI/XXXX/build/app/outputs/bundle/release/app-release.aab. Failed with message: Error: Access Not Configured. Google Play Devel

[2020-06-15 14:35] anatolybolshakov commented on #137
Hi @LeversonCarlos, do you still have this issue?

[2020-06-15 14:44] LeversonCarlos commented on #137
To be honest, i've been using the pipeline to publish the package to internal (this works fine), and then use the google console to promote to alpha, then beta, etc...
Promoting thought pipeline, mess something on the package and it stops been available on devices.
Tnks

[2020-06-15 15:47] anton-erofeev commented on #166
Hi, @sixpi
Do you use Team Foundation Server or Azure Devops to run your pipelines? Could you also share the version of the Promote task you are using?

[2020-06-15 15:51] sixpi commented on #166
We're using Azure Devops to run our pipeline, the promote task version is 3.170.0

[2020-06-15 15:57] anatolybolshakov commented on #137
Ok, thanks! So I'm closing it now, please feel free to reopen/create other issue if something will appear

[2020-06-15 15:57] #137 closed

[2020-06-16 10:54] anton-erofeev commented on #181
@ Hi, @SEnglishSMP
According to your logs, you are using a 2.142.0  version of the Release task. Could you please update google play extension for azure pipelines and restart the pipeline? The latest version of this task is 3.170.1

[2020-06-16 19:03] ChosenSilver commented on #166
I have been watching this thread and I just wanted to chime in to say we have the same issue,  but for Internal to Alpha rather than Alpha to Beta. We are also using Azure Devops to run the pipelines with promote task version 3.170 as well.

Releasing to the Internal track works as expected, but when we promote from the Internal Track to the Alpha Track, The internal becomes deactivated and it rev

[2020-06-19 10:12] anton-erofeev commented on #166
Hi, @sixpi , @ChosenSilver
I want to clarify one detail, do you expect that after the promotion, the previous track will remain unchanged? so after moving from alpha to beta, the alpha will not be cleared?

[2020-06-19 13:21] ChosenSilver commented on #166
My scenario us Internal->Alpha. Right now I promote my changes to Internal track so I can validate them, and then I promote to the Alpha track when I am ready for the customer to test them. My expectation would be that both the Internal track and the Alpha track have the same version, but in reality when Internal gets promoted to Alpha the Internal track gets reverted to some previous build instea

[2020-06-19 13:24] sixpi commented on #166
@anton-erofeev Yes, that would be my expectation. Our flow is to release the app onto the Beta track at 100%, and then promote it to the Production track later. I wouldn't expect the Beta track to change in any way when we do the promotion.

[2020-06-19 21:52] davux commented on #162
I think this is fixed. I'm using the Release Bundle task and there is a field for the Release notes.

[2020-06-19 21:59] davux opened #188 "Allow multilingual release notes"
The "release notes" field in Google Play is actually a multilingual field. For example, if your app supports en-US and es-ES, your release notes look like this:

[code]
However, the Release and Release Bundle tasks only use "release notes" and "language code", assuming there will only by 1 language.

I'm seeing two possible approaches for user experience:
- Accept release note files that contain t

[2020-06-20 00:01] leantk commented on #71
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-06-20 00:01] leantk commented on #65
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-06-22 07:33] #65 closed

[2020-06-22 14:45] burakocak opened #189 "Error upload bundle on Google Play Internal Test"
Hi,
I get the following error when I run it on **Mac Pro** server.

[2020-06-23 13:47] kytwb commented on #166
@sixpi Browsing through, I just found how-to enable debug logs via https://github.com/microsoft/google-play-vsts-extension/issues/36#issuecomment-273520484.

[2020-06-23 20:54] SEnglishSMP commented on #181
Yes, upgrading to 3.* fixes the issue.

[2020-06-23 20:54] #181 closed

[2020-06-24 10:03] anton-erofeev commented on #166
Hi @sixpi @ChosenSilver ,
We added the ability to disable track cleanup in this PR: https://github.com/microsoft/google-play-vsts-extension/pull/190. This feature will be available in the next release, I will let you know when it will be deployed. Thank you for your cooperation!

[2020-06-24 10:09] anton-erofeev commented on #160
Hi @SoNep ,
According to your logs, you are using a 3.164.1 version of the Release task. Could you please update google play extension for azure pipelines and restart the pipeline? The latest version of this task is 3.170.1

[2020-06-25 00:01] #71 closed

[2020-06-25 10:09] anatolybolshakov commented on #152
Hi @Asinab, do you use self-hosted or microsoft-hosted agent? Does it also spontaneously happens for you or this is a permanent issue?

[2020-06-25 10:41] anton-erofeev commented on #189
Hi @burakocak ,
One of the common causes of this error is the mismatch between the architecture of the operating system and the agent. For example, such an error can occur if you install x86 version of the agent on an x64 operating system. Could you please check which version of the agent and operating system you are using (x86 / x64) and share this information?

[2020-06-25 13:48] sixpi commented on #166
Thanks @anton-erofeev!

[2020-06-25 13:50] sixpi commented on #166
Also thanks @kytwb for the advice about how to enable debug logs!

[2020-06-25 13:53] anatolybolshakov commented on #144
@vsaroopchand I'm closing it at the moment due to inactivity - please freel free to reopen it and let us know if you still have issues with updating

[2020-06-25 13:53] #144 closed

[2020-06-26 20:59] javierjim opened #191 "Can't update metadata only without publishing the APK again"
I am using the "Google Play - Release" and "Google Play - Promote" tasks to publish releases, and promoting and that is working correctly.

However, I wanted to use also "Google Play - Release" to update our store presence only and that is not working for me. Here are my repro steps:
1. Create a new release stage with "Google Play - Release"
1. Provide mandatory "APK path" although we don't want t

[2020-06-29 08:32] anton-erofeev commented on #182
Hi @Tommybearrr ,
Do you use TFS or Azure DevOps to run your pipelines? Could you please provide a version of the Release task that you use?

[2020-07-07 18:11] sdobrodeev commented on #185
@pMesiha This issue is still actual for you? We found sumilar issue from `fastlane` project - https://github.com/fastlane/fastlane/issues/16593 .

[2020-07-07 18:19] pMesiha commented on #185
@sdobrodeev
it starts working on its own a while ago, sorry for not updating the issue in here. seems oto be an issue on Google side.

thanks a lot for the follow up

[2020-07-07 18:19] #185 closed

[2020-07-07 18:51] sixpi commented on #188
Our team would also like this feature - currently we still have to manually upload the release notes for every release.

[2020-07-08 11:06] alexander-smolyakov commented on #44
Hi, @OUeland! Is this problem still actual to you?

[2020-07-08 12:07] OUeland commented on #44
No, I am no longer working in this company so I do not know. The issue can be closed.

[2020-07-08 12:11] alexander-smolyakov commented on #44
Closing it since the problem not actual. Feel free to reopen.

[2020-07-08 12:11] #44 closed

[2020-07-08 13:26] anatolybolshakov commented on #152
Hi @Asinab, I'm closing it at the moment due to lack of activity, please feel free to reopen if this issue still appears for you

[2020-07-08 13:26] #152 closed

[2020-07-08 17:31] anton-erofeev commented on #166
Hi @sixpi @ChosenSilver ,
A new version of Google play extension was released: https://marketplace.visualstudio.com/items?itemName=ms-vsclient.google-play

[2020-07-08 17:31] #166 closed

[2020-07-10 15:03] sixpi commented on #166
Thank you @anton-erofeev !

[2020-07-14 05:52] WSSC-Jonathan opened #194 "APK file no longer uploads to Google, says it is not a valid ZIP but can manually upload OK"
Have been using this extension for a long time with no issues. Last rollout on 30th June was successful. When attempting to rollout a new version to Google Play today, I receive the response of "APK is not a valid ZIP archive". I downloaded the APK file that Azure created, and was able to upload this APK manually to Google Play which was accepted without issue.  I noted there was an update from 3.

[2020-07-14 07:03] NaveenRangu commented on #194
I also facing this issue from yesterday afternoon. yesterday's morning release was successful with out any errors. yesterday night i downloaded the same .apk and uploaded that to google play store, it was accepted without any issue.

[2020-07-14 07:05] FlorinMihalache commented on #194
I have the same issue and I used the same workaround, manually uploading the APK, which worked just fine.

[2020-07-15 04:55] WSSC-Jonathan commented on #194
I re-ran the failed tests today and the system rolled out successfully. Possibly an issue at Googles end that wasn't showing up in the status? Still using the same version of this tool 3.172.0.

[2020-07-15 05:13] FlorinMihalache commented on #194
Same here, it works fine now :-).

[2020-07-15 05:56] #194 closed

[2020-07-15 06:49] anton-erofeev commented on #182
Hi @Tommybearrr ,
Is this issue still relevant to you?

[2020-07-15 06:50] anton-erofeev commented on #160
Hi @SoNep ,
Is this issue still relevant to you?

[2020-07-15 06:50] anton-erofeev commented on #189
Hi @burakocak ,
Is this issue still relevant to you?

[2020-07-15 06:57] Tommybearrr commented on #182
@anton-erofeev
The issue is in DevOps and the version is 3.172.0 (Latest).
I have a work around to deploy to AppCenter and then to Play Store.
You are welcome to close this issue as I am happy with the work around long time, if you wish to further investigate the issue, I can provide you with more information if you require it.

[2020-07-15 07:19] SoNep commented on #160
Hi. We have some problem with uploading agent.
I will force devops team tomorrow and I will back to you by Friday.

[2020-07-16 18:08] hcknl commented on #189
Hello @anton-erofeev

Just for clarifying, you mean tfs agent by agent and macOS system arch,  am I right?

Thanks

[2020-07-17 08:44] anton-erofeev commented on #189
Hi @hcknl
Yes, you're right, that’s exactly what I mean

[2020-07-17 12:47] hcknl commented on #189
@anton-erofeev As far as I understand, we simply have a macOS machine with x86_64 mojave and agents run on it. Actually I did not understand the context of agent arch.

Btw agent version is 2.131.0

[2020-07-17 15:49] anton-erofeev commented on #189
@hcknl Could you please make sure you have Git 2.9.0 or higher installed on your machine? This error can appear if not all prerequisites are executed.
A complete list of prerequisites can be found here: [https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-osx?view=azure-devops#check-prerequisites](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-osx?view=azure-devops

[2020-07-21 21:17] titorodi commented on #188
++

[2020-07-22 10:59] sdobrodeev commented on #182
Hi @Tommybearrr. We want to investigate the problem further. Could you please provide more logs (preferably in debug mode). Thank you!

[2020-07-23 13:20] hcknl commented on #189
Hi, we already have 2.21. for the other prerequisites we need some time, thank you.

[2020-08-04 07:54] sdobrodeev commented on #182
@Tommybearrr I'm closing due to lack of activity, please feel free to reopen if issue is still actual for you.

[2020-08-04 07:54] #182 closed

[2020-08-10 11:31] anatolybolshakov commented on #160
Hi @SoNep, do you have any updates, is this issue still actual for you?

[2020-08-10 11:54] anatolybolshakov commented on #189
Hi @hcknl, this task uses Node10 execution handler, so there should be NodeJS v10.0 and higher installed on hosted machine - could you please verify which version of node is installed on your machine?

[2020-08-16 03:33] rrdesignweb opened #196 "Release notes file location - how to reference?"
Hi there, I am not sure if this is the best place to post this question but here it goes:

I have setup a CI azure-pipelines.yml script to build my .apk file with expo (react native framework/platform) and turtle-cli etc.

I also have a release going out to Google Play Store using the google-play-vsts-extension

I am trying to figure out how to add the app release notes file i.e where to add this

[2020-08-17 09:37] alexander-smolyakov commented on #196
Hi @rrdesignweb, there are two ways how to attach a changelog file to release:

1. You can select the `Update metadata`  option and specify the `Metadata root directory`. It means you need to create a folder in the repo where you will store changelog files. You can read more about the metadata folder structure in the [readme](https://github.com/microsoft/google-play-vsts-extension/blob/master/READ

[2020-08-18 23:00] rrdesignweb commented on #196
Hi @alexander-prozorov Thank you for the information! I have added the metadata folder with the change log file in my repo and tried to reference it in the release. After I did a successful rebuild from my updated repo changes then run a release I am getting this message `##[error]Error: Not found metadataRootPath: D:\a\r1\a\metadata`

<img width="686" alt="Screen Shot 2020-08-19 at 8 59 57 am" sr

[2020-08-19 06:59] alexander-smolyakov commented on #196
@rrdesignweb, could you please provide logs from your pipeline as well?

[2020-08-20 09:56] anatolybolshakov commented on #160
Hi @SoNep, jentle ping :smiley: - is this issue still actual for you?

[2020-08-20 09:56] anatolybolshakov commented on #189
Hi @hcknl is this issue still actual for you?

[2020-08-20 10:48] hcknl commented on #189
Hi, We are going to deploy new server fully upgraded then we will retry it, thank you for your help.

[2020-08-24 07:38] #191 closed

[2020-08-24 14:32] egor-bryzgalov commented on #160
Hi, @SoNep! I'm closing this issue. Please feel free to reopen it if it's still relevant for you

[2020-08-24 14:32] #160 closed

[2020-08-25 08:14] alexander-smolyakov commented on #196
@rrdesignweb, thanks for provided logs!

The `$(versioncodes)` variable evals automatically in pipeline runtime, It equal to the `versionCode` of your apk file. It meaning if the version code of your app is `4` you need to add a `4.txt` in the `changelogs` folder.

Regarding release notes updates. As I can see from the pipeline you download an artifact and extract it. By default, the GooglePlayRel

[2020-08-26 23:01] rrdesignweb commented on #196
@alexander-prozorov thanks for the reply. I think I have done what you have described but instead of using $(Agent.TempDirectory) I have used the path location where I archived my zip's. Maybe I am not understanding something?
Do I have to use $(Agent.TempDirectory)?
Both my pipeline and release are successful in archiving, finding extracting both zips (metadata and apk). However nothing is showin

[2020-08-27 09:25] alexander-smolyakov commented on #196
@rrdesignweb, as I can see from previous logs archive with metadata contains in the `a_rrdesignweb.react-native-happie-dad-jokes` folder, but in the task, you specify the `_rrdesignweb.react-native-happie-dad-jokes` folder. So could you please run the pipeline with the "[Enable system diagnostics](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops

[2020-09-01 08:20] anatolybolshakov commented on #189
Hi @hcknl do you have any updates with deployment and testing?

[2020-09-01 22:30] rrdesignweb commented on #196
Hi @alexander-smolyakov here are my logs for the pipeline and release (i am pretty sure they match up) hopefully this helps diagnose the problem. Thank you alot for your help!
[logs_52.zip](https://github.com/microsoft/google-play-vsts-extension/files/5159111/logs_52.zip)
[ReleaseLogs_55.zip](https://github.com/microsoft/google-play-vsts-extension/files/5159112/ReleaseLogs_55.zip)

[2020-09-09 10:22] rrdesignweb commented on #196
Hi there you can close this issue now as I have resolved it now.
Problem was the fastlane metadata structure being strict as I don't think it liked my metadata.zip being in the metadata folder so I changed the extraction to a different folder.
<img width="484" alt="Screen Shot 2020-09-09 at 8 19 27 pm" src="https://user-images.githubusercontent.com/4110276/92586805-18bc3000-f2da-11ea-8435-b28e2dfa

[2020-09-09 15:05] anatolybolshakov commented on #196
Thanks @rrdesignweb! I'm closing it since it's resolved

[2020-09-09 15:05] #196 closed

[2020-09-11 10:30] anatolybolshakov commented on #189
Hi @hcknl ping :smiley: Is it still actual for you?

[2020-09-11 10:53] burakocak commented on #189
hi @anatolybolshakov
The tfs azure devops migration is expected to be completed by our team. Then we will share our experiences with you.

[2020-09-14 08:47] anatolybolshakov commented on #162
Hi @frarteaga, as @davux said - this option was already added for Google bundle task, I'm closing it at the moment since it seems to be resolved - please feel free to reopen if you have some issues with it

[2020-09-14 08:47] #162 closed

[2020-09-15 23:05] rrdesignweb opened #205 "Error: Cannot update a published APK (Alpha / Beta)"
Hi there I am following on from my issue raised here:
https://github.com/microsoft/google-play-vsts-extension/issues/196

I am getting the error in my alpha/beta release track where error occurs `Error: Cannot update a published APK..` this happens after a successful Internal Test Release to the google play console. I basically following the same release tasks as my previous Pipeline and Internal

[2020-09-16 00:28] #205 closed

[2020-09-16 00:31] rrdesignweb commented on #205
Nevermind, you can delete this issue, I used the Google Play Promote Task package to achieve my goal.

[2020-09-22 07:31] SWarnberg opened #206 "Add possibility to upload release notes in promote task"
In a release workflow you often promote a release after many versions has been tested in a previous stage. Hence, the release notes when promoting a release is different from the latest release you're promoting. Therefore, please add ability to update the release notes in the promote task.

As a background, when using release stages, each stage can automatically generate unique release notes based

[2020-09-22 10:25] anatolybolshakov commented on #189
Hi @burakocak, do you any updates or ETA for this?

[2020-09-24 09:41] dan-dekel commented on #152
Same problem here with GooglePlayReleaseBundle V3.174.0. I'm using the JSON file for auth and the production track. Auth is working fine. After 4 minutes the task fails with:

Failed to upload the bundle /home/azp/agent/_work/3/android-bundle.aab. Failed with message: FetchError: request to https://www.googleapis.com/upload/androidpublisher/v3/applications/<package-name>/edits/<edit-id>/bundles?pa

[2020-10-02 08:22] anatolybolshakov commented on #189
Hi @burakocak, please let us know if it's still actual for you

[2020-10-05 16:11] anatolybolshakov commented on #189
Hi @burakocak I'm closing it at the moment due to inactivity - please feel free to reopen it if it's still actual for you

[2020-10-05 16:11] #189 closed

[2020-10-06 11:25] rvlente commented on #206
I would also really like this feature. Currently, I have to manually update the release notes for 10+ apps before promoting to the production track for every release.

[2020-10-28 20:01] trajano commented on #100
The documentation https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/android?view=azure-devops needs to be updated with this task

[2020-10-29 09:30] anatolybolshakov commented on #177
Hi @raghuraamr you can specify default.txt in metadata by the same way as for fastlane - as described here https://docs.fastlane.tools/actions/upload_to_play_store/#changelogs-whats-new - does it work for you? Do you want it to see as a task feature?

[2020-11-04 10:54] CherukuriSiva opened #207 "Can we release the 1st version to internal testers instead of uploading to Google Play Store?"
In order to automate the release of app updates to the Google Play store, you need to have manually released at least one version through the Google Play Developer Console.

[https://marketplace.visualstudio.com/items?itemName=ms-vsclient.google-play](https://marketplace.visualstudio.com/items?itemName=ms-vsclient.google-play)

manually released at least one version through the Google Play Develop

[2020-11-10 03:32] jbnexsys opened #208 "Google Play Promote Extension Not Promoting to Production from Beta/Internal Testing"
Release Logs

==============================================================================
Task         : Google Play - Promote
Description  : Promote an app from one release track to another
Version      : 3.174.0
==============================================================================
2020-10-27T09:05:34.4033265Z Authenticating with Google Play
2020-10-27T09:05:35.3358351Z Getting inform

[2020-11-10 11:26] anatolybolshakov commented on #177
Hi @raghuraamr is it still actual for you?

[2020-11-10 19:35] wpsun-shipperbee opened #209 "Release to Internal"
Trying to Release to Internal, get the following error message. I definitely incremented my version code.

I am assuming it's something I missed, but I am lost as to what. Any advice will be much appreciated.

[code]

[2020-11-11 14:16] anatolybolshakov commented on #177
Hi @raghuraamr I'm closing it due to inactivity at the moment - please feel free to reopen it if it's still actual for you

[2020-11-13 01:09] liumiaojq opened #210 "Failed to upload the deobfuscation file"
Hi,

We have set up a ADO pipeline to release our app to Google play store and it works fine till today. We don't change anything but get the following error:

2020-11-13T00:31:27.8716691Z ##[section]Starting: Release  to production 10%
2020-11-13T00:31:27.8850893Z ==============================================================================
2020-11-13T00:31:27.8851252Z Task         : Google Play

[2020-11-13 09:40] anatolybolshakov commented on #210
Hi @liumiaojq do you use self-hosted or ms hosted agent? Could you please also share logs in diagnostic mode?

[2020-11-14 12:47] #209 closed

[2020-11-16 13:14] anatolybolshakov commented on #209
Hi @wpsun-shipperbee was this issue resolved for you?

[2020-11-16 13:17] wpsun-shipperbee commented on #209
@anatolybolshakov , it did not. I went with a different approach. So I don't need the answer to this question any more.

[2020-11-16 18:52] liumiaojq commented on #210
I'm using hosted agent. Can you let me know how can I get logs in diagnostic mode? Please note this only happens in our release to production pipeline and I'm not able to run it again until our next production roll out.

[2020-11-17 10:28] anatolybolshakov commented on #207
Hi @CherukuriSiva, yes, you can release to internal app testers first time manually, and after that automate this using extension.

[2020-11-17 14:03] anatolybolshakov commented on #210
@liumiaojq for release pipeline you can set System.Debug variable as 'true' - to enable diagnostic mode

[2020-11-17 18:46] liumiaojq commented on #210
I'm able to repro when releasing to internal test track. Here are the logs in diagnostic mode:

2020-11-17T18:35:19.9693265Z ##[debug]Evaluating condition for step: 'Release  to internal test debug'
2020-11-17T18:35:19.9695186Z ##[debug]Evaluating: succeeded()
2020-11-17T18:35:19.9695712Z ##[debug]Evaluating succeeded:
2020-11-17T18:35:19.9696916Z ##[debug]=> True
2020-11-17T18:35:19.9698058Z ##[d

[2020-11-20 15:31] anatolybolshakov commented on #207
@CherukuriSiva I'm closing it at the moment, please feel free to reopen if you have any further questions here.

[2020-11-20 15:31] #207 closed

[2020-12-08 22:10] sixpi commented on #188
Ping - any plans to support multilingual release notes?

[2020-12-10 13:57] anatolybolshakov commented on #188
Hi everyone, we are currently working on more prioritized issues at this moment, but planning to pick it up as soon as we have bandwidth for it.

[2021-01-13 00:33] liumiaojq commented on #210
Hello, is there any progress? This still repros consistently. Let me know what I can help here

[2021-01-20 12:05] tdekoning opened #220 "Feature request: Add support for inAppUpdatePriority"
Google supplies a way to add an `inAppUpdatePriority` to the upload of each apk or aab file, this essentially means that the app can make use of the [In app updates](https://developer.android.com/guide/playcore/in-app-updates) mechanism of Android, including the fine-grained method of specifying what the importance is of each deploy.

For this to properly work, the priority needs to be specified p

[2021-01-21 22:40] JrgSirr opened #222 "Error: <!DOCTYPE html> using Google Play - Release Bundle Task"
Im having an issue at the end of the Google Play - Release Bundle task and this is the error:

`2021-01-21T20:05:27.0726036Z ##[section]Starting: Release Bundle to internal
2021-01-21T20:05:27.0844930Z ==============================================================================
2021-01-21T20:05:27.0845258Z Task         : Google Play - Release Bundle
2021-01-21T20:05:27.0845543Z Description  : Re

[2021-01-22 09:52] anatolybolshakov commented on #222
Hi @JrgSirr does it happen constantly or is this some intermittent error?

[2021-01-22 14:19] JrgSirr commented on #222
Hi @anatolybolshakov, it happend with the first execution of that release task.

[2021-01-22 17:12] ka05 commented on #222
I am also experiencing this issue:

Starting: GooglePlayReleaseBundle
==============================================================================
Task         : Google Play - Release Bundle
Description  : Release an app bundle to the Google Play Store
Version      : 3.174.0
Author       : Microsoft Corporation
Help         : ms-resource:loc.helpMarkDown
=========================================

[2021-01-24 15:44] NPadrutt commented on #222
Same here. As @ka05  mentioned, the package was uploaded correctly despite the error.

[2021-01-25 13:48] evilpilaf commented on #222
We're facing the same issue as @NPadrutt and @ka05 mention.

[2021-01-25 16:11] JrgSirr commented on #222
@ka05, have you recently tried to release a bundle using this task?

[2021-01-26 00:31] ka05 commented on #222
@JrgSirr Earlier today I re-ran my pipeline and this task did succeed!

Does anyone have any info on why this happened or how likely it is to occur again?

[2021-01-26 00:35] JrgSirr commented on #222
@ka05 yeap, that's why i wanted to confirm. I also re-ran my pipeline and passed without that previous error.

[2021-01-26 08:18] chowarth commented on #222
Seeing this same error across multiple pipelines using the `Google Play - Release Bundle Task` when pushing a build to the internal test track.

As @NPadrutt already mentioned, we are also seeing that the packages have been uploaded to the PlayStore correctly when viewing the internal test track.

[2021-01-26 10:10] max-zaytsev commented on #222
It looks like the issue related to [Google Cloud Incident](https://status.cloud.google.com/incident/cloud-dns/21001) and not to the task itself. It was created almost at the same time this issue was opened.

[2021-01-26 19:20] anatolybolshakov commented on #222
@chowarth do you still face with this issue?

[2021-01-26 22:04] JrgSirr commented on #222
@anatolybolshakov

- Internal test track: same issue

- Alpha track: no errors

[2021-01-27 09:29] alexander-smolyakov commented on #222
@JrgSirr, could you please re-run the pipeline with the “[Enable system diagnostics](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops#configure-verbose-logs)” option enabled and share the following information:
- YAML file of your pipeline
- Full pipeline logs with system diagnostics information
- What type of agent are you using? (Self-hosted o

[2021-01-29 16:57] kkalisz opened #231 "Deobfuscation path visible only if Update Metadata is selected"
**Task:**
Google Play - Release

**Issue**:
"Deobfuscation path" field is visible only if "Update metadata" checkbox is set

**Expected behaviour:**
"Deobfuscation path" visible even without "Update metadata" checkbox set

**Investigation:**
It looks that visibility rule is fine

But I think that issue may be related to this PR [193](https://github.com/microsoft/google-play-vsts-extension/pull/193

[2021-01-29 18:23] kkalisz commented on #93
Do you have any plans to work on that ?
Our use case is that we have release pipeline that releases apk to internal track,  after some tests we manually trigger stage that promotes app to production. (Everything is done in single release pipeline)

The problem is that we never can 100% sure what version is promoted.

In practice the is no problem, but to be SOC 2 compliant we need to be 100% sure

[2021-01-30 18:44] Totot0 opened #232 "Error package not found when using Google Release Bundle"
I use the Google play Release bundle task on Azure Devops. I’m halfway to my aab file. I’m asked to fill in my ApplicaitonId. So I have mi the value that is in my manifest package name: com.myApp

Unfortunately I block on the following error: Package not found

[2021-01-31 17:38] anatolybolshakov commented on #93
Hi @Noglen @deepamhatre @kkalisz would it work for you if there will be some input like 'Release name' - which would allow to filter and select which release to promote?

[2021-02-01 14:38] chowarth commented on #222
We've not been seeing the issue for the last few days.

[2021-02-01 16:41] anatolybolshakov commented on #232
Hi @Totot0 could you please share logs containing this error?

[2021-02-01 16:44] kkalisz commented on #93
Hi @anatolybolshakov

Depending of implementation it should work.
But I'm not sure if we can provide some reliable filer/search functionality as in most cases during creation of pipeline definition we don't have any informations about future versions.

From my perspective these are 3 key points that are needed ( at least in my use case):
I would like to have optional "Release name" field where I c

[2021-02-02 12:03] mohit1993 opened #233 "Force upgrade option with azure dev ops build pipeline"
Hi all,

I am looking for api, or flag in json which can force update my app on google play store , which will be equivalent to inAppUpdatePriority on Google Play Developer API.
I have integrate code to support that in my android app, just wonder how can i set priority of my release while uploading apk.

[2021-02-02 13:48] anatolybolshakov commented on #233
Hi @mohit1993 currently there's no support for this parameter in Googe play release task, but since googleapis already [supports](https://github.com/googleapis/google-api-nodejs-client/issues/2186) for this - this would be a good enhancement. We will keep you updated about the progress regarding this feature.

[2021-02-03 04:42] mohit1993 commented on #233
Ok i get it, we are near close to release our app to play store now, Is there any way that we can do force update with release Task or DevOps? Similar to what play store provides.
We are building Microsoft whiteboard Android app. I think we can use ECS/Control tower but is there any way which provides automatic handling of UI etc.

[2021-02-03 07:47] alexander-smolyakov commented on #222
@JrgSirr, is this issue still actual to you?

[2021-02-03 10:06] anatolybolshakov commented on #233
@mohit1993 unfortunately there's no way to do it using task at the moment.
You can use google api directly in a pipeline to achieve this.

[2021-02-03 10:30] mohit1993 commented on #233
What do you mean by "You can use google api directly in a pipeline to achieve this"
As we are planning to use DevOps Service to build and release app on google play store we can only control parameters for DevOps environment. I am not able to find any api in azure devops services to enable force upgrade.
Kindly put some light on to it how we can use google api directly in a pipeline.

[2021-02-03 14:15] ka05 commented on #222
I have also not seen this issue in the past few days.

[2021-02-04 15:51] anatolybolshakov commented on #210
@liumiaojq is 'D:/a/r1/a' intended to be deobfuscation file for you application? According to EISDIR error - it seems to be the directory instead of a file

[2021-02-05 15:03] anatolybolshakov commented on #222
Hi everyone, let me close this issue since it seems to be resolved and was related to issue on Google Cloud side - please let us know if it's still actual for you.

[2021-02-05 15:03] #222 closed

[2021-02-09 17:08] alexander-smolyakov commented on #231
Hey @kkalisz, a [PR](https://github.com/microsoft/google-play-vsts-extension/pull/237) with the fix was merged. The fix will be shipped with the next release of the extension.

[2021-02-10 20:08] anatolybolshakov commented on #232
Hi @Totot0 is this issue still actual for you?

[2021-02-15 10:51] anatolybolshakov commented on #232
Hi @Totot0 I'm closing this due to inactivity at the moment - please let us know if it's still actual for you.

[2021-02-15 10:51] #232 closed

[2021-02-15 10:53] anatolybolshakov commented on #210
Hi @liumiaojq is this issue still actual for you?

[2021-02-18 09:39] anatolybolshakov commented on #210
@liumiaojq closing this due to inactivity - please feel free to reopen or ask any further questions.

[2021-02-18 10:30] anatolybolshakov commented on #233
@mohit1993 you can do this manually via script, although I agree this is no a plain way to do this.
We are planning to implement this enhancement soon, but working currently on more prioritized issues - please feel free to contribute if you already have a vision of how to implement this.

[2021-02-18 11:31] anatolybolshakov commented on #210
@liumiaojq I'm closing this due to inactivity - this issue is not reproducible for us - please feel free to reopen or ask any further questions.

[2021-02-22 08:13] BryanSharp opened #240 "Support for halting current in-progress release"
This will enable us to halt a buggy release

[2021-02-23 13:12] Rrusl opened #241 "Choosing the suitable application for deployment *.apk package."
Hi,

I have one project in google play and three applications.
How can I choose separated application for deployment new beta version by Azure pipeline using your extension (Google Play - Release).
I see following rows:
- Authentication
- APK path
- Track
and others, but I can't find application name row.
As result I can't manage properly what apk file should be deployed to which application.

Cou

[2021-02-24 07:24] EzzhevNikita commented on #241
@Rrusl Google play release task automatically receives application id from the APK file that was passed as a parameter, so no need to pass the app id separately. The task will update an app to which the APK file belongs.

[2021-02-24 10:32] Rrusl commented on #241
Oh, fine.

Thank you for quick response.

[2021-02-24 12:41] EzzhevNikita commented on #241
@Rrusl Can we close this item, or you have any additional questions?

[2021-02-25 05:43] Rrusl commented on #241
HI,

Yes, I have an additional question.
What role should have my service account in google play for auto deployment new versions of my application to google play?

[2021-02-25 09:22] EzzhevNikita commented on #241
@Rrusl You can take a look in [Fastlane docs](https://docs.fastlane.tools/actions/upload_to_play_store/#setup) how you need to setup your service account.

[2021-02-25 09:54] Rrusl commented on #241
Thank you, I have solved the issue.

You can close this item.

[2021-02-25 09:54] #241 closed

[2021-02-25 10:04] bluekyu opened #243 "Feature Request: Add support to upload multiple app bundle (AAB)"
When using multiple version (ex, API level) in build variant, multiple app bundles are built.
In this case, a release can have multiple app bundle files.

References:
- https://developer.android.com/guide/app-bundle#aab_format
- https://developer.android.com/studio/build/build-variants
- https://discuss.bitrise.io/t/deploy-multiple-aab-android-app-bundles-with-a-single-step/11848

[2021-02-26 11:02] SebastienForay commented on #220
I'm waiting too for this feature to be added ! Would be really appreciated :D

[2021-02-26 14:38] SebastienForay commented on #220
PR is my suggestion for adding inAppUpdatePriority support.
Only for APKs as AppBundle task isn't imlemented the same way.

[2021-02-26 14:54] SebastienForay commented on #233
Hi !

Is issue #220 equivalent to what you need ? I've made a PR (#246 ) to add inAppUpdatePriority support when releasing new APKs :)

[2021-02-26 22:04] liumiaojq commented on #210
@anatolybolshakov Sorry for late response. I got more clues from the logs. Can you reopen this issue?

The extension correctly picked up the apk in the path I provided, but it attempted to find the mapping file in a different path:

2021-02-26T03:44:25.1457035Z ##[debug]**Uploaded D:/a/r1/a/XXXXXX-CI/ProductionLtw21Release/XXX-1.12345.67.0.apk** with the version code xxxxxx
2021-02-26T03:44:25.145

[2021-03-01 10:58] tdekoning commented on #220
@SebastienForay nice to see you've created the update to add the ability!

I haven't looked into the internals of the tasks, but would this also be possible to include this in the app-bundle variant? This will be very usefull, seeing Google is going to require everyone to upload aab files soon.

[2021-03-01 11:08] SebastienForay commented on #220
@tdekoning That was my first dive in TypeScript, so I may have missed or misunderstood some things, but one thing I'm sure is that my PR WORKS for APKs, I've successfully got the _inAppUpdatePriority_ value with PlayCore 👌

I'll try to improve it for App Bundles (as I'll also have to migrate to this). I'm waiting to see what project maintainers think of it :)

[2021-03-01 12:03] tdekoning commented on #220
@SebastienForay Ahh i see, i've scanned the code of the task and they seem awfully similar, so hopefully it will only take a copy paste action from your changes.

Do you think you have time for this? If not, then i can see if i can make some time free to port your change to the bundles task.

But i wouldn't want to steal your thunder 😂

[2021-03-01 12:06] SebastienForay commented on #220
@tdekoning Did you already moved to AppBundle ?

[2021-03-01 12:09] tdekoning commented on #220
@SebastienForay yes, at Q42 we use app bundles for (almost) all our apps, including the ones with many users.
It helps reduce the size of the package for the user and allows you to use dynamic feature modules (instant apps!).

[2021-03-01 12:11] SebastienForay commented on #220
@tdekoning I should have worked on it until end of week :)

[2021-03-02 09:03] anatolybolshakov commented on #210
@liumiaojq sure, reopening this - let us take a look

[2021-03-02 12:46] SebastienForay commented on #220
@tdekoning Hey ! I've updated my PR with the appropriate changes in GooglePlayReleaseBundle task to add inAppUpdatePriority support :)
I've tested in my CI build + release pipelines and I got the update in app 👍

Now, I have no idea if it will be merged as is or if more work will be needed, and when it'll be merged 😄

ps: you can build and deploy the PR yourself if you really need it ASAP (https:/

[2021-03-02 12:48] tdekoning commented on #220
@SebastienForay You are a true hero! 😄

[2021-03-02 12:49] SebastienForay commented on #220
I absolutely NEED this in my CI 🙈

[2021-03-04 11:47] stringsz commented on #176
I am facing almost the same issue.

Because the task's request is not going through the proxy!! is there a way that i can force the task the follow my proxy settings?

i am getting the following error :

`##[error]FetchError: request to https://www.googleapis.com/oauth2/v4/token failed, reason: connect ETIMEDOUT 172.217.19.170:443`

[2021-03-05 17:56] anatolybolshakov commented on #176
Hi @stringsz could you please try to specify HTTP_PROXY or HTTPS_PROXY environment variable to set it up? (depending on url of your proxy)

[2021-03-09 22:26] liumiaojq commented on #231
@alexander-smolyakov Is there an ETA when this fix is shipped? I have another issue #210 where it fails to find the correct mapping file, and this fix could help to work around by explicitly specifying mapping file path

[2021-03-10 00:26] liumiaojq commented on #188
+1 for this feature. This is the last step to fully automate our release pipeline to Google play store

[2021-03-12 03:29] BiliBoomBo opened #249 "Upload symbols with release task"
Hello, I'm using release task to upload my app to google play store, but I don't find anyway to upload native debug symbols together, do I miss it or it haven't supported that?

[2021-03-14 07:50] stringsz commented on #176
@anatolybolshakov , I tried to add this info, but then the whole tasks began to fail due to the proxy connection issues. I saw that the agent was configured with the proxy.

[2021-03-15 10:06] anatolybolshakov commented on #249
Hi @BiliBoomBo this feature is not supported yet, but we are planning to add this soon.

[2021-03-16 13:42] anatolybolshakov opened #251 "Check possibility to upload apks for several architectures"
We need to check if it's possible to upload native debug symbol and deobfuscation files for several architectures (for example - for arm and arm64 in one task).

[2021-03-17 02:35] BiliBoomBo commented on #249
Got it, thanks.

[2021-03-17 15:25] blundell opened #252 "Internal Error Encountered - :shrug:"
![image](https://user-images.githubusercontent.com/655860/111492892-fac20300-8734-11eb-89a4-b63e86350448.png)

Could you improve your error messaging. How am I supposed to act on this? Please advise :-)

[2021-03-18 09:03] anatolybolshakov commented on #252
Hi @blundell there seem to be some error coming from google api - could you please re-run it in debug mode?

[2021-03-29 14:26] blundell commented on #252
Sorry this was an intermittent error, it happened for about 30 minutes then resolved itself. It also happened a couple of weeks before that. If it happens again I can run in debug.

But for sake of this issue, it would be really nice to have better error messaging. Especially if it was to say "Potentially Google API error." Because then I can go chase the right ppl for the fix :-)

[2021-03-31 14:24] Bonnyfication opened #256 "Task GooglePlayReleaseBundle fails to upload ReleaseBundle to internal track"
### Enviroment:
- Azure Server 2019 (Self hosted)
- Self hosted agents on macOS Bug Sur | Version 11.2.3
- Google Play Store Extension | Version 3.179.0
- Pipelines build with .yaml
- Flutter Application
- Internal Track is already setup and a test bundle has already been published to testers on internal track
- Application is NOT ready to be released and so we did not submit it for review (idk if

[2021-04-01 06:01] Bonnyfication commented on #256
Hello again. So i did find some more information but i am still unsure what to do and why i should do it. It does not make any sense to me.

So apperently the app is in draft mode as long as i dont "release" it? Do i really have to promote it to alpha or something else to be able to use this package?

Related links:
- [Only releases with status draft may be created on draft app](https://stackoverf

[2021-04-01 07:27] Bonnyfication commented on #256
### Solution
Turns out you have indeed to promote a apk or release-bundle to the Alpha (Closed Track). The Status of the app changes from draft to closed test and you can upload the app using this extension.

Setps:

1. Finish tasks required to release closed test (Google Play Console Dashboard)
2. Promote or release App to Closed Test
3. You dont have to wait for review. You can upload internal t

[2021-04-01 07:27] #256 closed

[2021-04-01 07:38] Bonnyfication opened #257 "Feature request: Input paramater to define Release-Name | GooglePlayReleaseBundle"
### Request
I would like to define a Release-Name for the Task GooglePlayReleaseBundle as an input.

### Current Situation
A release-bundle uploaded with the Task GooglePlayReleaseBundle gets uploaded with the app version as name.
This results in a displayed name of: **1.0.0**

### Expected default
If i upload an release-bundle manually, google sets the name in the format of buildNumber (version)

[2021-04-02 00:31] AntRemo opened #259 "Error: Input required: authType"
Hi!

After updating to 3.185.1 getting error during execution.

Worked properly earlier today on 3.174.0

Is there anyway to revert back to 3.174.0?

![image](https://user-images.githubusercontent.com/700388/113366904-8b4d3580-9328-11eb-864f-1a4102490234.png)

Hopefully it can be resolved soon 🤞
Thanks 🙏

[2021-04-02 01:14] AntRemo commented on #259
For now I just copied 3.174.0 folder contents into the 3.151.1 folder.

Then updated the version code in the various json files and it works.

[2021-04-02 09:09] smardine commented on #259
same issue from 3.174 to 3.185.1

[2021-04-02 09:52] alexander-smolyakov commented on #259
Hey, @AntRemo, @smardine! Could you please re-run the pipeline with the “[Enable system diagnostics](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops#configure-verbose-logs)” option enabled and share the following information:
- Azure DevOps / TFS version
- Pipeline agent version
- [Pipeline logs with system diagnostics information](https://docs

[2021-04-02 19:49] alexander-smolyakov commented on #231
@kkalisz, @liumiaojq a [release](https://github.com/microsoft/google-play-vsts-extension/releases/tag/v3.185.0) with the fix has been published. I am closing it at the moment, if the problem still appears, feel free to reopen it.

[2021-04-02 19:49] #231 closed

[2021-04-02 21:05] AntRemo commented on #259
@alex-peck I will see if I am allowed to share logs.

In the meantime, I am using v2.131.0 of agent.

TFS Version 16.131.28601.4

[2021-04-05 10:16] anatolybolshakov commented on #259
@AntRemo thanks! As an option - you can send them to my email so we could investigate it - v-anbols@microsoft.com

[2021-04-12 07:30] flbaue commented on #133
That this configuration is missing, is quite a bummer. We use an app id that is only for internal testing, so the configuration in Google Play will always be as 'draft'. Because of this, it is not possible to upload the app with this task.

[2021-04-15 08:38] smardine commented on #259
Hello, the same problem exist in the "Promote" task, as a workaround, i found that , in the task folder, i can modify the task.json file

from
`"execution": {
        "Node10": {
            "target": "google-play-promote.js",
            "argumentFormat": ""
        },
        "PowerShell": {
            "target": "$(currentDirectory)\\google-play-promote.ps1",
            "argumentFormat": "",

[2021-04-19 13:35] anatolybolshakov commented on #259
Hi everyone! We are looking into this issue at the moment, as as workaround - you can update agent to the last version, you just need to set 'AZP_AGENT_DOWNGRADE_DISABLED' environment variable to 'true' before update - so there won't be downgrade to current agent version for on-premise solution.

[2021-04-23 12:23] max-zaytsev commented on #259
Hi @AntRemo,
This issue related to the old agent version and the old PowerShell execution handler.
We are going to increase the minimum agent version for google play tasks and get rid of outdated  PS handler in the next release. So closing the ticket for now.

[2021-04-23 12:23] #259 closed

[2021-05-01 17:42] TheObliterator commented on #133
I think I'm hitting the same limitation.

Trying to publish our app to an internal track but get the following error:
**##[error]Error: Only releases with status draft may be created on draft app.**

Surely publishing to the internal track needs to flag it as draft?
We're not yet ready to publish to a release track yet, but can't say a way to overcome this error.

=================================